$icons: (
        sprite: (width: 521px, height: 530px, pngPath: '../images/svg/sprite.png', svgPath: '../images/svg/sprite.svg'),
btn-arrow: (width: 12px, height: 12px, backgroundX: 0px, backgroundY: 0px),
btn-arrow-d: (width: 12px, height: 12px, backgroundX: -12px, backgroundY: -12px),
btn-user: (width: 12px, height: 12px, backgroundX: -24px, backgroundY: -24px),
check: (width: 14px, height: 10px, backgroundX: -36px, backgroundY: -36px),
checked: (width: 14px, height: 10px, backgroundX: -50px, backgroundY: -46px),
download-icon: (width: 21px, height: 20px, backgroundX: -64px, backgroundY: -56px),
fb: (width: 11px, height: 18px, backgroundX: -85px, backgroundY: -76px),
file: (width: 17px, height: 22px, backgroundX: -96px, backgroundY: -94px),
file-flag: (width: 14px, height: 18px, backgroundX: -113px, backgroundY: -116px),
file-flag-gray: (width: 20px, height: 27px, backgroundX: -127px, backgroundY: -134px),
inst: (width: 16px, height: 16px, backgroundX: -147px, backgroundY: -161px),
ok: (width: 12px, height: 18px, backgroundX: -163px, backgroundY: -177px),
play: (width: 74px, height: 74px, backgroundX: -175px, backgroundY: -195px),
play-main: (width: 83px, height: 82px, backgroundX: -249px, backgroundY: -269px),
play-mini: (width: 44px, height: 44px, backgroundX: -332px, backgroundY: -351px),
plus: (width: 26px, height: 26px, backgroundX: -376px, backgroundY: -395px),
popup: (width: 20px, height: 20px, backgroundX: -402px, backgroundY: -421px),
reset-filter: (width: 10px, height: 11px, backgroundX: -422px, backgroundY: -441px),
search: (width: 20px, height: 20px, backgroundX: -432px, backgroundY: -452px),
slider-arrow-next: (width: 11px, height: 19px, backgroundX: -452px, backgroundY: -472px),
tw: (width: 18px, height: 15px, backgroundX: -463px, backgroundY: -491px),
vk: (width: 20px, height: 11px, backgroundX: -481px, backgroundY: -506px),
youtube: (width: 20px, height: 13px, backgroundX: -501px, backgroundY: -517px),
);