.content {
  &.example-bench-sitek-page {
    section {
      &.primary-section {
        .section {
          &__title {
          }
          &__inner {
            padding-top: 50px;
            padding-bottom: 20px;
            position: relative;
            .add-field {
              font-size: 14px;
              line-height: 21px;
              color: #0c4da2;
              font-style: italic !important;
              position: absolute;
              top: 0px;
              cursor: pointer;
              @include firasans-normal;
              svg {
                margin-right: 10px;
              }
            }
          }
          &__slider {
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 60px;
          }
          &__info {
            display: flex;
            &-left {
              font-size: 16px;
              line-height: 24px;
              color: #333333;
              @include firasans-normal;
              width: 60%;
              padding-right: 30px;
            }
            &-right {
              width: 40%;
              .download-link {
                font-size: 14px;
                line-height: 21px;
                @include firasans-normal;
                color: #0c4da2;
                display: flex;
                align-items: center;
                padding-left: 16px;

                svg {
                  padding: 10px;
                  width: 48px;
                  height: 48px;
                  background-color: #fff;
                  -webkit-border-radius: 4px;
                  border-radius: 4px;
                  margin-right: 8px;
                  box-shadow: 0 0 6px rgba(12, 77, 162, 0.2);
                }
              }
            }
            .block-desc {
                display: flex;
              padding-top: 50px;
              padding-bottom: 50px;
              position: relative;
              &:before {
                  content: '';
                  display: block;
                  width: 100vw;
                  height: 100%;
                  top: 0;
                  right: 50%;
                  background-color: rgba(12, 77, 162, 0.07);
                  position: absolute;
              }
                .block-left {
                    width: 40%;
                    font-size: 16px;
                    line-height: 24px;
                    @include firasans-normal;
                    padding-right: 30px;
                }
                .block-right {
                    width: 60%;

                    img {
                        max-width: 420px;
                        max-height: 240px;
                    }
                    .download-link {
                        font-size: 14px;
                        line-height: 21px;
                        @include firasans-normal;
                        color: #0c4da2;
                        display: flex;
                        align-items: center;
                        padding-left: 16px;
                        position: absolute;
                        bottom: 0;
                        right: 15%;
      
                        svg {
                          padding: 10px;
                          width: 48px;
                          height: 48px;
                          background-color: #fff;
                          -webkit-border-radius: 4px;
                          border-radius: 4px;
                          margin-right: 8px;
                          box-shadow: 0 0 6px rgba(12, 77, 162, 0.2);
                        }
                      }
                }
            }
          }
        }
      }
      &.projects-section {
        .section {
          &__inner {
            padding-top: 60px;
            padding-bottom: 60px;
          }
          &__title {
            font-size: 32px;
            line-height: 45px;
            color: #333333;
            @include firasans-bold;
            margin-bottom: 40px;
            text-align: center;
          }
          &__table {
            width: 100%;
            box-shadow: 0px 0px 18px rgba(171, 171, 175, 0.45);
            border-radius: 10px;
            padding: 15px 10px;
            position: relative;

            z-index: 100;
            background-color: #fff;
            overflow: hidden;
            .table {
              font-size: 14px;
              line-height: 21px;
              color: #333333;
              position: relative;
              thead {
                th {
                  border-top: none;
                  @include firasans-bold;
                }
              }
              td {
                border-right: 1px solid #dee2e6;
                @include firasans-normal;
                .link {
                  font-size: 14px;
                  line-height: 21px;
                  color: #0c4da2;
                  padding: 5px 8px;
                  background: rgba(92, 128, 188, 0.2);
                  border-radius: 6px;
                  @include firasans-normal;
                }
                &.left {
                  width: 30%;
                }
                &.center {
                  width: 40%;
                }
                &.right {
                  width: 30%;
                }
                &:last-child {
                  border-right-color: transparent;
                }
              }
            }
          }
        }
      }
      &.model-row-section {
        .section {
          &__title {
            font-size: 32px;
            line-height: 45px;
            color: #333333;
            @include firasans-bold;
            margin-bottom: 40px;
            text-align: center;
          }
          &__inner {
            padding-top: 60px;
            padding-bottom: 60px;
            position: relative;
            &::before {
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              display: block;
              width: 100vw;
              height: 100%;
              content: '';
              background: rgba(12, 77, 162, 0.07);
              z-index: -1;
            }
            &::after {
              position: absolute;
              top: 0;

              right: 100%;

              display: block;
              width: 100vw;
              height: 100%;
              content: '';
              background: rgba(12, 77, 162, 0.07);
              z-index: -1;
            }
            .button-wrap {
              margin-top: 30px;
              display: flex;
              align-items: center;
              justify-content: center;

              font-size: 16px;
              line-height: 24px;
              color: rgba(12, 77, 162, 0.6);
              display: flex;
              align-items: center;

              &:hover {
                cursor: pointer;
                .arrow-down {
                  background: rgba(12, 77, 162, 0.2);
                  transition: 0.3s;
                }
              }
              .arrow-down {
                height: 46px;
                width: 46px;
                border-radius: 50%;
                background: rgba(12, 77, 162, 0.07);
                position: relative;
                display: inline-block;
                margin-left: 10px;
                svg {
                  position: absolute;
                  top: 50%;
                  margin-top: -5px;
                  left: 50%;
                  margin-left: -9px;
                }
              }
            }
          }
          &__info {
            .model-row {
              display: flex;
              justify-content: space-between;
              margin-left: -10px;
              margin-right: -10px;
              .list-item {
                width: 33.33333%;
                margin-bottom: 20px;
                padding-left: 10px;
                padding-right: 10px;
                &__top {
                  display: block;
                  position: relative;
                  &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.4);
                    border-radius: 10px 10px 0px 0px;
                  }
                  .text {
                    font-size: 20px;
                    line-height: 26px;
                    @include firasans-bold;
                    text-transform: uppercase;
                    color: #fff;
                    bottom: 24px;
                    left: 24px;
                    position: absolute;
                  }
                  svg {
                    position: absolute;
                    top: 20px;
                    left: 25px;
                  }
                  img {
                    border-radius: 10px 10px 0px 0px;
                  }
                }
                &__bottom {
                  padding: 5px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #fff;
                  border-radius: 0px 0px 10px 10px;
                  .table {
                    font-size: 14px;
                    line-height: 14px;
                    color: #333333;
                    thead {
                      @include firasans-bold;
                      th {
                        border-top: none;
                      }
                    }
                    td {
                      @include firasans-normal;
                      border-right: 1px solid #dee2e6;
                      &:last-child {
                        border-right-color: transparent;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.table-section {
        .section {
          &__inner {
            padding-top: 60px;
            padding-bottom: 60px;
          }
          &__table {
            margin-bottom: 60px;
            &-title,
            &-subtitle {
              text-align: center;
              @include firasans-bold;
              font-size: 26px;
              line-height: 36px;
              color: #333333;
              margin-bottom: 16px;
            }
            &-subtitle {
              margin-bottom: 32px;
              font-size: 16px;
              line-height: 24px;
              @include firasans-normal;
            }
            .table-block {
              width: 100%;
              box-shadow: 0px 0px 18px rgba(171, 171, 175, 0.45);
              border-radius: 10px;
              padding: 15px 10px;
              position: relative;

              z-index: 100;
              background-color: #fff;
              overflow: hidden;
              .table {
                position: relative;
                thead {
                  th {
                    border-top: none;
                  }
                  .title {
                    img {
                      max-width: 120px;
                      max-height: 90px;
                      margin-bottom: 10px;
                    }
                    span {
                      display: block;
                    }
                  }
                }
                td {
                  border-right: 1px solid #dee2e6;
                  &:last-child {
                    border-right-color: transparent;
                  }
                }
              }
              .table-wrap {
                width: 66px;
                height: 66px;
                background-color: rgba(12, 77, 162, 0.07);
                border-radius: 100%;
                position: absolute;
                bottom: -33px;
                left: 50%;
                margin-left: -33px;
                svg {
                  position: relative;
                  top: -12px;
                }
              }
            }
            .details-list {
              display: flex;
              justify-content: space-between;
              margin-left: -10px;
              margin-right: -10px;
              background: #ffffff;
              position: relative;
              overflow: hidden;
              border-radius: 10px;
              box-shadow: 0 0 18px rgba(171, 171, 175, 0.45);
              padding: 25px 20px;
              padding-bottom: 50px;
              .table-wrap {
                width: 66px;
                height: 66px;
                background-color: rgba(12, 77, 162, 0.07);
                border-radius: 100%;
                position: absolute;
                bottom: -33px;
                left: 50%;
                margin-left: -33px;
                svg {
                  position: relative;
                  top: -12px;
                }
              }
              .list-item {
                width: 33.3333%;
                padding-right: 10px;
                padding-left: 10px;
                display: flex;

                flex-direction: column;
                &__title {
                  font-size: 14px;
                  line-height: 14px;
                  @include firasans-bold;
                  margin-bottom: 22px;
                }
                &__img {
                  img {
                    max-width: 226px;
                    max-height: 128px;
                  }
                  margin-bottom: 22px;
                }
                &__info {
                  font-size: 14px;
                  line-height: 14px;
                  @include firasans-normal;
                }
              }
            }
          }
        }
      }
      &.specifications-section {
          .section {
            &__title {
                font-size: 32px;
                line-height: 45px;
                color: #333333;
                @include firasans-bold;
                margin-bottom: 40px;
                text-align: center;
              }
              &__table {
                width: 100%;
                box-shadow: 0px 0px 18px rgba(171, 171, 175, 0.45);
                border-radius: 10px;
                padding: 15px 10px;
                position: relative;
    
                z-index: 100;
                background-color: #fff;
                overflow: hidden;
                .table {
                  font-size: 14px;
                  line-height: 21px;
                  color: #333333;
                  position: relative;
                  thead {
                    th {
                      border-top: none;
                      @include firasans-bold;
                    }
                  }
                  td {
                    border-right: 1px solid #dee2e6;
                    @include firasans-normal;
                    .link {
                      font-size: 14px;
                      line-height: 21px;
                      color: #0c4da2;
                      padding: 5px 8px;
                      background: rgba(92, 128, 188, 0.2);
                      border-radius: 6px;
                      @include firasans-normal;
                    }
                    &.left {
                      width: 30%;
                    }
                    &.center {
                      width: 40%;
                    }
                    &.right {
                      width: 30%;
                    }
                    &:last-child {
                      border-right-color: transparent;
                    }
                  }
                }
              }
          }
      }
    }
  }
}
