.content {
    
    &.director-page {
        .content__info {
            width: 100%;
            padding-left: 0;
           max-width: 100%;
        }
        .section {
            &.manager-section {
                .section {
                    &__title {
                        @include firasans-bold;
                        font-size: 42px;
                        line-height: 55px;
                        color: #333333;
                        margin-bottom: 40px;
                        text-align: center;
                        @include mobile {
                            font-size: 32px;
                            line-height: 42px;
                        }
                    }
                    &__info {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding-bottom: 80px;
                        @include mobile {
                            flex-direction: column-reverse;
                        }
                        .info-left {
                            width: 50%;
                            @include mobile {
                                width: 100%;
                            }
                            p {
                                font-size: 16px;
                                line-height: 24px;
                                color: #333333;
                                @include firasans-normal;
                                @include mobile {
                                    font-size: 14px;
                                    line-height: 21px;
                                }
                            }
                        }
                        .info-right {
                            position: relative;
                            top: -10px;
                            width: 50%;
                            padding-left: 20px;
                            @include mobile {
                                padding-left: 0;
                                top: 0;
                                width: 100%;
                                margin-bottom: 20px;
                            }
                        }
                    }
                    &__post {
                        position: relative;
                        margin-bottom: 100px;
                        &.right {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            &:before {
                                position: absolute;
                                top: -30px;
                              
                                content: '';
                                display: block;
                                background: rgba(12, 77, 162, 0.07);
                                height: 566px;
                                width: 100vw;
                                left: 30%;
                                @include tablet-and-phone {
                                    left: 0;
                                }
                            }
                            &:after {
                                display: none;
                                @include tablet-and-phone {
                                    display: block;
                                }
                                top: -30px;                        
                                content: '';
                           
                                background: rgba(12, 77, 162, 0.07);
                                height: 566px;
                                width: 100vw;
                                right: 100%;
                                position: absolute;
                            }
                        }
                        &.left {
                            &:after {
                                display: none;
                                @include tablet-and-phone {
                                    display: block;
                                }
                                top: -30px;                        
                                content: '';
                            
                                background: rgba(12, 77, 162, 0.07);
                                height: 566px;
                                width: 100vw;
                                left: 100%;
                                position: absolute;
                            }
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &:before {
                            position: absolute;
                            top: -30px;
                          
                            content: '';
                            display: block;
                            background: rgba(12, 77, 162, 0.07);
                            height: 566px;
                            width: 100vw;
                            right: 30%;
                            @include tablet-and-phone {
                                right: 0;
                            }
                        }
                       
                        .post-top {
                            &.right {
                             
                             display: flex;
                             flex-direction: column;
                             align-items: flex-end;
                                
                            }
                            width: 65%;
                            @include tablet {
                                width: 100%;
                            }
                            @include mobile {
                                width: 100%;
                            }
                            &__title {
                                font-size: 20px;
                                line-height: 28px;
                                @include firasans-bold;
                                margin-bottom: 32px;
                                color: #333333;
                                display: flex;
                                align-items: center;
                                svg {
                                    margin-left: 15px;
                                }
                            }
                            &__info {
                                font-size: 16px;
                                line-height: 24px;
                                @include firasans-normal;
                                color: #333333;
                                margin-bottom: 24px;
                            }
                        }
                        .post-bottom {
                            .gallery {
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                &-item {
                                    padding-left: 0;
                                    padding-right: 0;
                                    position: relative;
                                &.wrap {
                                    &::before {
                                        position: absolute;
                                        background: rgba(0, 0, 0, 0.4);
                                        content: '';
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                    }
                                }
                                    .gallery-item-wrap {
                                        font-size: 42px;
                                        line-height: 55px;
                                        color: #ffffff;
                                        @include firasans-bold;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        margin-left: -32px;
                                        margin-top: -24px;
                                        z-index: 20;
                                        .amount {
                                            border-bottom: 1px solid #fff;
                                        }
                                    }
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                &.big {
                                    max-width: 390px;
                                    max-height: 330px;
                                }
                                &.small {
                                    width: 234px;
                                    height: 234px;
                                    @include mobile {
                                        height: auto;
                                    }
                                }
                                   
                                &.video {
                                    position: relative;
                                    overflow: hidden;
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                        background-color: rgba(0, 0, 0, 0.4);;
                                    }
                                    svg {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        margin-top: -25px;
                                        margin-left: -25px;
                                    }
                                }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}