.content {
    &.lingering-bench-page {
      section {
        &.primary-section {
          .section {
            &__title {
              @include mobile {
                font-size: 32px;
                line-height: 42px;
              }
            }
            &__inner {
              padding-top: 50px;
              padding-bottom: 20px;
              position: relative;
              @include mobile {
                padding-top: 80px;
                max-width: 100%;

              }
              .add-field {
                font-size: 14px;
                line-height: 21px;
                color: #0c4da2;
                font-style: italic !important;
                position: absolute;
                top: 0px;
                cursor: pointer;
                @include firasans-normal;
                @include mobile {
                  top: 50px;
                }
                svg {
                  margin-right: 10px;
                }
              }
           
            }
          &__slider {
            @include tablet-and-phone {
              display: flex;
              justify-content: center;
            }
          }
            
            &__info {
                padding-top: 80px;
                padding-bottom: 40px;
                position: relative;
                @include mobile {
                  padding-bottom: 0;
                }
                .add-field {
                    top: 45px;
                }
           &-title {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
         margin-bottom: 35px;
           min-height: 100px;
           
            .number {
                @include firasans-bold;
                font-size: 100px;
                line-height: 100px;
                color: rgba(12, 77, 162, 0.07);
                position: absolute;
                top: 0;
                left: 0;
            }
            .text {
                font-size: 32px;
                line-height: 45px;
                color: #333333;
                @include firasans-bold;
                display: block;
                padding-right: 100px;
                padding-left: 100px;
            
                text-align: center;
                @include mobile {
                  font-size: 28px;
                  line-height: 39px;
                }
            }
           }
           &-top {
               display: flex;
               margin-bottom: 30px;
               @include mobile {
                 flex-direction: column;
               }
               .top-left {
                   width: 60%;
                   position: relative;
                   padding-top: 30px;
                   padding-bottom: 30px;
                   @include mobile {
                     width: 100%;
                   }
                   &:before {
                    position: absolute;
                    top: 0;
                    right: 40%;
                    background: rgba(12, 77, 162, 0.07);
                    content: '';
                    display: block;
                    width: 100vw;
                    height: 100%;
                    @include mobile {
                      right: 0;
                    }
                   }
                   &:after {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    background: rgba(12, 77, 162, 0.07);
                    content: '';
                    display: none;
                    width: 100vw;
                    height: 100%;
                    @include mobile {
                      display: block;
                    }
                   }
                   .card {
                       display: flex;
                       padding: 32px;
                       background: #FFFFFF;
box-shadow: 0px 0px 18px rgba(171, 171, 175, 0.45);
border-radius: 10px;
flex-direction: row;
@include mobile {
  flex-direction: column;
  align-items: center;
}
&__img {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      width: 100%;
      margin-bottom: 20px;
    }
}
&__text {
    width: 70%;
    padding-left: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    @include firasans-normal;
    @include mobile {
      width: 100%;
      font-size: 14px;
      line-height: 21px;
    }
}

                   }
               }
               .top-right {
                   display: flex;
                   justify-content: center;
                   width: 40%;
              @include mobile {
                width: 100%;
                position: relative;


                &:before {
                  position: absolute;
                  top: 0;
                  right: 0;
                  background: rgba(12, 77, 162, 0.07);
                  content: '';
                  display: block;
                  width: 100vw;
                  height: 100%;
               
                 }
                 &:after {
                  position: absolute;
                  top: 0;
                  left: 100%;
                  background: rgba(12, 77, 162, 0.07);
                  content: '';
                  display: block;
                  width: 100vw;
                  height: 100%;
                
                 }
              }
                .file-item {
                    display: flex;
                  flex-direction: column;
                  align-items: center;
                  @include mobile {
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                  }
                  }
                  .sitekgram-link {
                    height: 194px;
                    width: 170px;
                    padding: 20px 31px;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    background: linear-gradient(180deg, #E4E4E4 0%, #F3F3F3 100%);
                    position: relative;
                    margin-bottom: 20px;
               
                  
                
                    &__left {
                      position: absolute;
                      top: 0;
                      left: 0;
                      height: 100%;
                      width: 50px;
                   
                   
                      border-radius: 15px 0px 0px 15px;
                      padding: 22px 15px;
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      svg {
                        fill: rgba(255, 255, 255, 0.8);
                      }
                      &.blue {
                        background: rgba(12, 77, 162, 0.7);
                      }
                      &.yellow {
                        background: rgba(247, 181, 18, 0.7);
                      }
                      &.light-blue {
                        background: rgba(0, 125, 165, 0.7);
                      }
                    }
                  }
                  .download-link {
                      font-size: 14px;
                      line-height: 21px;
                      @include firasans-normal;
                      color: #0C4DA2;
                      display: flex;
                      align-items: center;
                      padding-left: 16px;
                   
                     
                      svg {
                        padding: 10px;
                        width: 48px;
                        height: 48px;
                        background-color: #fff;
                        -webkit-border-radius: 4px;
                        border-radius: 4px;
                        margin-right: 8px;
                        box-shadow: 0 0 6px rgba(12,77,162,.2);
                      }
                     
                  }
               }
           }
           &-bottom {
               font-size: 16px;
               line-height: 24px;
               color: #333333;
               @include firasans-normal;
               p {
                 @include mobile {
                   font-size: 14px;
                   line-height: 21px;
                 }
               }
           }
            }
          }
        }
        &.blue-section {
            .section {
                &__title {
                    font-size: 26px;
                    line-height: 36px;
                    @include firasans-bold;
                    color: #333333;
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 40px;
                }
                &__slider {
                  @include tablet-and-phone{
                    display: flex;
                    justify-content: center;
                  }
                }
                &__inner {
                    padding-top: 60px;
                    padding-bottom: 60px;
                    position: relative;

                    &:before {
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: rgba(12, 77, 162, 0.07);
                        content: '';
                        display: block;
                        width: 100vw;
                        height: 100%;
                        z-index: -1;
                    }
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 100%;
                        background: rgba(12, 77, 162, 0.07);
                        content: '';
                        display: block;
                        width: 100vw;
                        height: 100%; 
                        z-index: -1;
                    }
                    .add-field {
                        font-size: 14px;
                        line-height: 21px;
                        color: #0c4da2;
                        font-style: italic !important;
                        position: absolute;
                        top: 10px;
                        cursor: pointer;
                        @include firasans-normal;
                        svg {
                          margin-right: 10px;
                        }
                      }
                }
                &__link {
                    padding-top: 50px;
                    .file-item {
                        display: flex;
                    
                      }
                      .sitekgram-link {
                        height: 194px;
                        width: 170px;
                        padding: 20px 31px;
                        border-radius: 15px;
                        display: flex;
                        align-items: center;
                        background: linear-gradient(180deg, #E4E4E4 0%, #F3F3F3 100%);
                        position: relative;
                        margin-bottom: 20px;
                   
                      
                    
                        &__left {
                          position: absolute;
                          top: 0;
                          left: 0;
                          height: 100%;
                          width: 50px;
                       
                       
                          border-radius: 15px 0px 0px 15px;
                          padding: 22px 15px;
                          display: flex;
                          flex-direction: column;
                          justify-content: space-between;
                          svg {
                            fill: rgba(255, 255, 255, 0.8);
                          }
                          &.blue {
                            background: rgba(12, 77, 162, 0.7);
                          }
                          &.yellow {
                            background: rgba(247, 181, 18, 0.7);
                          }
                          &.light-blue {
                            background: rgba(0, 125, 165, 0.7);
                          }
                        }
                      }
                      .download-link {
                        font-size: 14px;
                        line-height: 21px;
                        @include firasans-normal;
                        color: #0C4DA2;
                        display: flex;
                        align-items: center;
                        padding-left: 16px;
                        @include mobile {
                          align-items: flex-start;
                        }
                     
                       
                        svg {
                          padding: 10px;
                          width: 48px;
                          height: 48px;
                          background-color: #fff;
                          -webkit-border-radius: 4px;
                          border-radius: 4px;
                          margin-right: 8px;
                          box-shadow: 0 0 6px rgba(12,77,162,.2);
                        }
                       
                    }
                }
                &__info {
                  font-size: 16px;
                  line-height: 24px;
                  color: #333333;
                  @include firasans-normal;
                  margin-bottom: 40px;
                }
            }
        }
        &.advantages-section {
          .section {
            &__inner {
              padding-top: 60px;
              padding-bottom: 60px;
            }
            &-block {
              margin-bottom: 60px;
              @include tablet {
                margin-bottom: 50px;
              }
              &__title {
                font-size: 26px;
                line-height: 36px;
                color: #333333;
                text-align: center;
                @include firasans-bold;
                margin-bottom: 40px;
                padding-left: 100px;
                padding-right: 100px;
                text-transform: uppercase;
                @include mobile {
                  padding-left: 0;
                  padding-right: 0;
                  @include mobile {
                    font-size: 24px;
                    line-height: 34px;
                  }
                }
                    @include tablet {
                      padding-top: 15px;
                      padding-left: 0;
                      padding-right: 0;
                    }

              }
              .advantages-list {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                margin-left: -10px;
                margin-right: -10px;
                @include mobile {
                  flex-direction: column;
                }
                @include tablet {
                  flex-wrap: wrap;
                }
                .list-item {
                  padding-left: 10px;
                  padding-right: 10px;
                  width: 25%;
                  font-size: 14px;
                  line-height: 20px;
                  @include firasans-normal;
                  text-align: center;
                  @include mobile {
                    width: 100%;
                    margin-bottom: 40px;
                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                  @include tablet {
                    width: 50%;
                    margin-bottom: 15px;
                  }
                  &__title {
                    color: #0C4DA2;
                    padding-bottom: 8px;
                    @include firasans-bold;
                    border-bottom: 2px solid #0C4DA2;
                    margin-bottom: 24px;
                    min-height: 50px;
                    @include mobile {
                      min-height: auto;
                      border-bottom: none;
                      position: relative;
                      &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        margin-left: -100px;
                        background-color: #0C4DA2;
                        height: 2px;
                        width: 200px;

                      }
                    }
                  }
                  &__info {
                    color: #333333;
                    margin-bottom: 16px;
                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                }
              }
              &__info {
                font-size: 16px;
                line-height: 24px;
                @include firasans-normal;
                color: #333333;
                p {
                  @include mobile {
                    font-size: 14px;
                    line-height: 21px;
                  }
                }
              }
              &__slider {
                padding-left: 50px;
                padding-right: 50px;
                @include mobile {
                  padding-left: 0px;
                  padding-right: 0px;
                }
                @include tablet {
                  padding-left: 0;
                  padding-right: 0;
                }
                .article__link {
               
                  font-size: 16px;
                  line-height: 23px;
                  text-transform: uppercase;
                  display: flex;
                  align-items: center;
                  @include firasans-bold;
                  color: rgba(0, 56, 150, 0.5);
                  svg {
                    margin-left: 10px;
                  }
                  &:hover {
                    color: rgba(0, 56, 150, 0.7);
                  }
              }
              }
              &__table {
                width: 100%;
                box-shadow: 0px 0px 18px rgba(171, 171, 175, 0.45);
                border-radius: 10px;
                padding: 15px 10px;
                position: relative;
             
               
                z-index: 100;
                background-color: #fff;
                @include mobile {
                  overflow: hidden;
                  overflow-x: auto;
                }
               .table {
                width: 100%;
                @include mobile {
                  width: 800px;
                }
                .title {
                    border-top: none;
                    border-bottom: none;
                    font-size: 14px;
                    line-height: 14px;
                    @include firasans-bold;
                    color: #333333;
                }
                .table-body {
                 
                    tr {
                     
                    }
                    td {
                        font-size: 14px;
                        line-height: 21px;
                        @include firasans-normal;
                        color: #333333;
                    
                        a {
                            color: #0C4DA2;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                      &.center {
                          width: 40%;
                      }  
                    }
           
                   .td{
             
                      
                        border-right: 1px solid #dee2e6;
                     
                       
                   }
                }
               } 
              }
            }
          }
        }
        &.special-model-section {
          .section {
            &__title {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
           margin-bottom: 35px;
             min-height: 100px;
             
              .number {
                  @include firasans-bold;
                  font-size: 100px;
                  line-height: 100px;
                  color: rgba(12, 77, 162, 0.07);
                  position: absolute;
                  top: 0;
                  left: 0;
              }
              .text {
                  font-size: 32px;
                  line-height: 45px;
                  color: #333333;
                  @include firasans-bold;
                  display: block;
                  padding-right: 100px;
                  padding-left: 100px;
              
                  text-align: center;
              }
            }
            &__inner {
              padding-top: 100px;
              position: relative;
              .add-field {
                font-size: 14px;
                line-height: 21px;
                color: #0c4da2;
                font-style: italic !important;
                position: absolute;
                top: 30px;
                cursor: pointer;
                @include firasans-normal;
                svg {
                  margin-right: 10px;
                }
              }
            }
            &__info {
              font-size: 16px;
              line-height: 24px;
              @include firasans-normal;
              color: #333333;
              margin-bottom: 40px;
            }
            &__elem {
              padding-bottom: 70px;
              padding-top: 70px;
              position: relative;
              @include mobile {
                padding-bottom: 30px;
              }
              &:last-child {
                padding-bottom: 0;
              }
              .add-field {
                font-size: 14px;
                line-height: 21px;
                color: #0c4da2;
                font-style: italic !important;
                position: absolute;
                top: 30px;
                cursor: pointer;
                @include firasans-normal;
                svg {
                  margin-right: 10px;
                }
              }
              .elem {
                  &__title {
                      position: relative;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                   margin-bottom: 35px;
                     min-height: 100px;
                     
                     
                      .text {
                          font-size: 32px;
                          line-height: 45px;
                          color: #333333;
                          @include firasans-bold;
                          display: block;
                          padding-right: 100px;
                          padding-left: 100px;
                          text-transform: uppercase;
                      
                          text-align: center;
                          @include mobile {
                            font-size: 24px;
                            line-height: 31px;
                            padding-left: 0;
                            padding-right: 0;
                          }
                      }
                  }
                  &__top {
                      display: flex;
                      padding-bottom: 40px;
                      padding-top: 40px;
                      position: relative;
                      @include mobile {
                        flex-direction: column;
                        padding-bottom: 90px;
                      }
                      &:before {
                          position: absolute;
                          top: 0;
                          right: 40%;
                          background: rgba(12, 77, 162, 0.07);
                          content: '';
                          display: block;
                          width: 100vw;
                          height: 100%;
                          @include mobile {
                            right: 0;
                          }
                      }
                      &:after {
                        position: absolute;
                        top: 0;
                        left: 100%;
                        background: rgba(12, 77, 162, 0.07);
                        content: '';
                        display: block;
                        width: 100vw;
                        height: 100%;
                        display: none;
                        @include mobile {
                         display: block;
                        }
                      }
                      &-left {
                          width: 50%;
                          padding-right: 30px;
                          @include firasans-normal;
                          font-size: 16px;
                          line-height: 24px;
                          color: #333333;
                          @include mobile {
                            width: 100%;
                            font-size: 14px;
                            line-height: 21px;
                            margin-bottom: 20px;
                          }
                          .download-link {
                            font-size: 14px;
                            line-height: 21px;
                            @include firasans-normal;
                            color: #0C4DA2;
                            display: flex;
                            align-items: center;
                            position: absolute;
                            bottom: 20px;
                            left: 0;
                           
                           
                            svg {
                              padding: 10px;
                              width: 48px;
                              height: 48px;
                              background-color: #fff;
                              -webkit-border-radius: 4px;
                              border-radius: 4px;
                              margin-right: 8px;
                              box-shadow: 0 0 6px rgba(12,77,162,.2);
                            }
                           
                        }
                          
                      }
                      &-right {
                          width: 50%;
                          position: relative;
                          @include mobile {
                            width: 100%;
                          }
                          img {
                              max-width: 425px;
                              max-height: 250px;
                              @include mobile {
                                max-width: 100%;
                              }
                           
                          }
                        
                      }
                  }
               
              }
          }
          }
        }
     
      }
    }
  }
  