<section class=" section information">
    <div class="container">
        <div class="section__inner">
            <h2 class="section__title">ШЕСТЬ способов получить информацию</h2>
           <div class="information__tabs">
                <div id="tabs" class="tabs">
                    <ul class="tabs__header">
                        <li class="tab active"><span >01</span>Задать вопрос</li>
                        <li class="tab" ><span >02</span>Мой файл</li>
                        <li class="tab"><span >03</span>Видео 1x1</li>
                        <li class="tab"><span >04</span>Заказать вебинар</li>
                        <li class="tab"><span >05</span>Сотрудники</li>
                        <li class="tab"><span >06</span>FAQ</li>
                    </ul>
                    <div class="tab-content main-tab active">
                        <div class="tab-content__left">
                            <div class="logo">
                                <img src="../static/images/index_logo 4.png" alt="">
                            </div>
                            <div class="tab-content__contact">
                                <div class="contact-block">
                                    <div class="country">
                                        Россия
                                    </div>
                                    <div class="phone">
                                        <a href="tel:+74812302559" class="phone__link">+7 (481) 230-25-59</a>
                                        <a href="tel:+78003507408" class="phone__link">+7 (800) 350-74-08</a>
                                        <div class="subtext">Звонок по России бесплатный</div>
                                    </div>
                                </div>
                                <div class="contact-block">
                                    <div class="country">
                                        Беларусь
                                    </div>
                                    <div class="phone">
                                        <a href=":tel+375172170015" class="phone__link">+375 (17) 217-00-15</a>
                                        <a href=":tel+375296170015" class="phone__link">+375 (29) 617-00-15</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content__right">
                            <form action="" class="contact-form">
                                <div class="form__inner">
                                    <textarea name="text" id="" cols="30" rows="10"
                                        placeholder="Текст сообщения..."></textarea>
                                    <div class="input-group">
                                        <input type="text" name="email/phone" placeholder="Emali/Phone">
                                        <input type="text" name="name" placeholder="Имя">
                                    </div>
                                </div>
                                <div class="form__action">
                                    <button class="btn primary-btn">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-content__info">
                            <div class="info-wrap">
                                <p>
                                    Cохраняйте все полезные материалы на нашем сайте в один документ, который будет
                                    сгенерирован в удобном виде в формате PDF
                                </p>
                                <p>Помечайте необходимые материалы <br><span class="italic">(статьи, изображения,
                                        инструкции,
                                        новости и.т.д.)</span></p>
                                <p>Зайдите в Мой файл и нажмите кнопку “Сгенерировать”</p>
                                <p>Получите готовый документ на e-mail</p>
                                <p>Или выберите один из готовых файлов, собранный нашими специалистами по интересующей
                                    вас
                                    теме</p>
                                <div class="file">
                                    <label for="file-upload" class="file-upload">
                                        Мой файл
                                    </label>
                                    <input id="file-upload" data-popup='file' class="file-input" />
                                </div>
                                <div class="popup__box file" id="file">
                                    <button class="popup__close js-close-wnd">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16 1.86056L14.1394 0L8 6.13944L1.86056 0L0 1.86056L6.13944 8L0 14.1394L1.86056 16L8 9.86055L14.1394 16L16 14.1394L9.86055 8L16 1.86056Z" fill="black" fill-opacity="0.4"/>
</svg>

                                    </button>
                                    <div class="popup__box-inner">
                                        <h2 class="popup__title">Мой файл</h2>
                                       
                                        <div class="popup__info">
                                           <h3 class="popup__subtitle">О Sitek</h3>
                                           <div class="popup__info-block">
                                             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, consectetur? Pariatur cupiditate impedit veritatis maiores?
                                           </div>
                                          
                                        </div>
                                         <form action="" class="file-form">
                                             <div class="form__inner">
                                                   <div class="input-group">
                                                   <input type="text" placeholder="Имя">
                                                   <input type="number" placeholder="Телефон">
                                                   <input type="email" placeholder="Email">
                                               </div>
                                               <div class="form-action">
                                                   <button class="btn primary-btn" type="submit">Получить файл</button>
                                                  <button class="btn btn-reset-filter"
                            type="reset"><span>Удалить файл</span> </button>
                                               </div>
                                             </div>
                                           </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content__slider ">
                            <div class="slider slider-tab">
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/tabs-slider.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Готовый файл “Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="info-text">
                                                И. Иванов, менеджер по продажам

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/tabs-slider.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Готовый файл “Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="info-text">
                                                И. Иванов, менеджер по продажам

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/tabs-slider.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Готовый файл “Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="info-text">
                                                И. Иванов, менеджер по продажам

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-content">
                        <div class="tab-content__info">
                            <div class="info-wrap">
                                <p>Текстовый блок о разделе видео 1х1.СИТЕК работает на рынках России, Украины и
                                    Беларуси. Наши заказчики – предприятия станкостроения, авиакосмической,
                                    металлургической, автомобильной и оборонной промышленности, а также железнодорожного
                                    машиностроения </p>

                            </div>
                        </div>
                        <div class="tab-content__slider video">
                            <div class="slider slider-tab">
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Готовый файл “Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="info-text">
                                                И. Иванов, менеджер по продажам

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Готовый файл “Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="info-text">
                                                И. Иванов, менеджер по продажам

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Готовый файл “Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="info-text">
                                                И. Иванов, менеджер по продажам

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-content">
                        <div class="tab-content__info">
                            <div class="info-wrap">
                                <p>Текстовый блок о разделе видео 1х1.СИТЕК работает на рынках России, Украины и
                                    Беларуси. Наши заказчики – предприятия станкостроения, авиакосмической,
                                    металлургической, автомобильной и оборонной промышленности, а также железнодорожного
                                    машиностроения </p>

                            </div>
                        </div>
                        <div class="tab-content__slider dots">
                            <div class="slider slider-tab">
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">

                                            <img src="../static/images/tabs-slider.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Опросный лист 1
                                            </h3>
                                            <div class="info-text">
                                                Краткое содержание в две строки

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/tabs-slider.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Опросный лист 1
                                            </h3>
                                            <div class="info-text">
                                                Краткое содержание в две строки

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/tabs-slider.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Опросный лист 1
                                            </h3>
                                            <div class="info-text">
                                                Краткое содержание в две строки

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="btn secondary-btn">Скачать</a>
                        </div>

                    </div>
                    <div class="tab-content">
                        <div class="tab-content__info">
                            <div class="info-wrap">
                                <p>Производственный персонал СИТЕК – это более 50 высококвалифицированных специалистов с
                                    опытом работы более 10 лет. Благодаря отделу управления проектами, четко
                                    планируещему ход выполнения работ, специалисты получают возможность оперативно вести
                                    ремонтные работы и завершать проекты в срок</p>

                            </div>
                        </div>
                        <div class="tab-content__slider staff">
                            <div class="slider slider-tab">
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/image 2.png" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Петр Петрович ИВАНОВ
                                            </h3>
                                            <div class="info-text">
                                                <p class="position">Должность</p>
                                                <p><a href="tel:+78003507408" class="info-link tel">+7 800 350-74-08
                                                        (12)</a></p>
                                                <p><a href="mailto:i.petrov@sitek.com"
                                                        class="info-link">i.petrov@sitek.com</a></p>
                                                <p><a href="tel:+79630906060" class="info-link">+ 7 963 090 60 60</a>
                                                </p>
                                                <div class="social"><a href=""><svg width="29" height="30"
                                                            viewBox="0 0 29 30" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M27.9436 17.3662C28.8386 9.83241 27.5136 5.07616 25.1236 2.92491L25.1249 2.92366C21.2674 -0.750091 8.23986 -1.29384 3.62486 3.08866C1.55236 5.23241 0.822355 8.37866 0.742355 12.2737C0.662355 16.1699 0.567355 23.4687 7.36861 25.4487H7.37486L7.36861 28.4724C7.36861 28.4724 7.32236 29.6974 8.10486 29.9437C8.99986 30.2337 9.40485 29.6649 12.1886 26.3399C16.8436 26.7437 20.4186 25.8187 20.8249 25.6837C21.7649 25.3687 27.0836 24.6649 27.9436 17.3662ZM12.6474 24.2124C12.6474 24.2124 9.70111 27.8862 8.78486 28.8399C8.48486 29.1499 8.15611 29.1212 8.16111 28.5062C8.16111 28.1024 8.18361 23.4862 8.18361 23.4862C2.41736 21.8337 2.75736 15.6187 2.81986 12.3674C2.88236 9.11491 3.47736 6.45116 5.23236 4.65741C9.28111 0.861159 20.7024 1.70991 23.6124 4.44491C27.1699 7.59866 25.9036 16.5087 25.9111 16.8124C25.1799 22.9049 20.8699 23.2912 20.0774 23.5549C19.7386 23.6674 16.5949 24.4762 12.6474 24.2124Z"
                                                                fill="#8E24AA" />
                                                            <path
                                                                d="M14.277 5.37109C13.7957 5.37109 13.7957 6.12109 14.277 6.12734C18.0107 6.15609 21.0857 8.75859 21.1195 13.5323C21.1195 14.0361 21.857 14.0298 21.8507 13.5261H21.8495C21.8095 8.38234 18.452 5.39984 14.277 5.37109Z"
                                                                fill="#8E24AA" />
                                                            <path
                                                                d="M19.1882 12.7412C19.1769 13.2387 19.9132 13.2624 19.9195 12.7587C19.9807 9.92242 18.2319 7.58617 14.9457 7.33992C14.4644 7.30492 14.4144 8.06117 14.8944 8.09617C17.7444 8.31242 19.2457 10.2574 19.1882 12.7412Z"
                                                                fill="#8E24AA" />
                                                            <path
                                                                d="M18.4017 15.9675C17.7842 15.61 17.1555 15.8325 16.8955 16.1838L16.3518 16.8875C16.0755 17.245 15.5593 17.1975 15.5593 17.1975C11.7918 16.2013 10.7843 12.2588 10.7843 12.2588C10.7843 12.2588 10.738 11.725 11.083 11.4388L11.763 10.8763C12.103 10.6063 12.318 9.95626 11.9718 9.31751C11.0468 7.64626 10.4255 7.07001 10.1093 6.62751C9.77676 6.21126 9.27676 6.11751 8.75676 6.39876H8.74551C7.66426 7.03126 6.48051 8.21501 6.85926 9.43376C7.50551 10.7188 8.69301 14.815 12.478 17.91C14.2568 19.3738 17.0718 20.8738 18.2667 21.22L18.278 21.2375C19.4555 21.63 20.6005 20.4 21.2117 19.2863V19.2775C21.483 18.7388 21.393 18.2288 20.9967 17.895C20.2942 17.21 19.2342 16.4538 18.4017 15.9675Z"
                                                                fill="#8E24AA" />
                                                            <path
                                                                d="M15.4607 10.1299C16.662 10.1999 17.2445 10.8274 17.307 12.1161C17.3295 12.6199 18.0607 12.5849 18.0382 12.0811C17.9582 10.3986 17.0807 9.4611 15.5007 9.3736C15.0194 9.34485 14.9744 10.1011 15.4607 10.1299Z"
                                                                fill="#8E24AA" />
                                                        </svg></a> <a href=""><svg width="30" height="30"
                                                            viewBox="0 0 30 30" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M14.2724 0.0177156C6.34946 0.394962 0.0971275 6.99326 0.121163 14.9252C0.128481 17.3411 0.711714 19.6213 1.74057 21.6361L0.160911 29.304C0.0754599 29.7187 0.44955 30.0819 0.861593 29.9844L8.37517 28.2042C10.3055 29.1658 12.4737 29.7212 14.7684 29.7562C22.8664 29.8799 29.6188 23.4498 29.8712 15.3548C30.1418 6.6775 22.9801 -0.396983 14.2724 0.0177156ZM23.2377 23.1171C21.0373 25.3175 18.1117 26.5293 14.9999 26.5293C13.1778 26.5293 11.4333 26.1205 9.81478 25.3143L8.76842 24.793L4.16182 25.8844L5.13148 21.1773L4.61598 20.1678C3.77575 18.5223 3.34971 16.7429 3.34971 14.8791C3.34971 11.7672 4.56152 8.84168 6.76194 6.6412C8.94269 4.46044 11.916 3.2289 15.0001 3.2289C18.1119 3.22898 21.0374 4.44078 23.2378 6.64113C25.4382 8.84154 26.65 11.7671 26.6501 14.8789C26.65 17.963 25.4185 20.9364 23.2377 23.1171Z"
                                                                fill="#7AD06D" />
                                                            <path
                                                                d="M22.2196 18.1054L19.3376 17.2778C18.9587 17.1691 18.5506 17.2766 18.2745 17.5579L17.5698 18.2759C17.2726 18.5787 16.8217 18.676 16.4283 18.5168C15.065 17.9651 12.1971 15.4152 11.4647 14.1398C11.2534 13.7718 11.2884 13.3119 11.5478 12.9762L12.1631 12.1801C12.4042 11.8683 12.4551 11.4494 12.2956 11.0889L11.0831 8.34648C10.7927 7.68963 9.95331 7.49842 9.40495 7.9622C8.60059 8.6425 7.64621 9.67631 7.53019 10.8216C7.32564 12.8409 8.19163 15.3863 11.4664 18.4427C15.2496 21.9738 18.2792 22.4403 20.2518 21.9624C21.3706 21.6914 22.2647 20.605 22.829 19.7155C23.2137 19.109 22.9099 18.3036 22.2196 18.1054Z"
                                                                fill="#7AD06D" />
                                                        </svg>
                                                    </a></div>
                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/image 2.png" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Готовый файл “Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="info-text">
                                                И. Иванов, менеджер по продажам

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/image 2.png" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Готовый файл “Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="info-text">
                                                И. Иванов, менеджер по продажам

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="" class="btn secondary-btn">Скачать карточку</a>
                        </div>

                    </div>
                    <div class="tab-content">
                        <div class="tab-content__info">
                            <div class="info-wrap">
                                <p>Текстовый блок о разделе видео 1х1.СИТЕК работает на рынках России, Украины и
                                    Беларуси. Наши заказчики – предприятия станкостроения, авиакосмической,
                                    металлургической, автомобильной и оборонной промышленности, а также железнодорожного
                                    машиностроения </p>
                                <a href="" class="btn secondary-btn">FAQ</a>
                            </div>
                        </div>
                        <div class="tab-content__slider ">
                            <div class="slider slider-tab">
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">

                                            <img src="../static/images/tabs-slider.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Раздел 1
                                            </h3>
                                            <div class="info-text">
                                                Краткое описание раздела

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/tabs-slider.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Раздел 1
                                            </h3>
                                            <div class="info-text">
                                                Краткое описание раздела

                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__inner">
                                        <div class="slider-item__img">
                                            <img src="../static/images/tabs-slider.jpg" alt="" class="img">
                                        </div>
                                        <div class="slider-item__info">
                                            <h3 class="info-title">
                                                Раздел 1
                                            </h3>
                                            <div class="info-text">
                                                Краткое описание раздела
                                            </div>

                                            <ul class="category">
                                                <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                <li class="category__item green"><a href="#">Поставка</a></li>
                                                <li class="category__item orange"><a href="#">Рама</a></li>
                                                <li class="category__item"><a href="#">...</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>