{{!О компании}}

{{> layout/header}}
<div class="content about-page" id="">
     
           
    <div class="container">
        <div class="content__inner">
               <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
                    <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">О Ситек</a></li>
                 

                </ul>
            <aside class="aside" id="aside">
                <div class="aside__inner">
                    <nav class="aside__nav" id="menu">
                      <ul class="nav__list">
                            <li class="nav__item-title"><a href="#head" class="nav__link">Электрическая часть</a></li>
                          <li class="nav__item"><a href="#section1" class="nav__link">Системотехники</a></li>
                        <li class="nav__item"><a href="#section2" class="nav__link">Электромонтажники</a></li>
                        <li class="nav__item"><a href="#section3" class="nav__link">Участок по сборке электрошкафов</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Примеры изготовленных электрошкафов</a></li>
                  
</ul>
                    
                         <ul class="nav__list">
                            <li class="nav__item-title"><a href="#section4" class="nav__link">Механическая часть</a></li>
                          <li class="nav__item"><a href="#section5" class="nav__link">Механики</a></li>
                        <li class="nav__item"><a href="#section6" class="nav__link">Площадка в г. Молодечно</a></li>
                        <li class="nav__item"><a href="#section7" class="nav__link">Слесари-сборщики</a></li>
                        <li class="nav__item"><a href="#section8" class="nav__link">Метрология (про лазер)</a></li>
                          <li class="nav__item"><a href="#" class="nav__link">Пример изготовленных узлов</a></li>
                  

                      </ul>
                         <ul class="nav__list">
                            <li class="nav__item-title"><a href="#section9" class="nav__link">Гидравлическая часть</a></li>
                          <li class="nav__item"><a href="#section10" class="nav__link">Гидравлики</a></li>
                        <li class="nav__item"><a href="#section11" class="nav__link">Участки по сборке гидростанций</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Примеры изготовленных гидростанций</a></li>
                
                  

                      </ul>
                        

                    </nav>
                    <div class="aside__action">
                   
                        <a href="#" class="btn primary-btn gray">Новые станки  SITEK</a>
                        <a href="#" class="btn primary-btn yellow">Новые станки РАМА</a>
                    </div>
                </div>



            </aside>

            <div class="content__info">
             <section class="main-section">
             <div class="section__inner">   
                 <a href="#" class="download-link"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M23.1788 6.49486L17.0645 0.141469C16.9774 0.0510937 16.8573 0 16.7319 0H7.61892C6.59906 0 5.76932 0.829406 5.76932 1.84884V8.3077H2.07618C1.31315 8.3077 0.692383 8.92828 0.692383 9.69112V16.6166C0.692383 17.3794 1.31315 18 2.07618 18H5.76932V22.1544C5.76932 23.172 6.59906 24 7.61892 24H21.4582C22.4781 24 23.3078 23.1725 23.3078 22.1554V6.81492C23.3078 6.69558 23.2615 6.58088 23.1788 6.49486ZM16.8463 1.24598L21.8656 6.46153H16.8463V1.24598ZM2.07618 17.0769C1.82212 17.0769 1.61549 16.8705 1.61549 16.6166V9.69112C1.61549 9.4373 1.82216 9.23077 2.07618 9.23077H14.5394C14.7935 9.23077 15.0001 9.4373 15.0001 9.69112V16.6166C15.0001 16.8705 14.7934 17.0769 14.5394 17.0769H2.07618ZM22.3847 22.1554C22.3847 22.6635 21.969 23.0769 21.4581 23.0769H7.61892C7.10802 23.0769 6.69238 22.6631 6.69238 22.1544V18H14.5394C15.3024 18 15.9232 17.3794 15.9232 16.6166V9.69112C15.9232 8.92828 15.3024 8.3077 14.5394 8.3077H6.69238V1.84884C6.69238 1.33833 7.10802 0.923062 7.61892 0.923062H15.9231V6.92306C15.9231 7.17797 16.1298 7.38459 16.3847 7.38459H22.3847V22.1554Z" fill="#0C4DA2"/>
<path d="M6.20994 11.7139C6.0567 11.5147 5.86648 11.3853 5.63933 11.3258C5.49148 11.2862 5.17419 11.2664 4.68739 11.2664H3.40283V15.2309H4.20331V13.7354H4.72527C5.08766 13.7354 5.36441 13.7165 5.55552 13.6786C5.69614 13.6479 5.83452 13.5853 5.97064 13.4906C6.10676 13.396 6.21898 13.2657 6.30734 13.0999C6.3957 12.934 6.43986 12.7294 6.43986 12.486C6.43981 12.1705 6.36317 11.9131 6.20994 11.7139ZM5.52439 12.8051C5.46402 12.8935 5.38063 12.9584 5.27422 12.9998C5.16781 13.0413 4.95692 13.062 4.64141 13.062H4.20331V11.937H4.59003C4.8785 11.937 5.0705 11.946 5.16603 11.9641C5.29583 11.9875 5.40313 12.0461 5.48783 12.1399C5.57258 12.2336 5.61495 12.3526 5.61495 12.4968C5.615 12.614 5.58477 12.7168 5.52439 12.8051Z" fill="#0C4DA2"/>
<path d="M10.2881 12.3494C10.2015 12.0961 10.0753 11.8821 9.90946 11.7072C9.74361 11.5323 9.54435 11.4106 9.3118 11.3421C9.13874 11.2916 8.88721 11.2664 8.5573 11.2664H7.09424V15.2309H8.60057C8.89625 15.2309 9.13241 15.203 9.30908 15.147C9.54529 15.0713 9.73279 14.9659 9.87158 14.8306C10.0555 14.6521 10.197 14.4187 10.2962 14.1302C10.3773 13.894 10.4179 13.6128 10.4179 13.2865C10.4179 12.9151 10.3746 12.6028 10.2881 12.3494ZM9.50919 13.9775C9.4551 14.1551 9.38525 14.2826 9.29961 14.3601C9.21397 14.4376 9.10625 14.4926 8.97646 14.5251C8.87732 14.5503 8.71593 14.5629 8.49238 14.5629H7.89472V11.937H8.25439C8.58069 11.937 8.79979 11.9497 8.91154 11.9749C9.06116 12.0074 9.18468 12.0696 9.28204 12.1615C9.3794 12.2535 9.4551 12.3815 9.50919 12.5455C9.56329 12.7096 9.59033 12.9449 9.59033 13.2514C9.59033 13.5578 9.56329 13.7999 9.50919 13.9775Z" fill="#0C4DA2"/>
<path d="M13.8199 11.937V11.2664H11.1021V15.2309H11.9025V13.5461H13.5576V12.8754H11.9025V11.937H13.8199Z" fill="#0C4DA2"/>
</svg>Скачать референц-лист</a>
                   <h2 class="section__title">О компании Ситек</h2>
               <div class="section__info">
                   <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                   <div class="section__info-text">
                       <p>Сегодня группа компаний СИТЕК – современный нжиниринговый центр компетенции в области металлообработки резанием. Развитие компании направлено на урепление сових позиций, расширение рынков и постоянное совершенствование качества услуг.</p>
                       <p>В распоряжении СИТЕК есть производственная площадка размером 4000м2, технический центр с высококвалифицированными сотрудниками в Минске, а также офисы в России и Украине.</p>
                   </div>
               </div>
               <a href="" class="btn secondary-btn">история sitek <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 11L5 6L1 1" stroke="#0C4DA2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a>
             </div>
             </section>
             <section class="section primary-section" >
                 <div class="section__inner">
                     <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z" fill="#0C4DA2"/>
</svg>
Добавить в мой файл
</span>
                     <h3 class="section__title">Электрическая часть</h3>
                     <div class="section__info">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti maxime, accusamus animi suscipit nesciunt corrupti voluptates repellendus doloribus ratione atque cumque eum delectus, inventore cum fugiat architecto eos culpa.</p>
                     </div>
                 </div>
             </section>
             <section class="section secondary-section scroll" id="section1">
                 <div class="section__inner">
                     <h3 class="section__title">
                         Системомеханики
                     </h3>
                     <div class="section__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quos dolore? Voluptatibus consequatur rerum, expedita aliquam, sed minima quidem reprehenderit iste nisi incidunt doloribus aliquid autem quia praesentium harum! Excepturi?</p>
                     </div>
                     <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>
                 </div>
             </section>
                 <section class="section secondary-section scroll" id="section2">
                 <div class="section__inner">
                     <h3 class="section__title">
                         Электромонтажники
                     </h3>
                     <div class="section__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quos dolore? Voluptatibus consequatur rerum, expedita aliquam, sed minima quidem reprehenderit iste nisi incidunt doloribus aliquid autem quia praesentium harum! Excepturi?</p>
                     </div>
                     <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>
                 </div>
             </section>
              <section class="section secondary-section scroll" id="section3">
                 <div class="section__inner">
                     <h3 class="section__title">
                         Участок по сборке электрошкафов
                     </h3>
                     <div class="section__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quos dolore? Voluptatibus consequatur rerum, expedita aliquam, sed minima quidem reprehenderit iste nisi incidunt doloribus aliquid autem quia praesentium harum! Excepturi?</p>
                     </div>
                     <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>
                 </div>
             </section>
    <section class="section sitekgram">

                    <div class="section__inner">
                     
                        <form class="sitekgram__filter">
  <h2 class="section__title">Sitekgram</h2>
                       <div class="sitekgram__filter-bottom">
                                <div class="sitekgram__filter-left">
                                <div class="filter-field">
                                    <ul class="filter-field__list">
                                        <li class="list-item">
                                            {{> ui/checkbox id=12 name='news' value='Видео' label='Видео'}} <div
                                                class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=13 name='news' label='Новости компании'}} <div
                                                class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item"> {{> ui/checkbox id=14 name='news' label='Пресса'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item"> {{> ui/checkbox id=15 name='news' label='Документы'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                     

                                    </ul>
                                </div>
                            </div>
                            <div class="sitekgram__filter-right">
                                <div class="filter-field">
                                    <div class="filter-field__title">Публикации в социальных сетях</div>
                                    <ul class="filter-field__list">
                                        <li class="list-item">
                                            {{> ui/checkbox id=17 name='social' value='twitter' label='Twitter'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=18 name='social' value='facebook' label='Facebook'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=19  name='social' value='instagram' label='Instagram'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=20  name='social' value='linkedin' label='Linkedin'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                       </div>
                               <ul class="filter-subfield__list">
                                <li class="list-item">
                                    {{> ui/checkbox id=21 name='type' value='Модернизация' label='Модернизация'}}
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=22 name='type' value='Машиностроение' label='Машиностроение'}}
                                </li>
                                <li class="list-item"> {{> ui/checkbox id=23 name='type' value='Рама' label='Рама'}}
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=24 name='type' value='Продольно-фрезерный' label='Продольно-фрезерный'}}
                                </li>
                            </ul>
                            <button class="btn btn-reset-filter" type="reset"><span>Очистить фильтр</span></button>
                   <div class="section__link">
                    <a href="">Смотреть все 100 записей <svg width="6" height="12" viewBox="0 0 6 12"  fill='none'
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                        </form>
             
                        <div class="sitekgram__result-field">
                            <div class="result">Показано 3 из <span>27</span></div>
                            <div class="sitekgram-list">
                                <div class="row sitekgram">
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                                    <div class="label">Видео</div>
                                                </div>
                                            </a>

                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                                </h3>
                                                <div class="info-text">
                                                    Друзья, рады поделиться видео с предварительной приемки нашего
                                                    специального
                                                    ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                                    <div class="label">Пресса</div>
                                                </div>
                                            </a>
                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                                </h3>
                                                <div class="info-text">
                                                    Рады поделиться новостью с приемки нашего специального
                                                    продольно-фрезерного
                                                    станка с ЧПУ ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Модернизация</a> </li>
                                                    <li class="category__item"><a href="#">Машиностроение</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                               

                                </div>
                                <a href="#" class="sitekgram__list-expand"><span>Показать больше</span>
                                    <div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                                fill="#0C4DA2" fill-opacity="0.4" />
                                        </svg></div>
                                </a>
                            </div>
                            <div class="sitekgram-sublist">
                                <div class="row sitekgram">
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                                    <div class="label">Видео</div>
                                                </div>
                                            </a>

                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                                </h3>
                                                <div class="info-text">
                                                    Друзья, рады поделиться видео с предварительной приемки нашего
                                                    специального
                                                    ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                                    <div class="label">Пресса</div>
                                                </div>
                                            </a>
                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                                </h3>
                                                <div class="info-text">
                                                    Рады поделиться новостью с приемки нашего специального
                                                    продольно-фрезерного
                                                    станка с ЧПУ ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Модернизация</a> </li>
                                                    <li class="category__item"><a href="#">Машиностроение</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                 

                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                 <section class="section primary-section scroll" id="section4">
                 <div class="section__inner">
                                <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z" fill="#0C4DA2"/>
</svg>
Добавить в мой файл
</span>
                     <h3 class="section__title">Механическая часть</h3>
                     <div class="section__info">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti maxime, accusamus animi suscipit nesciunt corrupti voluptates repellendus doloribus ratione atque cumque eum delectus, inventore cum fugiat architecto eos culpa.</p>
                     </div>
                 </div>
             </section>
                <section class="section secondary-section scroll" id="section5">
                 <div class="section__inner">
                     <h3 class="section__title">
                        Механики
                     </h3>
                     <div class="section__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quos dolore? Voluptatibus consequatur rerum, expedita aliquam, sed minima quidem reprehenderit iste nisi incidunt doloribus aliquid autem quia praesentium harum! Excepturi?</p>
                     </div>
                     <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>
                 </div>
             </section>
              <section class="section secondary-section scroll" id="section6">
                 <div class="section__inner">
                     <h3 class="section__title">
                       Площадка в г. Молодечно
                     </h3>
                     <div class="section__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quos dolore? Voluptatibus consequatur rerum, expedita aliquam, sed minima quidem reprehenderit iste nisi incidunt doloribus aliquid autem quia praesentium harum! Excepturi?</p>
                     </div>
                     <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>
                 </div>
             </section>
              <section class="section secondary-section scroll" id="section7">
                 <div class="section__inner">
                     <h3 class="section__title">
                        Слесари-сборщики
                     </h3>
                     <div class="section__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quos dolore? Voluptatibus consequatur rerum, expedita aliquam, sed minima quidem reprehenderit iste nisi incidunt doloribus aliquid autem quia praesentium harum! Excepturi?</p>
                     </div>
                     <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>
                 </div>
             </section>
              <section class="section secondary-section scroll" id="section8">
                 <div class="section__inner">
                     <h3 class="section__title">
                        Метрология (про лазер)
                     </h3>
                     <div class="section__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quos dolore? Voluptatibus consequatur rerum, expedita aliquam, sed minima quidem reprehenderit iste nisi incidunt doloribus aliquid autem quia praesentium harum! Excepturi?</p>
                     </div>
                     <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>
                 </div>
             </section>
              <section class="section sitekgram">

                    <div class="section__inner">
                     
                        <form class="sitekgram__filter">
  <h2 class="section__title">Sitekgram</h2>
                       <div class="sitekgram__filter-bottom">
                                <div class="sitekgram__filter-left">
                                <div class="filter-field">
                                    <ul class="filter-field__list">
                                        <li class="list-item">
                                            {{> ui/checkbox id=12 name='news' value='Видео' label='Видео'}} <div
                                                class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=13 name='news' label='Новости компании'}} <div
                                                class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item"> {{> ui/checkbox id=14 name='news' label='Пресса'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item"> {{> ui/checkbox id=15 name='news' label='Документы'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                     

                                    </ul>
                                </div>
                            </div>
                            <div class="sitekgram__filter-right">
                                <div class="filter-field">
                                    <div class="filter-field__title">Публикации в социальных сетях</div>
                                    <ul class="filter-field__list">
                                        <li class="list-item">
                                            {{> ui/checkbox id=17 name='social' value='twitter' label='Twitter'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=18 name='social' value='facebook' label='Facebook'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=19  name='social' value='instagram' label='Instagram'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=20  name='social' value='linkedin' label='Linkedin'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                       </div>
                               <ul class="filter-subfield__list">
                                <li class="list-item">
                                    {{> ui/checkbox id=21 name='type' value='Модернизация' label='Модернизация'}}
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=22 name='type' value='Машиностроение' label='Машиностроение'}}
                                </li>
                                <li class="list-item"> {{> ui/checkbox id=23 name='type' value='Рама' label='Рама'}}
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=24 name='type' value='Продольно-фрезерный' label='Продольно-фрезерный'}}
                                </li>
                            </ul>
                            <button class="btn btn-reset-filter" type="reset"><span>Очистить фильтр</span></button>
                   <div class="section__link">
                    <a href="">Смотреть все 100 записей <svg width="6" height="12" viewBox="0 0 6 12"  fill='none'
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                        </form>
             
                        <div class="sitekgram__result-field">
                            <div class="result">Показано 3 из <span>27</span></div>
                            <div class="sitekgram-list">
                                <div class="row sitekgram">
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                                    <div class="label">Видео</div>
                                                </div>
                                            </a>

                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                                </h3>
                                                <div class="info-text">
                                                    Друзья, рады поделиться видео с предварительной приемки нашего
                                                    специального
                                                    ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                                    <div class="label">Пресса</div>
                                                </div>
                                            </a>
                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                                </h3>
                                                <div class="info-text">
                                                    Рады поделиться новостью с приемки нашего специального
                                                    продольно-фрезерного
                                                    станка с ЧПУ ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Модернизация</a> </li>
                                                    <li class="category__item"><a href="#">Машиностроение</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                               

                                </div>
                                <a href="#" class="sitekgram__list-expand"><span>Показать больше</span>
                                    <div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                                fill="#0C4DA2" fill-opacity="0.4" />
                                        </svg></div>
                                </a>
                            </div>
                            <div class="sitekgram-sublist">
                                <div class="row sitekgram">
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                                    <div class="label">Видео</div>
                                                </div>
                                            </a>

                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                                </h3>
                                                <div class="info-text">
                                                    Друзья, рады поделиться видео с предварительной приемки нашего
                                                    специального
                                                    ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                                    <div class="label">Пресса</div>
                                                </div>
                                            </a>
                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                                </h3>
                                                <div class="info-text">
                                                    Рады поделиться новостью с приемки нашего специального
                                                    продольно-фрезерного
                                                    станка с ЧПУ ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Модернизация</a> </li>
                                                    <li class="category__item"><a href="#">Машиностроение</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                 

                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                     <section class="section primary-section scroll" id="section9">
                 <div class="section__inner">
                                <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z" fill="#0C4DA2"/>
</svg>
Добавить в мой файл
</span>
                     <h3 class="section__title">Гидравлическая часть</h3>
                     <div class="section__info">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti maxime, accusamus animi suscipit nesciunt corrupti voluptates repellendus doloribus ratione atque cumque eum delectus, inventore cum fugiat architecto eos culpa.</p>
                     </div>
                 </div>
             </section>
               <section class="section secondary-section scroll" id="section10">
                 <div class="section__inner">
                     <h3 class="section__title">
                       Гидравлики
                     </h3>
                     <div class="section__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quos dolore? Voluptatibus consequatur rerum, expedita aliquam, sed minima quidem reprehenderit iste nisi incidunt doloribus aliquid autem quia praesentium harum! Excepturi?</p>
                     </div>
                     <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>
                 </div>
             </section>
               <section class="section secondary-section scroll" id="section11">
                 <div class="section__inner">
                     <h3 class="section__title">
                       Участки по сборке гидростанций
                     </h3>
                     <div class="section__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quos dolore? Voluptatibus consequatur rerum, expedita aliquam, sed minima quidem reprehenderit iste nisi incidunt doloribus aliquid autem quia praesentium harum! Excepturi?</p>
                     </div>
                     <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>
                 </div>
             </section>
             <section class="section sitekgram">

                    <div class="section__inner">
                     
                        <form class="sitekgram__filter">
  <h2 class="section__title">Sitekgram</h2>
                       <div class="sitekgram__filter-bottom">
                                <div class="sitekgram__filter-left">
                                <div class="filter-field">
                                    <ul class="filter-field__list">
                                        <li class="list-item">
                                            {{> ui/checkbox id=12 name='news' value='Видео' label='Видео'}} <div
                                                class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=13 name='news' label='Новости компании'}} <div
                                                class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item"> {{> ui/checkbox id=14 name='news' label='Пресса'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item"> {{> ui/checkbox id=15 name='news' label='Документы'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                     

                                    </ul>
                                </div>
                            </div>
                            <div class="sitekgram__filter-right">
                                <div class="filter-field">
                                    <div class="filter-field__title">Публикации в социальных сетях</div>
                                    <ul class="filter-field__list">
                                        <li class="list-item">
                                            {{> ui/checkbox id=17 name='social' value='twitter' label='Twitter'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=18 name='social' value='facebook' label='Facebook'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=19  name='social' value='instagram' label='Instagram'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=20  name='social' value='linkedin' label='Linkedin'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                       </div>
                               <ul class="filter-subfield__list">
                                <li class="list-item">
                                    {{> ui/checkbox id=21 name='type' value='Модернизация' label='Модернизация'}}
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=22 name='type' value='Машиностроение' label='Машиностроение'}}
                                </li>
                                <li class="list-item"> {{> ui/checkbox id=23 name='type' value='Рама' label='Рама'}}
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=24 name='type' value='Продольно-фрезерный' label='Продольно-фрезерный'}}
                                </li>
                            </ul>
                            <button class="btn btn-reset-filter" type="reset"><span>Очистить фильтр</span></button>
                   <div class="section__link">
                    <a href="">Смотреть все 100 записей <svg width="6" height="12" viewBox="0 0 6 12"  fill='none'
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                        </form>
             
                        <div class="sitekgram__result-field">
                            <div class="result">Показано 3 из <span>27</span></div>
                            <div class="sitekgram-list">
                                <div class="row sitekgram">
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                                    <div class="label">Видео</div>
                                                </div>
                                            </a>

                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                                </h3>
                                                <div class="info-text">
                                                    Друзья, рады поделиться видео с предварительной приемки нашего
                                                    специального
                                                    ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                                    <div class="label">Пресса</div>
                                                </div>
                                            </a>
                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                                </h3>
                                                <div class="info-text">
                                                    Рады поделиться новостью с приемки нашего специального
                                                    продольно-фрезерного
                                                    станка с ЧПУ ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Модернизация</a> </li>
                                                    <li class="category__item"><a href="#">Машиностроение</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                               

                                </div>
                                <a href="#" class="sitekgram__list-expand"><span>Показать больше</span>
                                    <div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                                fill="#0C4DA2" fill-opacity="0.4" />
                                        </svg></div>
                                </a>
                            </div>
                            <div class="sitekgram-sublist">
                                <div class="row sitekgram">
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                                    <div class="label">Видео</div>
                                                </div>
                                            </a>

                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                                </h3>
                                                <div class="info-text">
                                                    Друзья, рады поделиться видео с предварительной приемки нашего
                                                    специального
                                                    ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                                    <div class="label">Пресса</div>
                                                </div>
                                            </a>
                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                                </h3>
                                                <div class="info-text">
                                                    Рады поделиться новостью с приемки нашего специального
                                                    продольно-фрезерного
                                                    станка с ЧПУ ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Модернизация</a> </li>
                                                    <li class="category__item"><a href="#">Машиностроение</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                 

                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                  <section class="section primary-section" >
                 <div class="section__inner">
                                <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z" fill="#0C4DA2"/>
</svg>
Добавить в мой файл
</span>
                     <h3 class="section__title">Механообработка</h3>
                     <div class="section__info">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti maxime, accusamus animi suscipit nesciunt corrupti voluptates repellendus doloribus ratione atque cumque eum delectus, inventore cum fugiat architecto eos culpa.</p>
                     </div>
                 </div>
             </section>
                <section class="section secondary-section" >
                 <div class="section__inner">
                     <h3 class="section__title">
                       Простые станки
                     </h3>
                     <div class="section__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quos dolore? Voluptatibus consequatur rerum, expedita aliquam, sed minima quidem reprehenderit iste nisi incidunt doloribus aliquid autem quia praesentium harum! Excepturi?</p>
                     </div>
                     <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>
                 </div>
             </section>
              <section class="section secondary-section" >
                 <div class="section__inner">
                     <h3 class="section__title">
                     Станок Kekeisen
                     </h3>
                     <div class="section__info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quos dolore? Voluptatibus consequatur rerum, expedita aliquam, sed minima quidem reprehenderit iste nisi incidunt doloribus aliquid autem quia praesentium harum! Excepturi?</p>
                     </div>
                     <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>
                 </div>
             </section>
                <section class="section sitekgram">

                    <div class="section__inner">
                     
                        <form class="sitekgram__filter">
  <h2 class="section__title">Sitekgram</h2>
                       <div class="sitekgram__filter-bottom">
                                <div class="sitekgram__filter-left">
                                <div class="filter-field">
                                    <ul class="filter-field__list">
                                        <li class="list-item">
                                            {{> ui/checkbox id=12 name='news' value='Видео' label='Видео'}} <div
                                                class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=13 name='news' label='Новости компании'}} <div
                                                class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item"> {{> ui/checkbox id=14 name='news' label='Пресса'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item"> {{> ui/checkbox id=15 name='news' label='Документы'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                     

                                    </ul>
                                </div>
                            </div>
                            <div class="sitekgram__filter-right">
                                <div class="filter-field">
                                    <div class="filter-field__title">Публикации в социальных сетях</div>
                                    <ul class="filter-field__list">
                                        <li class="list-item">
                                            {{> ui/checkbox id=17 name='social' value='twitter' label='Twitter'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=18 name='social' value='facebook' label='Facebook'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=19  name='social' value='instagram' label='Instagram'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>
                                        <li class="list-item">
                                            {{> ui/checkbox id=20  name='social' value='linkedin' label='Linkedin'}}
                                            <div class="count-field"> <span class="count">8</span></div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                       </div>
                               <ul class="filter-subfield__list">
                                <li class="list-item">
                                    {{> ui/checkbox id=21 name='type' value='Модернизация' label='Модернизация'}}
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=22 name='type' value='Машиностроение' label='Машиностроение'}}
                                </li>
                                <li class="list-item"> {{> ui/checkbox id=23 name='type' value='Рама' label='Рама'}}
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=24 name='type' value='Продольно-фрезерный' label='Продольно-фрезерный'}}
                                </li>
                            </ul>
                            <button class="btn btn-reset-filter" type="reset"><span>Очистить фильтр</span></button>
                   <div class="section__link">
                    <a href="">Смотреть все 100 записей <svg width="6" height="12" viewBox="0 0 6 12"  fill='none'
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                        </form>
             
                        <div class="sitekgram__result-field">
                            <div class="result">Показано 3 из <span>27</span></div>
                            <div class="sitekgram-list">
                                <div class="row sitekgram">
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                                    <div class="label">Видео</div>
                                                </div>
                                            </a>

                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                                </h3>
                                                <div class="info-text">
                                                    Друзья, рады поделиться видео с предварительной приемки нашего
                                                    специального
                                                    ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                                    <div class="label">Пресса</div>
                                                </div>
                                            </a>
                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                                </h3>
                                                <div class="info-text">
                                                    Рады поделиться новостью с приемки нашего специального
                                                    продольно-фрезерного
                                                    станка с ЧПУ ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Модернизация</a> </li>
                                                    <li class="category__item"><a href="#">Машиностроение</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                               

                                </div>
                                <a href="#" class="sitekgram__list-expand"><span>Показать больше</span>
                                    <div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                                fill="#0C4DA2" fill-opacity="0.4" />
                                        </svg></div>
                                </a>
                            </div>
                            <div class="sitekgram-sublist">
                                <div class="row sitekgram">
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                                    <div class="label">Видео</div>
                                                </div>
                                            </a>

                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                                </h3>
                                                <div class="info-text">
                                                    Друзья, рады поделиться видео с предварительной приемки нашего
                                                    специального
                                                    ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 sitekgram__col">
                                        <div class="col__inner">
                                            <a href="">
                                                <div class="col__img">
                                                    <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                                    <div class="label">Пресса</div>
                                                </div>
                                            </a>
                                            <div class="col__info">
                                                <h3 class="info-title">
                                                    <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                                </h3>
                                                <div class="info-text">
                                                    Рады поделиться новостью с приемки нашего специального
                                                    продольно-фрезерного
                                                    станка с ЧПУ ...
                                                </div>

                                                <ul class="category">
                                                    <li class="category__item"><a href="#">Модернизация</a> </li>
                                                    <li class="category__item"><a href="#">Машиностроение</a> </li>
                                                    <li class="category__item"><a href="#">...</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                 

                                </div>
                            </div>
                        </div>
                    </div>

                </section>

                <section class="section history-section">
                    <div class="section__inner">
                        <h2 class="section__title">
                       НАША ИСТОРИЯ
                        </h2>
                            <div class="section__bottom">
                                 <div class="section__left">
                                <img src="../static//images/history-img.jpg" alt="">
                            </div>
                            <div class="section__right">
                                <p> Компания СИТЕК специализируется на ремонте и модернизации станков с числовым программным управлением и выполняет ремонт сложных и уникальных станков</p>
                                <p>В портфеле компании есть проекты по ремонту и модернизации обрабатывающих центров и станков отечественного и импортного производства различных технологических групп.</p>
                                 <a href="" class="section__right-link">Читать подробнее <svg width="6" height="12" viewBox="0 0 6 12"  fill='none'
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                            </div>
                            </div>
                    </div>
                </section>
            </div>
        </div>

    </div>

</div>




{{>layout/footer}}