{{!Абразивно-отрезные станки производства СИТЕК}}

{{> layout/header}}
<div class="content abrasive-bench-sitek-page">


    <div class="container">
        <div class="content__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Каталог</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Продольно-фрезерные станки</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link active">Поставка ПФС РАМА</a></li>
            </ul>
            <aside class="aside" id="aside">
                <div class="aside__inner">
                    <nav class="aside__nav" id="menu">
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#head" class="nav__link">Портальные станки PAMA
                                    Vertiram</a></li>
                            <li class="nav__item"><a href="#section1" class="nav__link">Станки для высокоскоростной
                                    обработки</a></li>
                            <li class="nav__item"><a href="#section2" class="nav__link">Станки для обработки тяжелых
                                    деталей с небольшими припусками</a></li>
                            <li class="nav__item"><a href="#section3" class="nav__link">Станки для тяжелой обработки с
                                    большими припусками</a></li>
                        </ul>
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#section4" class="nav__link">Возможные конфигурации
                                    станков</a></li>

                        </ul>


                    </nav>
                    <div class="aside__action">

                        <a href="#" class="btn primary-btn gray">Новые станки SITEK</a>
                        <a href="#" class="btn primary-btn yellow">Новые станки РАМА</a>
                    </div>
                </div>



            </aside>

            <div class="content__info">
                <section class="section primary-section">
                    <div class="section__inner">

                        <h2 class="section__title">Абразивно-отрезные станки производства СИТЕК </h2>
                        <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>

                        <div class="section__slider">

                            <div class="slider-primary" id="section-slider">
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
                                <div class="slider__text">
                                 Перевод на электромеханический привод
                                </div>

                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
     <div class="slider__text">
                                    Перевод на электромеханический привод
                                </div>
                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
     <div class="slider__text">
                                   Перевод на электромеханический привод
                                </div>
                                </div>


                            </div>
                            
                        </div>
                       <div class="section__text">
                           <p>
                               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium ipsam culpa, corrupti minima accusamus hic sunt laboriosam repellendus dolorum perspiciatis iusto unde error deleniti temporibus laborum explicabo architecto harum rem.
                           </p>
                       </div>
                    <div class="section__info">
                        <h3 class="section__info-title">
                              <span class="number">
                                   01
                               </span>
                               <span class="text">
                               станки для отрезки литья
                               </span>
                        </h3>
                         <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>
                        <div class="section__info-top">
                         <div class="section__elem">
                        
                        <div class="elem__top">
                        <div class="elem__top-left">
                            <div class="left-title">
                                Особенности этой серии
                            </div>
                            <p>
                                Краткое описание сценария
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus exercitationem nulla alias consequatur numquam quidem, sequi maxime soluta fugit!</p>
                               
                        </div>
                        <div class="elem__top-right">
                            <img src="../static/images/sitekgram1.jpg" alt="">
                         
                        </div>
                        </div>
                     
                       </div>
                    </div>

                    </div>
</section>
<section class="section advantages-section">
    <div class="section__inner">
        <div class="section-block">
            <h3 class="section-block__title">
                Технологические возможности абразивно-отрезных станков sitek для отрезки литья
            </h3>
            <ul class="advantages-list">
                <li class="list-item">
                    <div class="list-item__title">
                        Стабильное протягивание на низких подачах
                    </div>
                    <div class="list-item__info">
                        <p>Оперативная корректировка параметров протягивания</p>
                    </div>
                      <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки </p>
                    </div>
                </li>
                 <li class="list-item">
                    <div class="list-item__title">
                        Стабильное протягивание на низких подачах
                    </div>
                    <div class="list-item__info">
                        <p>Оперативная корректировка параметров протягивания</p>
                    </div>
                      <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки </p>
                    </div>
                </li>

                  <li class="list-item">
                    <div class="list-item__title">
                        Компактные размеры
                    </div>
                    <div class="list-item__info">
                        <p>Отсутствие гидростанции</p>
                    </div>
                      <div class="list-item__info">
                        <p> Отсутствие теплообненника охлаждения масла </p>
                    </div>
                    <div class="list-item__info">
                        <p>Отсутствуют агрегаты высокого давления </p>
                    </div>
                </li>
              
               
            </ul>
        </div>
   <div class="section-block slider">
          <div class="slider-primary bench-example" id="section-slider">
                                <div class="slider-item">
                                    <div class="slider-item__img">
                                        <img src="../static/images/bench-example.jpg" alt="">
                                    </div>

                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__img">
                                        <img src="../static/images/bench-example.jpg" alt="">
                                    </div>
                                </div>
                            


                            </div>
        
        </div>
     <div class="section-block">
            <div class="section-block__title">
              Номенклатура проятжных станков переводимых на электро-механический привод
            </div>
            <div class="section-block__table">
             
                  <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Хар-ка 1</th>
                                        <th scope="col" class="title">Хар-ка 2</th>
                                        <th scope="col" class="title">Хар-ка 3</th>
                                        <th scope="col" class="title">Хар-ка 4</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                     <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
            </div>
  
        </div>
    </div>
</section>

                <section class="section primary-section padding">
                    <div class="section__inner">
                    <div class="section__info">
                        <h3 class="section__info-title">
                              <span class="number">
                                   02
                               </span>
                               <span class="text">
                                модернизация с переводом на электро-механический привод
                               </span>
                        </h3>
                         <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>
                        <div class="section__info-top">
                         <div class="section__elem">
                        
                        <div class="elem__top">
                        <div class="elem__top-left">
                            <p>
                                Краткое описание сценария
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus exercitationem nulla alias consequatur numquam quidem, sequi maxime soluta fugit!</p>
                               
                        </div>
                        <div class="elem__top-right">
                            <img src="../static/images/sitekgram1.jpg" alt="">
                          
                        </div>
                        </div>
                     
                       </div>
                    </div>

                    </div>
</section>
<section class="section advantages-section">
    <div class="section__inner">
        <div class="section-block">
            <h3 class="section-block__title">
                Технологические возможности абразивно-отрезных станков sitek для отрезки литья
            </h3>
            <ul class="advantages-list">
                <li class="list-item">
                    <div class="list-item__title">
                        Стабильное протягивание на низких подачах
                    </div>
                    <div class="list-item__info">
                        <p>Оперативная корректировка параметров протягивания</p>
                    </div>
                      <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки </p>
                    </div>
                </li>
                 <li class="list-item">
                    <div class="list-item__title">
                        Стабильное протягивание на низких подачах
                    </div>
                    <div class="list-item__info">
                        <p>Оперативная корректировка параметров протягивания</p>
                    </div>
                      <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки </p>
                    </div>
                </li>

                  <li class="list-item">
                    <div class="list-item__title">
                        Компактные размеры
                    </div>
                    <div class="list-item__info">
                        <p>Отсутствие гидростанции</p>
                    </div>
                      <div class="list-item__info">
                        <p> Отсутствие теплообненника охлаждения масла </p>
                    </div>
                    <div class="list-item__info">
                        <p>Отсутствуют агрегаты высокого давления </p>
                    </div>
                </li>
              
               
            </ul>
        </div>
   <div class="section-block slider">
          <div class="slider-primary bench-example" id="section-slider">
                                <div class="slider-item">
                                    <div class="slider-item__img">
                                        <img src="../static/images/bench-example.jpg" alt="">
                                    </div>

                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__img">
                                        <img src="../static/images/bench-example.jpg" alt="">
                                    </div>
                                </div>
                            


                            </div>
        
        </div>
     <div class="section-block">
            <div class="section-block__title">
              Номенклатура проятжных станков переводимых на электро-механический привод
            </div>
            <div class="section-block__table">
             
                  <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Хар-ка 1</th>
                                        <th scope="col" class="title">Хар-ка 2</th>
                                        <th scope="col" class="title">Хар-ка 3</th>
                                        <th scope="col" class="title">Хар-ка 4</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                     <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
            </div>
  
        </div>
    </div>
</section>
          <section class="section primary-section padding">
                    <div class="section__inner">
                    <div class="section__info">
                        <h3 class="section__info-title">
                              <span class="number">
                                   03
                               </span>
                               <span class="text">
                                модернизация с переводом на электро-механический привод
                               </span>
                        </h3>
                         <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>
                        <div class="section__info-top">
                         <div class="section__elem">
                        
                        <div class="elem__top">
                        <div class="elem__top-left">
                            <p>
                                Краткое описание сценария
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus exercitationem nulla alias consequatur numquam quidem, sequi maxime soluta fugit!</p>
                               
                        </div>
                        <div class="elem__top-right">
                            <img src="../static/images/sitekgram1.jpg" alt="">
                          
                        </div>
                        </div>
                     
                       </div>
                    </div>

                    </div>
</section>
<section class="section advantages-section">
    <div class="section__inner">
        <div class="section-block">
            <h3 class="section-block__title">
                Технологические возможности абразивно-отрезных станков sitek для отрезки литья
            </h3>
            <ul class="advantages-list">
                <li class="list-item">
                    <div class="list-item__title">
                        Стабильное протягивание на низких подачах
                    </div>
                    <div class="list-item__info">
                        <p>Оперативная корректировка параметров протягивания</p>
                    </div>
                      <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки </p>
                    </div>
                </li>
                 <li class="list-item">
                    <div class="list-item__title">
                        Стабильное протягивание на низких подачах
                    </div>
                    <div class="list-item__info">
                        <p>Оперативная корректировка параметров протягивания</p>
                    </div>
                      <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки </p>
                    </div>
                </li>

                  <li class="list-item">
                    <div class="list-item__title">
                        Компактные размеры
                    </div>
                    <div class="list-item__info">
                        <p>Отсутствие гидростанции</p>
                    </div>
                      <div class="list-item__info">
                        <p> Отсутствие теплообненника охлаждения масла </p>
                    </div>
                    <div class="list-item__info">
                        <p>Отсутствуют агрегаты высокого давления </p>
                    </div>
                </li>
              
               
            </ul>
        </div>
   <div class="section-block slider">
          <div class="slider-primary bench-example" id="section-slider">
                                <div class="slider-item">
                                    <div class="slider-item__img">
                                        <img src="../static/images/bench-example.jpg" alt="">
                                    </div>

                                </div>
                                <div class="slider-item">
                                    <div class="slider-item__img">
                                        <img src="../static/images/bench-example.jpg" alt="">
                                    </div>
                                </div>
                            


                            </div>
        
        </div>
     <div class="section-block">
            <div class="section-block__title">
              Номенклатура проятжных станков переводимых на электро-механический привод
            </div>
            <div class="section-block__table">
             
                  <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Хар-ка 1</th>
                                        <th scope="col" class="title">Хар-ка 2</th>
                                        <th scope="col" class="title">Хар-ка 3</th>
                                        <th scope="col" class="title">Хар-ка 4</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                     <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
            </div>
 
        </div>
    </div>
</section>
<section class="section projects-section">
    <div class="section__inner">
        <h3 class="section__title">
            Примеры реализованных проектов
        </h3>
        <ul class="projects-list">
            <div class="list-item">
                <div class="list-item__left">
                    <div class="left-title">
                        Проект №1
                    </div>
                    <div class="left-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos amet vero eligendi praesentium adipisci porro perspiciatis impedit similique officiis, possimus temporibus quod atque. Aliquam fuga expedita fugiat architecto maxime repellat.

                        </p>
                    </div>
                    <div class="left-link">
               <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                    </div>
                </div>
                <div class="list-item__right">
                    <img src="../static/images/details23.jpg" alt="">
                </div>
            </div>
               <div class="list-item">
                <div class="list-item__left">
                    <div class="left-title">
                        Проект №1
                    </div>
                    <div class="left-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos amet vero eligendi praesentium adipisci porro perspiciatis impedit similique officiis, possimus temporibus quod atque. Aliquam fuga expedita fugiat architecto maxime repellat.

                        </p>
                    </div>
                    <div class="left-link">
               <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                    </div>
                </div>
                <div class="list-item__right">
                    <img src="../static/images/details23.jpg" alt="">
                </div>
            </div>
               <div class="list-item">
                <div class="list-item__left">
                    <div class="left-title">
                        Проект №1
                    </div>
                    <div class="left-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos amet vero eligendi praesentium adipisci porro perspiciatis impedit similique officiis, possimus temporibus quod atque. Aliquam fuga expedita fugiat architecto maxime repellat.

                        </p>
                    </div>
                    <div class="left-link">
               <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                    </div>
                </div>
                <div class="list-item__right">
                    <img src="../static/images/details23.jpg" alt="">
                </div>
            </div>
        </ul>
    </div>
</section>


            </div>
        </div>

    </div>

</div>

<section class="section client-section">
  <div class="container">
        <div class="section__inner">
        <h3 class="section__title">
           НАши заказчики
        </h3>
        <div class="section__info">
           <div class="slider clients-slider">
               <div class="slider__item">
                   <div class="slider__item-left">
                       <img src="../static/images/client1.png" alt="">
                   </div>
                   <div class="slider__item-right">
                       <div class="item-title">
                            ПАО «Корпорация ВСМПО-АВИСМА
                       </div>
                       <div class="item-info">
                           Российская металлургическая компания, производящая титан и изделия из него. Крупнейший в мире производитель титана. Глубоко интегрирована в мировую авиакосмическую индустрию.
                       </div>
                   </div>
               </div>
                <div class="slider__item">
                   <div class="slider__item-left">
                       <img src="../static/images/client1.png" alt="">
                   </div>
                   <div class="slider__item-right">
                       <div class="item-title">
                            ПАО «Корпорация ВСМПО-АВИСМА
                       </div>
                       <div class="item-info">
                           Российская металлургическая компания, производящая титан и изделия из него. Крупнейший в мире производитель титана. Глубоко интегрирована в мировую авиакосмическую индустрию.
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
  </div>
</section>

{{>section/sitekgram}}
{{>section/information}}
{{>layout/footer}}