{{!Страница отдельной статьи}}

{{> layout/header}}
<div class="content article-page" >
    <div class="container">
        <div class="content__inner">
    <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>     
                   <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Книга CNC</a></li>    
                    <li class="breadcrumbs__item "><a href="#"
                            class="breadcrumbs__link active">     Глава 1. Станки с ЧПУ</a>
                    </li>


                </ul>

            <div class="content__info">
            
   <section class="section article-section">
       <div class="section__inner">
           <h2 class="section__title">
      Глава 1. Станки с ЧПУ
           </h2>
          <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z" fill="#0C4DA2"/>
</svg>
Добавить в мой файл
</span>               
<div class="section__info">
<div class="text">
    <p>В этой главе описываются типы приложений, которые обсуждаются в этом тексте, а также список наиболее распространенных типов приложений с ЧПУ для дома и магазина и их типичных строительных материалов. </p>
</div>
<div class="text">
    <div class="title">Общие применения с ЧПУ</div>
    <p>В этом разделе рассматриваются различные типы приложений, которые могут управляться или автоматизироваться численно (или численно контролироваться компьютером). В список включены наиболее часто используемые приложения. Основные и общие характеристики, встречающиеся в наиболее часто используемых станках с ЧПУ и других применениях, и их управление могут быть экстраполированы из приведенных примеров.</p>
</div>
<div class="text">
      <div class="title">Маршрутизатор / гравер</div>
    <p>Маршрутизаторы бывают разных размеров и форм. В зависимости от того, что будет производиться с маршрутизатором, будет иметь прямое отношение к правильной головке маршрутизатора, двигателям, коэффициенту уменьшения, скорости, высоте гентри и т. Д. Слишком часто термин «маршрутизатор» обычно используется для обозначения различных вещей, но он сводится к следующему. к типу машины, которая использует вращающийся процесс для резки или гравировки. Может быть использован практически любой мотор шпинделя, его мощность и обороты зависят от используемых материалов и инструментов. Гравировальные станки могут быть оснащены двигателем мощностью 1/20 лошадиных сил, способным вращаться со скоростью 40000 об / мин, тогда как система, предназначенная для резки фанеры, может иметь шпиндель мощностью 40 лошадиных сил с максимальной скоростью 18000 об / мин. Обычно встречаются стандартные деревообрабатывающие фрезерные головки, установленные на машинах для начинающих и любителей. Этот тип двигателя во многом отличается от высокочастотной головки шпинделя, управляемой частотно-регулируемым приводом (VFD). Преимущества использования высокочастотной шпиндельной головки много. Среди них - снижение шума при работе, увеличение срока службы, увеличение мощности и возможность использования автоматического сменщика инструмента (ATC).</p>
<p>Одним из основных различий между этими двумя типами единиц является их номинальная мощность или развитая мощность. Чтобы помочь пользователю понять эту разницу, два типа головок обсуждаются далее.</p>
</div>
<div class="text">
      <div class="title">Фрезер против шпиндельнай головки</div>
    <p>Обычный вопрос от новичков в маршрутизации с ЧПУ касается разницы между маршрутизатором и головкой шпинделя, поскольку любой из них обычно называется маршрутизатором с ЧПУ. Хотя оба они соответствуют критериям в качестве маршрутизатора, между ними есть четкие различия. Здесь мы конкретно обсудим, что представляет собой каждая из этих единиц, и сопоставим различия между ними.</p>
</div>
  <span class="button-wrap">Показать больше<div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                    fill="#0C4DA2" fill-opacity="0.4" />
                            </svg></div></span>
</div>         

          
          
       </div>
   </section>


            </div>
        </div>

    </div>

</div>

{{> section/information}}

{{>layout/footer}}