{{!Продольно-фрезерные станки производства SITEK}}

{{> layout/header}}
<div class="content example-bench-sitek-page">


    <div class="container">
        <div class="content__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Каталог</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Продольно-фрезерные станки</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link active">Поставка ПФС РАМА</a></li>
            </ul>
            <aside class="aside" id="aside">
                <div class="aside__inner">
                    <nav class="aside__nav" id="menu">
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#head" class="nav__link">Портальные станки PAMA
                                    Vertiram</a></li>
                            <li class="nav__item"><a href="#section1" class="nav__link">Станки для высокоскоростной
                                    обработки</a></li>
                            <li class="nav__item"><a href="#section2" class="nav__link">Станки для обработки тяжелых
                                    деталей с небольшими припусками</a></li>
                            <li class="nav__item"><a href="#section3" class="nav__link">Станки для тяжелой обработки с
                                    большими припусками</a></li>
                        </ul>
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#section4" class="nav__link">Возможные конфигурации
                                    станков</a></li>

                        </ul>


                    </nav>
                    <div class="aside__action">

                        <a href="#" class="btn primary-btn gray">Новые станки SITEK</a>
                        <a href="#" class="btn primary-btn yellow">Новые станки РАМА</a>
                    </div>
                </div>



            </aside>

            <div class="content__info">
                <section class="section primary-section">
                    <div class="section__inner">

                        <h2 class="section__title">Продольно-фрезерные станки производства SITEK</h2>
                        <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>

                        <div class="section__slider">

                            <div class="slider-primary" id="section-slider">
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>


                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>

                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>

                                </div>


                            </div>

                        </div>
                        <div class="section__info">
                            <div class="section__info-left">
                                <p>
                                    Текстовый блок (общее описание) для SEO. Станок SPEEDRAM идеально подходит для
                                    работы с массивными и тяжелыми деталями, чья обработка требует вертикального
                                    положения шпинделя. Всего за один установ можно совершить неограниченное число
                                    расточных, фрезерных и токарных операций.
                                </p>
                            </div>
                            <div class="section__info-right">
                                <a href="" class="download-link" target="_blank"> <svg viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.0402 15.245L16.015 10.4434C16.474 10.0004 16.474 9.27727 16.0352 8.82774C15.5695 8.38472 14.8202 8.38472 14.3612 8.82774L11.371 11.7139V1.14011C11.371 0.820882 11.2427 0.54074 11.0267 0.332262C10.8107 0.130299 10.5137 0 10.1897 0C9.54175 0 9.0085 0.51468 9.0085 1.14011V11.7139L6.01825 8.82774C5.5525 8.38472 4.80325 8.38472 4.34425 8.82774C4.11475 9.04925 4 9.34242 4 9.63559C4 9.92876 4.11475 10.2219 4.34425 10.4434L9.319 15.245L9.346 15.271C9.52825 15.4469 9.75775 15.5577 10.0007 15.5902C10.0109 15.5902 10.021 15.5919 10.0311 15.5935C10.0412 15.5951 10.0514 15.5968 10.0615 15.5968L10.1762 15.6033C10.2167 15.6033 10.2572 15.6033 10.2977 15.5968C10.3079 15.5968 10.318 15.5951 10.3281 15.5935C10.3382 15.5919 10.3484 15.5902 10.3585 15.5902C10.5947 15.5577 10.831 15.4469 11.0132 15.271C11.0153 15.269 11.018 15.2671 11.0209 15.2649C11.0276 15.26 11.0355 15.254 11.0402 15.245ZM0.987119 18.0258C0.441948 18.0258 0 18.4677 0 19.0129C0 19.5581 0.441949 20 0.98712 20H20.0129C20.5581 20 21 19.5581 21 19.0129C21 18.4677 20.5581 18.0258 20.0129 18.0258H0.987119Z"
                                            fill="#0C4DA2" />
                                    </svg>
                                    <span class="text">Скачать брошюру</span></a>
                            </div>
                        </div>


                    </div>
                </section>
                <section class="section projects-section">
                    <div class="section__inner">
                        <h3 class="section__title">
                            Ключевые проекты
                        </h3>
                        <div class="section__table">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Название</th>
                                        <th scope="col" class="title">Описание</th>
                                        <th scope="col" class="title">Sitekgram</th>

                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="left">ВБЗ 345 ИТ
                                        </td>

                                        <td class="center">крутой тезис Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Dolorum alias a iste odit corrupti quam sequi sit, modi,
                                            dicta quibusdam omnis delectus ab animi similique eligendi soluta cupiditate
                                            porro id.</td>
                                        <td class="right"><a href="" class="link">Подробнее в Sitekgram</a></td>

                                    </tr>
                                    <tr>
                                        <td class="left">ВБЗ 345 ИТ
                                        </td>

                                        <td class="center">крутой тезис Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Dolorum alias a iste odit corrupti quam sequi sit, modi,
                                            dicta quibusdam omnis delectus ab animi similique eligendi soluta cupiditate
                                            porro id.</td>
                                        <td class="right"><a href="" class="link">Подробнее в Sitekgram</a></td>

                                    </tr>




                                </tbody>

                            </table>
                        </div>
                    </div>
                </section>

                <section class="section model-row-section">
                    <div class="section__inner">
                        <h3 class="section__title">
                            Модельный ряд станков
                        </h3>
                        <div class="section__info">
                            <ul class="model-row">
                                <li class="list-item">
                                    <a href="#" class="list-item__top">
                                        <img src="../static/images/sitekgram1.jpg" alt="">
                                        <div class="text">
                                            СИ620Ф4
                                        </div>
                                        <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.1365e-06 26L-6.24486e-09 0.142865L19.8802 -5.23482e-09L20 26L9.94012 19.2857L-1.1365e-06 26Z" fill="white" fill-opacity="0.8"/>
</svg>
                                    </a>
                                    <div class="list-item__bottom">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="title">Название</th>
                                                    <th scope="col" class="title">Описание</th>


                                                </tr>
                                            </thead>
                                            <tbody class="table-body">
                                                <tr>
                                                    <td>Длина</td>
                                                    <td>Значение</td>
                                                </tr>
                                                <tr>
                                                    <td>Длина</td>
                                                    <td>Значение</td>



                                                </tr>




                                            </tbody>

                                        </table>
                                    </div>
                                </li>
                                  <li class="list-item">
                                    <a href="#" class="list-item__top">
                                        <img src="../static/images/sitekgram1.jpg" alt="">
                                        <div class="text">
                                            СИ620Ф4
                                        </div>
                                        <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.1365e-06 26L-6.24486e-09 0.142865L19.8802 -5.23482e-09L20 26L9.94012 19.2857L-1.1365e-06 26Z" fill="white" fill-opacity="0.8"/>
</svg>
                                    </a>
                                    <div class="list-item__bottom">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="title">Название</th>
                                                    <th scope="col" class="title">Описание</th>


                                                </tr>
                                            </thead>
                                            <tbody class="table-body">
                                                <tr>
                                                    <td>Длина</td>
                                                    <td>Значение</td>
                                                </tr>
                                                <tr>
                                                    <td>Длина</td>
                                                    <td>Значение</td>



                                                </tr>




                                            </tbody>

                                        </table>
                                    </div>
                                </li>
                                  <li class="list-item">
                                    <a href="#" class="list-item__top">
                                        <img src="../static/images/sitekgram1.jpg" alt="">
                                        <div class="text">
                                            СИ620Ф4
                                        </div>
                                        <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.1365e-06 26L-6.24486e-09 0.142865L19.8802 -5.23482e-09L20 26L9.94012 19.2857L-1.1365e-06 26Z" fill="white" fill-opacity="0.8"/>
</svg>
                                    </a>
                                    <div class="list-item__bottom">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="title">Название</th>
                                                    <th scope="col" class="title">Описание</th>


                                                </tr>
                                            </thead>
                                            <tbody class="table-body">
                                                <tr>
                                                    <td>Длина</td>
                                                    <td>Значение</td>
                                                </tr>
                                                <tr>
                                                    <td>Длина</td>
                                                    <td>Значение</td>



                                                </tr>




                                            </tbody>

                                        </table>
                                    </div>
                                </li>
                            </ul>
                        </div>
                          <span class="button-wrap">Показать больше<div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                    fill="#0C4DA2" fill-opacity="0.4" />
                            </svg></div></span>
                    </div>
                </section>
                <section class="section table-section">
                    <div class="section__inner">
                         <div class="section__table">
                            <h3 class="section__table-title">
                                Накладные фрезерные головки
                            </h3>
                            <h4 class="section__table-subtitle">
                                Изготовлены на собственном заводе по производству головок в г. Брешиа
                            </h4>
                            <div class="table-block">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="title">Модель</th>
                                            <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                               <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                  <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                     <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>




                                    </tbody>
                                    <button class="table-wrap">
                                        <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z" fill="#0C4DA2" fill-opacity="0.4"/>
</svg>

                                    </button>
                                </table>
                            </div>
                        </div>
                         <div class="section__table">
                            <h3 class="section__table-title">
                                Магазин инструментов
                            </h3>
                         
                            <div class="table-block">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="title">Модель</th>
                                            <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                               <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                  <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                     <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>




                                    </tbody>
                                    <button class="table-wrap">
                                        <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z" fill="#0C4DA2" fill-opacity="0.4"/>
</svg>

                                    </button>
                                </table>
                            </div>
                          
                        </div>
                         <div class="section__table">
                            <h3 class="section__table-title">
                              Зажимные приспособления
                            </h3>
                           <ul class="details-list">
                               <li class="list-item">
                                   <div class="list-item__title">
                                        Вакуумный зажимной стопор
                                   </div>
                                   <div class="list-item__img">
                                       <img src="../static/images/model123123.jpg" alt="">
                                   </div>
                                   <div class="list-item__info">
                                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quisquam quae blanditiis exercitationem assumenda vitae quibusdam at ea, quos consectetur.</p>
                                   </div>
                               </li>
                                 <li class="list-item">
                                   <div class="list-item__title">
                                        Вакуумный зажимной стопор
                                   </div>
                                   <div class="list-item__img">
                                       <img src="../static/images/model123123.jpg" alt="">
                                   </div>
                                   <div class="list-item__info">
                                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quisquam quae blanditiis exercitationem assumenda vitae quibusdam at ea, quos consectetur.</p>
                                   </div>
                               </li>
                                 <li class="list-item">
                                   <div class="list-item__title">
                                        Вакуумный зажимной стопор
                                   </div>
                                   <div class="list-item__img">
                                       <img src="../static/images/model123123.jpg" alt="">
                                   </div>
                                   <div class="list-item__info">
                                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quisquam quae blanditiis exercitationem assumenda vitae quibusdam at ea, quos consectetur.</p>
                                   </div>
                               </li>
                                   <button class="table-wrap">
                                        <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z" fill="#0C4DA2" fill-opacity="0.4"/>
</svg>

                                    </button>
                           </ul>
                         
                          
                        </div>
                    </div>
                </section>
            </div>

        </div>

    </div>



    {{>section/sitekgram}}
    {{>section/information}}
    {{>layout/footer}}