{{!Одиночный СССР станок}}

{{> layout/header}}
<div class="content bench-single-page" >
    <div class="container">
        <div class="content__inner">
    <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>     
                    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Станкопедия</a></li>              
                      <li class="breadcrumbs__item "><a href="#"
                            class="breadcrumbs__link"> Станки СССР </a>
                    </li>
                    <li class="breadcrumbs__item "><a href="#"
                            class="breadcrumbs__link active">Токарно-карусельный станок 1525 (1525Ф1)</a>
                    </li>


                </ul>

            <div class="content__info">
            
   <section class="section bench-section">
       <div class="section__inner">
           <h2 class="section__title">
        Токарно-карусельный станок 1525 (1525Ф1)
           </h2>
                                  <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z" fill="#0C4DA2"/>
</svg>
Добавить в мой файл
</span>
<div class="section__info">
  <div class="section__info-img">
      <img src="../static/images/bench-sssr-single.jpg" alt="">
  </div>
  <div class="section__info-text">
      <p>
Токарно-карусельный станок 1525 (1525Ф1) - один из самых распространённых на территории бывшего СССР станок, позволяющий производить токарную обработку деталей средних и больших размеров. Станок экспортировался во многие страны мира. Токарно-карусельный станок 1525 (1525Ф1) зарекомендовал себя как надёжный и неприхотливый, не требующий повышенного внимания.  </p>
  </div>  
  <div class="section__info-table">
      <table class="table">
  <thead>
    <tr>
      <th scope="col" class="title">Рабочий диапазон</th>
   
    </tr>
  </thead>
  <tbody class="table-body">
    <tr>
      <td class="left">Наибольший диаметр обрабатываемой детали</td>
      <td class="right">2 500 мм</td>
    </tr>
   <tr>
      <td class="left">Наибольшая высота обрабатываемой детали</td>
      <td class="right">1 600 мм</td>
    </tr>
       <tr>
      <td class="left">Диаметр планшайбы</td>
      <td class="right">2 250 мм</td>
    </tr>
  </tbody>
    <thead>
    <tr>
      <th scope="col" class="title">Габаритные размеры</th>
   
    </tr>
  </thead>
  <tbody class="table-body">
    <tr>
      <td class="left">Длина</td>
      <td class="right">5,070 мм</td>
    </tr>
   <tr>
      <td class="left">Ширина</td>
      <td class="right">6,340мм</td>
    </tr>
       <tr>
      <td class="left">Высота</td>
      <td class="right"> 5,100 мм </td>
    </tr>
       <tr>
      <td class="left">Масса станка</td>
      <td class="right">35,500 кг</td>
    </tr>
       <tr>
      <td class="left">Т-образные пазы</td>
      <td class="right"> 1,000 - 2,500 мм </td>
    </tr>
       <tr>
      <td class="left">Шаг Т-слотов</td>
      <td class="right"> 1,000 - 2,500 мм </td>
    </tr>
  </tbody>
</table>
  </div>
</div>         

          
          
       </div>
   </section>
<section class="section offer-section">
    <div class="section__inner">
        <h3 class="section__title">
    Мы предлагаем
        </h3>
        <div class="section__info">
      <div class="sitek-branch">
                      <div class="title">
                      Модернизация
                      </div>
                      <div class="sitek-branch__list">
                                <div class="row catalog__list-row ">
                             <div class="col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog1.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog2.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="col__link-left green">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                             
                              

                            </div>
                      </div>
                  </div>
                     <div class="sitek-branch">
                      <div class="title">
                    Аналоги собственного производства
                      </div>
                      <div class="sitek-branch__list">
                                <div class="row catalog__list-row ">
                             <div class="col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog1.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog2.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="col__link-left green">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog3.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                              

                            </div>
                      </div>
                  </div>
                     <div class="sitek-branch">
                      <div class="title">
                     Аналоги европейского производства
                      </div>
                      <div class="sitek-branch__list">
                                <div class="row catalog__list-row ">
                             <div class="col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog1.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog2.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="col__link-left green">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog3.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                              

                            </div>
                      </div>
                  </div>
        </div>
    </div>
</section>

            </div>
        </div>

    </div>

</div>

{{> section/sitekgram}}

{{>layout/footer}}