{{!Книга CNC}}

{{> layout/header}}
<div class="content book-page" >
    <div class="container">
        <div class="content__inner">
    <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>     
                   
                    <li class="breadcrumbs__item "><a href="#"
                            class="breadcrumbs__link active">Книга CNC</a>
                    </li>


                </ul>

            <div class="content__info">
            
   <section class="section book-section">
       <div class="section__inner">
           <h2 class="section__title">
        Книга CNC
           </h2>
             <div class="section__slider">
     
                    <div class="slider-primary" id="section-slider">
                        <div class="slider-item">
                               <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>

                            
                        </div>
                        <div class="slider-item">
                           <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                     
                        </div>
                        <div class="slider-item">
                            <div class="video">
                       <img src="../static/images/video-example.png" alt="">
                   </div>
                           
                        </div>
                     

                    </div>
              
                     </div>             
<div class="section__info">
<div class="section__info-top">
    <div class="text">
        <p>Использование ЧПУ, как на профессиональном уровне, так и на уровне любителей, является не только увлекательным процессом, но и направлением производства. Существует очень много аспектов и этапов, вовлеченных в сквозной процесс понимания и реализации ЧПУ, и, хотя было опубликовано несколько книг по определенным аспектам или темам (таким как программирование G-кода, создание станка с ЧПУ, и т. д.), до сих пор не было написано книг, которые бы помогли читателю пройти через весь процесс. Целью данной книги не является замена какой-либо ранее написанной информации по этой теме или углубление в какую-либо конкретную область. Однако к тому времени, когда читатели закончат читать эту книгу, у них будет четкое понимание всего процесса ЧПУ с нисходящей сквозной перспективы.</p>
    </div>
</div>
<div class="section__info-bottom">
    <div class="book-content">
        <h3 class="title">
             Содержание
        </h3>
        <div class="info">
<div class="info-elem">
    <h4 class="info-elem-title">Часть I Физическая архитектура</h4>
    <div class="list-block">
        <a href='#' class="list-title"><span class="number">1</span><span class="text">Станки с ЧПУ</span></a>
        <ul class="list">
            <li class="list-item"><a href="" class="list-link">Общие применения с ЧПУ</a></li>
        </ul>
    </div>
     <div class="list-block">
        <a href='#' class="list-title"><span class="number">2</span><span class="text">Направляющие Системы</span></a>
        <ul class="list">
            <li class="list-item"><a href="" class="list-link">Круглые направляющие</a></li>
             <li class="list-item"><a href="" class="list-link">Профильные направляющие</a></li>
              <li class="list-item"><a href="" class="list-link">V-образный ролик</a></li>
               <li class="list-item"><a href="" class="list-link">Гибридные роликовые направляющие</a></li>
        </ul>
    </div>
     <div class="list-block">
        <a href='#' class="list-title"><span class="number">3</span><span class="text">Системы передачи</span></a>
        <ul class="list">
                 <li class="list-item"><a href="" class="list-link">Винт и гайка</a></li>
             <li class="list-item"><a href="" class="list-link">Ведущий винт и гайка</a></li>
              <li class="list-item"><a href="" class="list-link">Шариковые винты</a></li>
               <li class="list-item"><a href="" class="list-link">Вращающаяся гайка</a></li>
                 <li class="list-item"><a href="" class="list-link">Реечный механизм</a></li>
                     <li class="list-item"><a href="" class="list-link">Переходники</a></li>
                       <li class="list-item"><a href="" class="list-link">Ремень ГРМ и шкивы</a></li>
                          <li class="list-item"><a href="" class="list-link">Построение блока уменьшения шкива</a></li>
        </ul>
    </div>
     <div class="list-block">
        <a href='#' class="list-title"><span class="number">4</span><span class="text">Двигатели</span></a>
        <ul class="list">
            <li class="list-item"><a href="" class="list-link">Шаговые двигатели</a></li>
            <li class="list-item"><a href="" class="list-link">Серводвигтели</a></li>
            <li class="list-item"><a href="" class="list-link">Шаговые против серво: за и против</a></li>
            <li class="list-item"><a href="" class="list-link">Энкодеры</a></li>
        </ul>
    </div>
</div>
<div class="info-elem">
    <h4 class="info-elem-title">Часть II Контроллер ЧПУ</h4>
    <div class="list-block">
        <a href='#' class="list-title"><span class="number">5</span><span class="text">Оператор аппратного обеспечения</span></a>
        <ul class="list">
            <li class="list-item"><a href="" class="list-link">Ограждение</a></li>
            <li class="list-item"><a href="" class="list-link">Разветвительная плата</a></li>
            <li class="list-item"><a href="" class="list-link">Приводы</a></li>
            <li class="list-item"><a href="" class="list-link">Источник питания</a></li>
            <li class="list-item"><a href="" class="list-link">Вспомогательные устройства для контроллеров</a></li>
            <li class="list-item"><a href="" class="list-link">Подвесной пульт управления</a></li>
            <li class="list-item"><a href="" class="list-link">Проводка</a></li>
        </ul>
    </div>
    
   
</div>
        </div>
    </div>
</div>
</div>         

          
          
       </div>
   </section>


            </div>
        </div>

    </div>

</div>

{{> section/information}}

{{>layout/footer}}