{{!Калькулятор}}

{{> layout/header}}
<div class="content" id="">
    <div class="container">
        <div class="content__inner">
            <aside class="aside" id="aside">
                <div class="aside__inner">
                    <nav class="aside__nav" id="menu">
                        <li class="nav__item"><a href="#head" class="nav__link">Станки</a></li>
                        <li class="nav__item"><a href="#configurator" class="nav__link">Конфигуратор</a></li>
                        <li class="nav__item"><a href="#options" class="nav__link">Опции</a></li>
                        <li class="nav__item"><a href="#specification" class="nav__link">Спецификация</a></li>
                        <li class="nav__item"><a href="#catalog" class="nav__link">Похожие комплекты</a></li>

                    </nav>
                    <div class="aside__action">
                        <a href="#" class="btn primary-btn">Каталог</a>
                        <a href="#" class="btn primary-btn gray">Sitekgram</a>
                        <a href="#" class="btn primary-btn gray">ШЕСТЬ способов связаться с нами</a>
                    </div>
                </div>



            </aside>

            <div class="content__info">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
                    <li class="breadcrumbs__item "><a href="services.html" class="breadcrumbs__link">Фрезерные
                            станки</a></li>
                    <li class="breadcrumbs__item "><a href="services.html" class="breadcrumbs__link">Станок 16А20</a>
                    </li>
                    <li class="breadcrumbs__item "><a href="services.html"
                            class="breadcrumbs__link active">Ретрофит-комплект для станка 16А20</a>
                    </li>

                </ul>
                <section class="section primary-section">
                    <h2 class="section__title" data-model-bench='16А20'>Ретрофит-комплект для станка 16А20</h2>
                    <h3 class="section__subtitle">Комплект ЧПУ для модернизации станка</h3>
                    <div class="main__slider bench-slider">
                        <div class="main__slider-item">
                            <div class="slider-img">
                                <img class="img" src="../static/images/16a20.jpg"></img>
                            </div>
                        </div>
                        <div class="main__slider-item">
                            <div class="slider-img">
                                <img class="img" src="../static/images/16a20.jpg"></img>
                            </div>
                        </div>
                        <div class="main__slider-item">
                            <div class="slider-img">
                                <img class="img" src="../static/images/16a20.jpg"></img>
                            </div>
                        </div>




                </section>
                <section class="section composition-bench-section">
                    <h2 class="section__title">В состав ретрофит-комплекта входит</h2>
                    <div class="section__block">
                        <h3 class="section__block-title">
                            <div class="number-img"><img src="../static/images/01-big.png" alt="" class="img"></div>
                            <div class="title"> Инструкция</div>
                        </h3>
                        <div class="section__block-info">
                            <ul class="instruction-list">
                                <li class="instruction-list__item">
                                    <a href="" class="instruction-list__link" target="_blank">
                                        <svg viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M11.0402 15.245L16.015 10.4434C16.474 10.0004 16.474 9.27727 16.0352 8.82774C15.5695 8.38472 14.8202 8.38472 14.3612 8.82774L11.371 11.7139V1.14011C11.371 0.820882 11.2427 0.54074 11.0267 0.332262C10.8107 0.130299 10.5137 0 10.1897 0C9.54175 0 9.0085 0.51468 9.0085 1.14011V11.7139L6.01825 8.82774C5.5525 8.38472 4.80325 8.38472 4.34425 8.82774C4.11475 9.04925 4 9.34242 4 9.63559C4 9.92876 4.11475 10.2219 4.34425 10.4434L9.319 15.245L9.346 15.271C9.52825 15.4469 9.75775 15.5577 10.0007 15.5902C10.0109 15.5902 10.021 15.5919 10.0311 15.5935C10.0412 15.5951 10.0514 15.5968 10.0615 15.5968L10.1762 15.6033C10.2167 15.6033 10.2572 15.6033 10.2977 15.5968C10.3079 15.5968 10.318 15.5951 10.3281 15.5935C10.3382 15.5919 10.3484 15.5902 10.3585 15.5902C10.5947 15.5577 10.831 15.4469 11.0132 15.271C11.0153 15.269 11.018 15.2671 11.0209 15.2649C11.0276 15.26 11.0355 15.254 11.0402 15.245ZM0.987119 18.0258C0.441948 18.0258 0 18.4677 0 19.0129C0 19.5581 0.441949 20 0.98712 20H20.0129C20.5581 20 21 19.5581 21 19.0129C21 18.4677 20.5581 18.0258 20.0129 18.0258H0.987119Z"
                                                fill="#0C4DA2" />
                                            <div class="link-info">
                                                <p>Инструкция оператора</p>
                                                <p class="gray">(PDF, 374 КБ)</p>
                                            </div>
                                        </svg>
                                    </a>
                                </li>
                                <li class="instruction-list__item">
                                    <a href="" class="instruction-list__link" target="_blank">
                                        <svg viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M11.0402 15.245L16.015 10.4434C16.474 10.0004 16.474 9.27727 16.0352 8.82774C15.5695 8.38472 14.8202 8.38472 14.3612 8.82774L11.371 11.7139V1.14011C11.371 0.820882 11.2427 0.54074 11.0267 0.332262C10.8107 0.130299 10.5137 0 10.1897 0C9.54175 0 9.0085 0.51468 9.0085 1.14011V11.7139L6.01825 8.82774C5.5525 8.38472 4.80325 8.38472 4.34425 8.82774C4.11475 9.04925 4 9.34242 4 9.63559C4 9.92876 4.11475 10.2219 4.34425 10.4434L9.319 15.245L9.346 15.271C9.52825 15.4469 9.75775 15.5577 10.0007 15.5902C10.0109 15.5902 10.021 15.5919 10.0311 15.5935C10.0412 15.5951 10.0514 15.5968 10.0615 15.5968L10.1762 15.6033C10.2167 15.6033 10.2572 15.6033 10.2977 15.5968C10.3079 15.5968 10.318 15.5951 10.3281 15.5935C10.3382 15.5919 10.3484 15.5902 10.3585 15.5902C10.5947 15.5577 10.831 15.4469 11.0132 15.271C11.0153 15.269 11.018 15.2671 11.0209 15.2649C11.0276 15.26 11.0355 15.254 11.0402 15.245ZM0.987119 18.0258C0.441948 18.0258 0 18.4677 0 19.0129C0 19.5581 0.441949 20 0.98712 20H20.0129C20.5581 20 21 19.5581 21 19.0129C21 18.4677 20.5581 18.0258 20.0129 18.0258H0.987119Z"
                                                fill="#0C4DA2" />
                                            <div class="link-info">
                                                <p>Инструкция по вводу в эксплуатацию</p>
                                                <p class="gray">(PDF, 374 КБ)</p>
                                            </div>
                                        </svg>
                                    </a>
                                </li>
                                <li class="instruction-list__item">
                                    <a href="" class="instruction-list__link" target="_blank">
                                        <svg viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M11.0402 15.245L16.015 10.4434C16.474 10.0004 16.474 9.27727 16.0352 8.82774C15.5695 8.38472 14.8202 8.38472 14.3612 8.82774L11.371 11.7139V1.14011C11.371 0.820882 11.2427 0.54074 11.0267 0.332262C10.8107 0.130299 10.5137 0 10.1897 0C9.54175 0 9.0085 0.51468 9.0085 1.14011V11.7139L6.01825 8.82774C5.5525 8.38472 4.80325 8.38472 4.34425 8.82774C4.11475 9.04925 4 9.34242 4 9.63559C4 9.92876 4.11475 10.2219 4.34425 10.4434L9.319 15.245L9.346 15.271C9.52825 15.4469 9.75775 15.5577 10.0007 15.5902C10.0109 15.5902 10.021 15.5919 10.0311 15.5935C10.0412 15.5951 10.0514 15.5968 10.0615 15.5968L10.1762 15.6033C10.2167 15.6033 10.2572 15.6033 10.2977 15.5968C10.3079 15.5968 10.318 15.5951 10.3281 15.5935C10.3382 15.5919 10.3484 15.5902 10.3585 15.5902C10.5947 15.5577 10.831 15.4469 11.0132 15.271C11.0153 15.269 11.018 15.2671 11.0209 15.2649C11.0276 15.26 11.0355 15.254 11.0402 15.245ZM0.987119 18.0258C0.441948 18.0258 0 18.4677 0 19.0129C0 19.5581 0.441949 20 0.98712 20H20.0129C20.5581 20 21 19.5581 21 19.0129C21 18.4677 20.5581 18.0258 20.0129 18.0258H0.987119Z"
                                                fill="#0C4DA2" />
                                            <div class="link-info">
                                                <p>Инструкция по монтажу</p>
                                                <p class="gray">(PDF, 374 КБ)</p>
                                            </div>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section__block">
                        <h3 class="section__block-title">
                            <div class="number-img"><img src="../static/images/02-big.png" alt="" class="img"></div>
                            <div class="title">Программа электроавтоматики – PLC</div>
                        </h3>
                        <div class="section__block-info slider">
                            <div class="main__slider composition-bench-slider">
                                <div class="main__slider-item">
                                    <div class="slider-img">
                                        <img class="img" src="../static/images/SlidePLC_2.png"></img>
                                    </div>


                                </div>
                                <div class="main__slider-item">
                                    <div class="slider-img">
                                        <img class="img" src="../static/images/SlidePLC_2.png"></img>
                                    </div>

                                </div>
                                <div class="main__slider-item">
                                    <div class="slider-img">
                                        <img class="img" src="../static/images/SlidePLC_2.png"></img>
                                    </div>

                                </div>



                            </div>
                            <div class="slider-text">Пример программы управления станка в среде PLC PROGRAMMING TOOL
                            </div>
                        </div>
                    </div>
                    <div class="section__block">
                        <h3 class="section__block-title">
                            <div class="number-img"><img src="../static/images/03-big.png" alt="" class="img"></div>
                            <div class="title">Электросхема</div>
                        </h3>
                        <div class="section__block-info slider">
                            <div class="main__slider composition-bench-slider">
                                <div class="main__slider-item">
                                    <div class="slider-img">
                                        <img class="img" src="../static/images/SlideEplan_1 1.png"></img>
                                    </div>


                                </div>
                                <div class="main__slider-item">
                                    <div class="slider-img">
                                        <img class="img" src="../static/images/SlideEplan_1 1.png"></img>
                                    </div>

                                </div>
                                <div class="main__slider-item">
                                    <div class="slider-img">
                                        <img class="img" src="../static/images/SlideEplan_1 1.png"></img>
                                    </div>

                                </div>



                            </div>
                            <div class="slider-text">Примеры электросхемы</div>
                        </div>
                    </div>
                    <div class="section__block">
                        <h3 class="section__block-title">
                            <div class="number-img"><img src="../static/images/04-big.png" alt="" class="img"></div>
                            <div class="title">Готовый электрический шкаф <br>и пульт оператора</div>
                        </h3>
                        <div class="section__block-info">
                            <div class="product">
                                <div class="product__item">
                                    <img src="../static/images/Cabinet.png" alt="">
                                    <div class="text">Шкаф</div>
                                </div>
                                <div class="product__item">
                                    <img src="../static/images/Console.png" alt="">
                                    <div class="text">Пульт</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section configurator-section scroll" id="configurator">
                    <div class="section__inner">
                        <div class="section__title">
                            Конфигуратор ретрофит-комплекта
                        </div>
                        <div class="section__info">
                            <div class="section__info-left">
                                <div class="section__info-item">
                                    <div class="item-top">
                                        <div class="item-title">
                                            СЧПУ
                                        </div>
                                        <div class="item-info">
                                            <p> ЧПУ Sinumerik 808D Advanced</p>
                                        </div>
                                    </div>
                                    <div class="item-bottom">
                                        <div class="item-title">
                                            Исполнение
                                        </div>
                                        <div class="item-info">
                                            <p>Шкаф+пульт</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section__info-center">
                                <div class="section__info-item">
                                    <div class="item-title">
                                        Главное движение
                                    </div>
                                    <div class="item-info">
                                        <p>Электропривод G120 7,5 кВт</p>
                                        <p>Без двигателя</p>
                                        <p>Датчик для резьбонарезания</p>
                                    </div>
                                </div>
                            </div>
                            <div class="section__info-right">
                                <div class="section__info-item">
                                    <div class="item-title">
                                        Подача
                                    </div>
                                    <div class="item-info">
                                        <p>Привода Sinamics V70 3,5 кВт</p>
                                        <p>Двигатели 1FL6 15 Нм и 22 Нм</p>

                                    </div>
                                </div>
                                <div class="section__info-item">
                                    <div class="item-title">
                                        Низковольтная аппаратура
                                    </div>
                                    <div class="item-info">
                                        <p>MOELLER</p>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>
                <section class="section options-section scroll" id="options">
                    <div class="section__inner">
                        <form action="" class="calc-form" id="calc-form">
                            <div class="section__block">
                                <div class="section__block-title"> Подача</div>
                                <div class="section__block-info">
                                    <div class="info-img">
                                        <img src="../static/images/rotate.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="radio-group">
                                            <div class="radio-group__title" data-popup="example">
                                                Какой крутящий момент вам подходит?
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" id="15" class="radio-input" name="supply" checked
                                                    value="0">
                                                <label for="15" class="radio-label">
                                                    15 Нм и 22 Нм, двигатели оси X и Z соответственно
                                                </label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" id="16" class="radio-input" name="supply"
                                                    value="+364">
                                                <label for="16" class="radio-label">
                                                    <div class="subtext">Рекомендуем</div>
                                                    <div class="label-left">22 Нм и 22 Нм, двигатели оси X и Z
                                                        соответственно</div>
                                                    <div class="label-right">+364€</div>
                                                </label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" id="17" class="radio-input" name="supply"
                                                    value="+664">
                                                <label for="17" class="radio-label">
                                                    <div class="label-left">30 Нм и 30 Нм, двигатели оси X и Z
                                                        соответственно</div>
                                                    <div class="label-right">+664€</div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section__block">
                                <div class="section__block-title"> Главное движение</div>
                                <div class="section__block-info">
                                    <div class="info-img">
                                        <img src="../static/images/foto.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="radio-group">
                                            <div class="radio-group__title" data-popup="example">
                                                Какая мощность и тип электропривода вам подходит?
                                            </div>
                                            <div class="radio-subgroup">
                                                <div class="radio-subgroup__title">
                                                    Аналоговый
                                                </div>
                                                <div class="radio-box">
                                                    <input type="radio" id="18" class="radio-input" name="analog"
                                                        checked value="-200">
                                                    <label for="18" class="radio-label">
                                                        <div class="label-left"> Электропривод G120 7,5кВт и ваш
                                                            двигатель</div>
                                                        <div class="label-right">-200€</div>

                                                    </label>
                                                </div>
                                                <div class="radio-box">
                                                    <input type="radio" id="19" class="radio-input" name="analog"
                                                        value="0">
                                                    <label for="19" class="radio-label">
                                                        <div class="label-left"> Электропривод G120 11кВт и ваш
                                                            двигатель</div>
                                                        <div class="label-right"></div>

                                                    </label>
                                                </div>
                                            </div>
                                            <div class="radio-subgroup">
                                                <div class="radio-subgroup__title">
                                                    Цифровой
                                                </div>
                                                <div class="radio-box">
                                                    <input type="radio" id="20" class="radio-input" name="digital"
                                                        checked value="0">
                                                    <label for="20" class="radio-label">
                                                        <div class="subtext">Рекомендуем</div>
                                                        <div class="label-left"> Электропривод V70 и двигатель 1PH1
                                                            7.5кВт</div>
                                                        <div class="label-right"></div>

                                                    </label>
                                                </div>
                                                <div class="radio-box">
                                                    <input type="radio" id="21" class="radio-input" name="digital"
                                                        value="+364">
                                                    <label for="21" class="radio-label">

                                                        <div class="label-left">Электропривод V70 и двигатель 1PH1 11кВт
                                                        </div>
                                                        <div class="label-right">+364€</div>

                                                    </label>
                                                </div>

                                                <div class="radio-box">
                                                    <input type="radio" id="22" class="radio-input" name="digital"
                                                        value="-1200">
                                                    <label for="22" class="radio-label">

                                                        <div class="label-left">Двигатель и электропривод шпинделя
                                                            заказчика</div>
                                                        <div class="label-right">-1200€</div>

                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section__block">
                                <div class="section__block-title">низковольтная аппаратура</div>
                                <div class="section__block-info">
                                    <div class="info-img">
                                        <img src="../static/images/Foto2.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="radio-group">
                                            <div class="radio-group__title" data-popup="example">
                                                Какой производитель низковольтной аппартатуры вам подходит?
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" id="23" class="radio-input" name="equipment" checked
                                                    value="0">
                                                <label for="23" class="radio-label">
                                                    Низковольтная аппаратура компании MOELLER
                                                </label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" id="24" class="radio-input" name="equipment"
                                                    value="+160">

                                                <label for="24" class="radio-label">
                                                    <div class="subtext">Рекомендуем</div>
                                                    <div class="label-left">Низковольтная аппаратура компании SIEMENS
                                                    </div>
                                                    <div class="label-right">+160€</div>
                                                </label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" id="25" class="radio-input" name="equipment"
                                                    value="-560">
                                                <label for="25" class="radio-label">
                                                    <div class="label-left">Без низковольтной аппаратуры</div>
                                                    <div class="label-right">-560€</div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section__block">
                                <div class="section__block-title">Пусконаладочные работы</div>
                                <div class="section__block-info">
                                    <div class="info-img not-bg">
                                        <img src="../static/images/puskonal.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="radio-group">
                                            <div class="radio-group__title" data-popup="example">
                                                Какой сценарий работ вам подходит?
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" id="26" class="radio-input" name="working" checked
                                                    value="0">
                                                <label for="26" class="radio-label">
                                                    Без пусконаладки
                                                </label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" id="27" class="radio-input" name="working"
                                                    value="+160">

                                                <label for="27" class="radio-label">

                                                    <div class="label-left">Базовая пусконаладка</div>
                                                    <div class="label-right">+160€</div>
                                                </label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" id="28" class="radio-input" name="working"
                                                    value="+360">
                                                <label for="28" class="radio-label">
                                                    <div class="label-left">Полная пусконаладка</div>
                                                    <div class="label-right">+360€</div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section__block other">
                                <div class="section__block-title">С этим Ретрофит-комплектом приобретают</div>
                                <ul class="other-list">
                                    <div class="row other-list__row">
                                        <div class="other-list__item col-md-3 col-6">
                                            <div class="check-box">
                                                <input type="checkbox" id="50" class="check-input" name="other"
                                                    value="360">
                                                <label for="50" class="check-label">
                                                    <div class="item-img">
                                                        <img src="../static/images/808d+.png" alt="">
                                                    </div>
                                                    <div class="item-price">
                                                        360€
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="other-list__item col-md-3 col-6">
                                            <div class="check-box">
                                                <input type="checkbox" id="51" class="check-input" name="other"
                                                    value="520">
                                                <label for="51" class="check-label">
                                                    <div class="item-img">
                                                        <img src="../static/images/v70+.png" alt="">
                                                    </div>
                                                    <div class="item-price">
                                                        520€
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class=" other-list__item col-md-3 col-6">
                                            <div class="check-box">
                                                <input type="checkbox" id="52" class="check-input" name="other"
                                                    value="480">
                                                <label for="52" class="check-label">
                                                    <div class="item-img">
                                                        <img src="../static/images/simeneric.png" alt="">
                                                    </div>
                                                    <div class="item-price">
                                                        480€
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="other-list__item col-md-3 col-6">
                                            <div class="check-box">
                                                <input type="checkbox" id="53" class="check-input" name="other"
                                                    value="520">
                                                <label for="53" class="check-label">
                                                    <div class="item-img">
                                                        <img src="../static/images/v70+.png" alt="">
                                                    </div>
                                                    <div class="item-price">
                                                        520€
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <a href="#" class="expand-btn"><span>Показать больше</span>
                                            <div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11"
                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                                        fill="#0C4DA2" fill-opacity="0.4" />
                                                </svg></div>
                                        </a>
                                    </div>
                                    <div class="other-sublist">
                                        <div class="row other-list__row">
                                            <div class="other-list__item col-3 col-6">
                                                <div class="check-box">
                                                    <input type="checkbox" id="10" class="check-input">
                                                    <label for="10" class="check-label">
                                                        <div class="item-img">
                                                            <img src="../static/images/808d+.png" alt="">
                                                        </div>
                                                        <div class="item-price">
                                                            360€
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="other-list__item col-3 col-6">
                                                <div class="check-box">
                                                    <input type="checkbox" id="11" class="check-input">
                                                    <label for="11" class="check-label">
                                                        <div class="item-img">
                                                            <img src="../static/images/v70+.png" alt="">
                                                        </div>
                                                        <div class="item-price">
                                                            520€
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class=" other-list__item col-3 col-6">
                                                <div class="check-box">
                                                    <input type="checkbox" id="12" class="check-input">
                                                    <label for="12" class="check-label">
                                                        <div class="item-img">
                                                            <img src="../static/images/simeneric.png" alt="">
                                                        </div>
                                                        <div class="item-price">
                                                            480€
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="other-list__item col-3 col-6">
                                                <div class="check-box">
                                                    <input type="checkbox" id="13" class="check-input">
                                                    <label for="13" class="check-label">
                                                        <div class="item-img">
                                                            <img src="../static/images/v70+.png" alt="">
                                                        </div>
                                                        <div class="item-price">
                                                            520€
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </ul>

                            </div>
                            <div class="popup__box" id="example">
                                <button class="popup__close js-close-wnd">
                                    {{> ui/svg name='popup-close'}}
                                </button>

                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam modi nemo
                                nihil officia rerum tempore
                                voluptatem? Eum illo neque soluta totam ullam, vitae. Alias aperiam aut cupiditate
                                debitis delectus dolorem
                                excepturi illo, impedit ipsam ipsum iste laboriosam modi molestiae nemo non nostrum
                                numquam omnis perferendis
                                praesentium quia repellat repellendus rerum saepe sed sint tempore unde veritatis.
                                Aspernatur at consectetur cum
                                deserunt distinctio eaque eius error esse est, expedita explicabo, iste maxime nemo
                                neque nulla obcaecati
                                perspiciatis praesentium quasi quidem unde! At numquam odit recusandae. Assumenda
                                corporis earum eius enim harum
                                omnis pariatur quas qui reiciendis temporibus. Aliquam amet architecto labore, molestiae
                                provident sunt. Ab aliquam
                                dolor eius omnis optio quasi quia repellendus, rerum voluptate voluptatibus. Expedita
                                explicabo itaque labore nam
                                repellat sapiente temporibus unde veniam.
                            </div>
                        </form>

                    </div>
                </section>
                <section class="section specification-section scroll" id="specification">
                    <div class="section__inner">
                        <div class="section__action">
                            <a href="" class="btn secondary-btn">Обновить спецификацию</a>
                        </div>
                        <h2 class="section__title">
                            Спецификация
                        </h2>

                        <div class="section__block">
                            <h3 class="section__block-title">
                                Комплект СЧПУ
                            </h3>
                            <div class="section__block-info">
                                <div class="section__block-number">
                                    <img src="../static/images/01-big.png" alt="">
                                </div>
                                <div class="info-wrap">
                                    <div class="info-img">
                                        <img src="../static/images/CNC_808D.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="title">
                                            СЧПУ SINUMERIK 808D ADVANCED
                                        </div>
                                        <p>Спроектирована специально для базовых моделей токарных и фрезерных станков.
                                            Имеет прочную конструкцию для тяжелых условий эксплуатации со степенью
                                            защиты IP65. • 8,4" цветной дисплей USB порт на фронтальной панели Хранение
                                            данных без батарейки Ethernet интерфейс для подключения ноутбука</p>
                                        <ul class="list">
                                            <li>8,4" цветной дисплей</li>
                                            <li>USB порт на фронтальной панели</li>
                                            <li>Хранение данных без батарейки</li>
                                            <li>Ethernet интерфейс для подключения ноутбука</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__block">
                            <h3 class="section__block-title">
                                Подача
                            </h3>
                            <div class="section__block-info">
                                <div class="section__block-number">
                                    <img src="../static/images/02-big.png" alt="">
                                </div>
                                <div class="info-wrap">
                                    <div class="info-img">
                                        <img src="../static/images/V70_Feed_v2.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="title">
                                            Привод SINAMICS V70
                                        </div>
                                        <p>Серия электроприводов в компактном корпусе имеющие высокие динамические
                                            характеристики управления серводвигателями.</p>
                                        <ul class="list">
                                            <li>380 ... 480 V 3 AC -15%/+10%</li>
                                            <li>Перегрузки до 300%</li>
                                            <li>3,5кВт для Х и Z</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__block">
                            <h3 class="section__block-title">
                                Главное движение
                            </h3>
                            <div class="section__block-info">
                                <div class="section__block-number">
                                    <img src="../static/images/03-big.png" alt="">
                                </div>
                                <div class="info-wrap">
                                    <div class="info-img">
                                        <img src="../static/images/V70_Feed_v2.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="title">
                                            Привод SINAMICS V70 Spindle
                                        </div>
                                        <p>Компактный цифровой частотный электропривод.</p>
                                        <ul class="list">
                                            <li>380 V до 480 V 3 AC</li>
                                            <li>Выходная частота 0-330Гц</li>
                                            <li>Перегрузки до 200%</li>
                                            <li>11кВт</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__block">
                            <h3 class="section__block-title">
                                Главное движение
                            </h3>
                            <div class="section__block-info">
                                <div class="section__block-number">
                                    <img src="../static/images/04-big.png" alt="">
                                </div>
                                <div class="info-wrap">
                                    <div class="info-img siemens">
                                        <img src="../static/images/SiemensLogo 1.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="title">
                                            Низковольтная аппаратура
                                        </div>
                                        <p>Реле, контакторы, автоматические выключатели, переключатели и кнопки компании
                                            SIEMENS.</p>
                                        <p> В базовой версии предоставляется управление:</p>
                                        <ul class="list">
                                            <li>380 V до 480 V 3 AC</li>
                                            <li>Выходная частота 0-330Гц</li>
                                            <li>Перегрузки до 200%</li>
                                            <li>11кВт</li>

                                        </ul>
                                        <p>По требования заказчика возможно расширить перечень узлов</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__block">
                            <h3 class="section__block-title">
                                Исполнение
                            </h3>
                            <div class="section__block-info">
                                <div class="section__block-number">
                                    <img src="../static/images/05.png" alt="">
                                </div>
                                <div class="info-wrap">
                                    <div class="info-img">
                                        <img src="../static/images/Cabinet.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="title">
                                            Шкаф
                                        </div>
                                        <p>Готовый шкаф с электрооборудованием станка, проверенный на наличие короткого
                                            замыкания.</p>

                                        <ul class="list">
                                            <li>1000x1200x400 мм</li>
                                            <li>Кронштейн-крепление к станку</li>
                                            <li>IP55</li>
                                            <li>Вентилятор охлаждения шкафа</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__block">
                            <h3 class="section__block-title">
                                Пусконаладочные работы
                            </h3>
                            <div class="section__block-info">
                                <div class="section__block-number">
                                    <img src="../static/images/06.png" alt="">
                                </div>
                                <div class="info-wrap">
                                    <div class="info-img">
                                        <img src="../static/images/puskonal.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="title">
                                            Описание
                                        </div>
                                        <p>Готовый шкаф с электрооборудованием станка, проверенный на наличие короткого
                                            замыкания.</p>

                                        <ul class="list">
                                            <li>1000x1200x400 мм</li>
                                            <li>Кронштейн-крепление к станку</li>
                                            <li>IP55</li>
                                            <li>Вентилятор охлаждения шкафа</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__block">
                            <h3 class="section__block-title">
                                Прочее
                            </h3>
                            <div class="section__block-info">
                                <div class="section__block-number">
                                    <img src="../static/images/07.png" alt="">
                                </div>
                                <div class="info-wrap">
                                    <div class="info-img">
                                        <img src="../static/images/program.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="title">
                                            Программа PLC
                                        </div>
                                        <p>Рабочая программа PLC в среде PLC Programming tool.</p>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__block">
                            <h3 class="section__block-title">
                                Опции
                            </h3>
                            <div class="section__block-info">
                                <div class="section__block-number">
                                    <img src="../static/images/08.png" alt="">
                                </div>
                                <div class="info-wrap">
                                    <div class="info-img">
                                        <img src="../static/images/program.png" alt="">
                                    </div>
                                    <div class="info-text">
                                        <div class="title">
                                            Программа PLC
                                        </div>
                                        <p>Рабочая программа PLC в среде PLC Programming tool.</p>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <div class="total-price-field--tablet">
                    <div class="total-price" data-default-price='18000'></div>
                    <button class="btn primary-btn" id="total-price-form-wrap">Оформить запрос</button>
                </div>
                <form action="" method="POST" class="total-price-form" data-model-bench='16А20'>
                    <button class="form-close" id="total-price-form-close"><svg width="17" height="17"
                            viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M2.16286 0.27263C1.8129 -0.0908768 1.24549 -0.0908767 0.895526 0.27263C0.54556 0.636137 0.54556 1.2255 0.895526 1.58901L7.23255 8.17123L0.262474 15.411C-0.0874915 15.7745 -0.0874914 16.3639 0.262474 16.7274C0.61244 17.0909 1.17985 17.0909 1.52981 16.7274L8.49989 9.4876L15.4699 16.7273C15.8199 17.0908 16.3873 17.0908 16.7373 16.7273C17.0872 16.3638 17.0872 15.7745 16.7373 15.4109L9.76723 8.17123L16.1042 1.58905C16.4542 1.22554 16.4542 0.636182 16.1042 0.272675C15.7542 -0.0908324 15.1868 -0.090833 14.8369 0.272674L8.49989 6.85485L2.16286 0.27263Z"
                                fill="#999999" />
                        </svg></button>
                    <div class="form-top">
                        <div class="input-group">
                            <input type="text" name='name' placeholder="Имя">
                            <input type="number" name='phone' placeholder="Телефон">
                            <input type="email" name='email' placeholder="Email*">
                            <input type="text" name='company' placeholder="Компания">
                        </div>
                        <div class="total-price" data-default-price='18000'><span></span></div>
                    </div>
                    <button class="btn primary-btn">Запросить</button>
                </form>
            </div>
        </div>

    </div>

</div>

{{> section/catalog}}

{{> section/information}}
{{> section/sitekgram}}
</div>

{{>layout/footer}}