{{!Каталог}}



{{> layout/header}}
<div class="content catalog-page" >
    <div class="container">
        <div class="content__inner">
    <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>                 
                      <li class="breadcrumbs__item "><a href="#"
                            class="breadcrumbs__link active">Каталог</a>
                    </li>


                </ul>

            <div class="content__info">
            
        <section class="section catalog-section">
            <div class="section__inner">
                <h2 class="section__title">
                    Каталог
                </h2>
                <div class="section__info">
                  <div class="type-bench">
                        <h3 class="title">
                            Типы станков
                        </h3>
                        <div class="type-bench__bottom">
                            <ul class="type-bench-list">
                                <li class="list-item">
                                    <a href="#" class="list-link">Горизонтально-расточные станки</a>
                                </li>
                                 <li class="list-item">
                                    <a href="#" class="list-link">Продольно-фрезерные станки</a>
                                </li>
                            </ul>
                               <ul class="type-bench-list">
                                <li class="list-item">
                                    <a href="#" class="list-link">Токарные станки</a>
                                </li>
                                 <li class="list-item">
                                    <a href="#" class="list-link">Токарно-карусерльные станки</a>
                                </li>
                                <li class="list-item">
                                    <a href="#" class="list-link">Бесцентрово-токарные станки</a>
                                </li>
                            </ul>
                               <ul class="type-bench-list">
                                <li class="list-item">
                                    <a href="#" class="list-link">Протяжные станки</a>
                                </li>
                                 <li class="list-item">
                                    <a href="#" class="list-link">Образивно-отрезные станки</a>
                                </li>
                            </ul>
                        </div>
                  </div>
                  <div class="sitek-branch">
                      <div class="title">
                        ситек в отраслях
                      </div>
                      <div class="sitek-branch__list">
                                <div class="row catalog__list-row ">
                                <div class=" col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog12.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                SITEK и Авиастроение
                                            </h3>
                                            <div class="col__link-left light-blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog3.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                SITEK и авиадвигателестроение
                                            </h3>
                                            <div class="col__link-left light-blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog9.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                SITEK и железнодорожное машиностроение
                                            </h3>
                                            <div class="col__link-left light-blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                              

                            </div>
                      </div>
                  </div>
                  <div class="section__text">
                      <div class="text-top">
<p>Компания СИТЕК – современный инжиниринговый центр компетенции в области металлообработки резанием. Развитие компании направлено на укрепление своих позиций, расширение рынков и постоянное совершенствование качества услуг.</p>
 <p>В распоряжении СИТЕК есть производственная площадка размером 4000м2, технический центр с высококвалифицированными сотрудниками в Минске, а также офисы в России и Украине.</p>
 <p>Главным желанием и задачей СИТЕК является повышение конкурентоспособности наших заказчиков путем применения наших навыков и опыта на практике. Мы верим, что реализованные нами проекты каждый день приближают наших заказчиков к поставленным целям.</p>
                      </div>
                      <span class="text-wrap" id="catalog-page-text-wrap">Развернуть    <div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                    fill="#0C4DA2" fill-opacity="0.4" />
                            </svg></div></span>
                      <div class="text-bottom" id="catalog-text-bottom">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda repudiandae, perspiciatis quod fugit ipsam veritatis, vel commodi asperiores hic amet ut natus quia provident rem error laboriosam fugiat ad! Amet praesentium delectus quibusdam quae. Odio mollitia veritatis ipsam doloribus consequatur sapiente fugit exercitationem, error id sequi suscipit cum quaerat praesentium voluptate eligendi saepe debitis consectetur hic, ad, deleniti corrupti! Laborum, ipsam corporis amet voluptates adipisci quos deserunt dolorum! Mollitia nemo vero voluptates explicabo cumque suscipit error. Corrupti maxime rerum voluptates.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum a alias, qui unde commodi blanditiis nisi deleniti odio eum. Quam molestias quas aut quod! A asperiores dolore quis sint numquam! Impedit explicabo aspernatur quibusdam, et autem vel voluptate optio? Culpa ipsam maxime ut voluptatibus esse, fugiat mollitia deserunt nesciunt aperiam voluptatem cupiditate nihil laborum magnam aliquid consequatur, voluptate qui maiores. Deleniti quia dolorum enim, aperiam accusantium nulla, ullam iusto magnam nam, dolore nisi quam quidem illo dolores. Repellat ipsum itaque eveniet commodi aliquam deserunt inventore rerum voluptas sit quia ratione corporis nulla alias, eaque tenetur similique optio dicta saepe animi.</p>
                      </div>
                  </div>
                </div>
            </div>
        </section>


            </div>
        </div>

    </div>

</div>

{{> section/information}}

{{>layout/footer}}