{{!Директор Андрей Карцев}}



{{> layout/header}}
<div class="content director-page" >
    <div class="container">
        <div class="content__inner">
    <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>                 
                      <li class="breadcrumbs__item "><a href="#"
                            class="breadcrumbs__link active">Андрей Карцев</a>
                    </li>


                </ul>

            <div class="content__info">
            
   <section class="section manager-section">
       <div class="section__inner">
           <h2 class="section__title">Директор Андрей Карцев</h2>
           <div class="section__info">
               <div class="info-left">
                   <p>Компания СИТЕК – современный инжиниринговый центр компетенции в области металлообработки резанием. Развитие компании направлено на укрепление своих позиций, расширение рынков и постоянное совершенствование качества услуг</p>
               <p>В распоряжении СИТЕК есть производственная площадка размером 4000м2, технический центр с высококвалифицированными сотрудниками в Минске, а также офисы в России и Украине.</p>
              <p>Главным желанием и задачей СИТЕК является повышение конкурентоспособности наших заказчиков путем применения наших навыков и опыта на практике. Мы верим, что реализованные нами проекты каждый день приближают наших заказчиков к поставленным целям.</p>
               </div>
               <div class="info-right">
                   <img src="../static/images/manager.jpg" alt="">
               </div>
           </div>
       </div>
   </section>


            </div>
        </div>

    </div>

</div>
{{> section/sitekgram}}
{{> section/information}}

{{>layout/footer}}