{{!Директор Андрей Карцев}}



{{> layout/header}}
<div class="content director-page" >
    <div class="container">
        <div class="content__inner">
    <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>                 
                      <li class="breadcrumbs__item "><a href="#"
                            class="breadcrumbs__link active">Андрей Карцев</a>
                    </li>


                </ul>

            <div class="content__info">
            
   <section class="section manager-section">
       <div class="section__inner">
           <h2 class="section__title">Директор Андрей Карцев</h2>
           <div class="section__info">
               <div class="info-left">
                   <p>Компания СИТЕК – современный инжиниринговый центр компетенции в области металлообработки резанием. Развитие компании направлено на укрепление своих позиций, расширение рынков и постоянное совершенствование качества услуг</p>
               <p>В распоряжении СИТЕК есть производственная площадка размером 4000м2, технический центр с высококвалифицированными сотрудниками в Минске, а также офисы в России и Украине.</p>
              <p>Главным желанием и задачей СИТЕК является повышение конкурентоспособности наших заказчиков путем применения наших навыков и опыта на практике. Мы верим, что реализованные нами проекты каждый день приближают наших заказчиков к поставленным целям.</p>
               </div>
               <div class="info-right">
                   <img src="../static/images/manager.jpg" alt="">
               </div>
           </div>
           <div class="section__post left">
               <div class="post-top">
                   <div class="post-top__title">
                       <span class="text"> Название поста №007</span>
                       <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.64449e-05 26L-1.52653e-05 0.142865L19.8802 -5.01582e-09L20 26L9.94012 19.2857L-1.64449e-05 26Z" fill="#0C4DA2" fill-opacity="0.2"/>
</svg>

                   </div>
                   <div class="post-top__info">
                       <p>
                           Если вы к металлобработке ближе, чем министр промышленности (даже младенец, который подержал в руках две минуты журнал “Юный техник” ближе), тогда читать строки далше будет больно, а уж смотреть фотографии ещё больнее! Дело в том, что сегодня мы получили новые божественные станки, рожденные в СССР, в государстве, где слово “инженер” не было ругательным и не означало декласированного, ненужного человека, который в подмътки не годится менеджеру стабильной эпохи цифровой транс...
                       </p>
                   </div>
               </div>
               <div class="post-bottom">
                   <div class="gallery">
                       <a href="../static/images/gallery1.jpg" class="gallery-item col-4 big">
                           <img src="../static/images/gallery1.jpg" alt="">
                       </a>
                           <a href="../static/images/gallery2.jpg" class="gallery-item col-4 video big" >
                           <img src="../static/images/gallery2.jpg" alt="">
                  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.4795 34.5824L36.5978 24.9999L19.4795 15.4174L19.4795 34.5824ZM37.2069 26.0677C38.0456 25.5983 38.0456 24.4015 37.2069 23.932L20.0886 14.3496C19.2632 13.8875 18.2414 14.4783 18.2414 15.4174L18.2414 34.5824C18.2414 35.5215 19.2632 36.1122 20.0886 35.6502L37.2069 26.0677Z" fill="white" fill-opacity="0.7"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.999 48.75C38.1158 48.75 48.749 38.1168 48.749 25C48.749 11.8832 38.1158 1.25 24.999 1.25C11.8823 1.25 1.24902 11.8832 1.24902 25C1.24902 38.1168 11.8823 48.75 24.999 48.75ZM24.999 50C38.8061 50 49.999 38.8071 49.999 25C49.999 11.1929 38.8061 0 24.999 0C11.1919 0 -0.000976562 11.1929 -0.000976562 25C-0.000976562 38.8071 11.1919 50 24.999 50Z" fill="white" fill-opacity="0.7"/>
</svg>

                       </a>
                           <a href="../static/images/gallery3.jpg" class="gallery-item col-4 big">
                           <img src="../static/images/gallery3.jpg" alt="">
                       </a>
                         <a href="../static/images/gallery4.jpg" class="gallery-item col-3 small">
                           <img src="../static/images/gallery4.jpg" alt="">
                       </a>
                         <a href="../static/images/gallery5.jpg" class="gallery-item col-3 video small">
                           <img src="../static/images/gallery5.jpg" alt="">
                                                   <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.4795 34.5824L36.5978 24.9999L19.4795 15.4174L19.4795 34.5824ZM37.2069 26.0677C38.0456 25.5983 38.0456 24.4015 37.2069 23.932L20.0886 14.3496C19.2632 13.8875 18.2414 14.4783 18.2414 15.4174L18.2414 34.5824C18.2414 35.5215 19.2632 36.1122 20.0886 35.6502L37.2069 26.0677Z" fill="white" fill-opacity="0.7"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.999 48.75C38.1158 48.75 48.749 38.1168 48.749 25C48.749 11.8832 38.1158 1.25 24.999 1.25C11.8823 1.25 1.24902 11.8832 1.24902 25C1.24902 38.1168 11.8823 48.75 24.999 48.75ZM24.999 50C38.8061 50 49.999 38.8071 49.999 25C49.999 11.1929 38.8061 0 24.999 0C11.1919 0 -0.000976562 11.1929 -0.000976562 25C-0.000976562 38.8071 11.1919 50 24.999 50Z" fill="white" fill-opacity="0.7"/>
</svg>
                       </a>
                         <a href="../static/images/gallery6.jpg" class="gallery-item col-3 small">
                           <img src="../static/images/gallery6.jpg" alt="">
                       </a>
                         <a href="../static/images/gallery7.jpg" class="gallery-item col-3 small wrap">
                           <img src="../static/images/gallery7.jpg" alt="">
                           <button class="gallery-item-wrap">
                            <span class="amount">15+</span>
                           </button>
                       </a>
                   </div>
               </div>
           </div>
            <div class="section__post right">
               <div class="post-top right">
                   <div class="post-top__title">
                       <span class="text"> Название поста №007</span>
                       <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.64449e-05 26L-1.52653e-05 0.142865L19.8802 -5.01582e-09L20 26L9.94012 19.2857L-1.64449e-05 26Z" fill="#0C4DA2" fill-opacity="0.2"/>
</svg>

                   </div>
                   <div class="post-top__info">
                       <p>
                           Если вы к металлобработке ближе, чем министр промышленности (даже младенец, который подержал в руках две минуты журнал “Юный техник” ближе), тогда читать строки далше будет больно, а уж смотреть фотографии ещё больнее! Дело в том, что сегодня мы получили новые божественные станки, рожденные в СССР, в государстве, где слово “инженер” не было ругательным и не означало декласированного, ненужного человека, который в подмътки не годится менеджеру стабильной эпохи цифровой транс...
                       </p>
                   </div>
               </div>
               <div class="post-bottom">
                   <div class="gallery">
                       <a href="#" class="gallery-item col-4 big">
                           <img src="../static/images/gallery1.jpg" alt="">
                       </a>
                           <a href="../static/images/gallery2.jpg" class="gallery-item col-4 video big" >
                           <img src="../static/images/gallery2.jpg" alt="">
                  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.4795 34.5824L36.5978 24.9999L19.4795 15.4174L19.4795 34.5824ZM37.2069 26.0677C38.0456 25.5983 38.0456 24.4015 37.2069 23.932L20.0886 14.3496C19.2632 13.8875 18.2414 14.4783 18.2414 15.4174L18.2414 34.5824C18.2414 35.5215 19.2632 36.1122 20.0886 35.6502L37.2069 26.0677Z" fill="white" fill-opacity="0.7"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.999 48.75C38.1158 48.75 48.749 38.1168 48.749 25C48.749 11.8832 38.1158 1.25 24.999 1.25C11.8823 1.25 1.24902 11.8832 1.24902 25C1.24902 38.1168 11.8823 48.75 24.999 48.75ZM24.999 50C38.8061 50 49.999 38.8071 49.999 25C49.999 11.1929 38.8061 0 24.999 0C11.1919 0 -0.000976562 11.1929 -0.000976562 25C-0.000976562 38.8071 11.1919 50 24.999 50Z" fill="white" fill-opacity="0.7"/>
</svg>

                       </a>
                           <a href="../static/images/gallery3.jpg" class="gallery-item col-4 big">
                           <img src="../static/images/gallery3.jpg" alt="">
                       </a>
                         <a href="../static/images/gallery4.jpg" class="gallery-item col-3 small">
                           <img src="../static/images/gallery4.jpg" alt="">
                       </a>
                         <a href="../static/images/gallery5.jpg" class="gallery-item col-3 video small">
                           <img src="../static/images/gallery5.jpg" alt="">
                                                   <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.4795 34.5824L36.5978 24.9999L19.4795 15.4174L19.4795 34.5824ZM37.2069 26.0677C38.0456 25.5983 38.0456 24.4015 37.2069 23.932L20.0886 14.3496C19.2632 13.8875 18.2414 14.4783 18.2414 15.4174L18.2414 34.5824C18.2414 35.5215 19.2632 36.1122 20.0886 35.6502L37.2069 26.0677Z" fill="white" fill-opacity="0.7"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.999 48.75C38.1158 48.75 48.749 38.1168 48.749 25C48.749 11.8832 38.1158 1.25 24.999 1.25C11.8823 1.25 1.24902 11.8832 1.24902 25C1.24902 38.1168 11.8823 48.75 24.999 48.75ZM24.999 50C38.8061 50 49.999 38.8071 49.999 25C49.999 11.1929 38.8061 0 24.999 0C11.1919 0 -0.000976562 11.1929 -0.000976562 25C-0.000976562 38.8071 11.1919 50 24.999 50Z" fill="white" fill-opacity="0.7"/>
</svg>
                       </a>
                         <a href="../static/images/gallery6.jpg" class="gallery-item col-3 small">
                           <img src="../static/images/gallery6.jpg" alt="">
                       </a>
                         <a href="../static/images/gallery7.jpg" class="gallery-item col-3 small wrap">
                           <img src="../static/images/gallery7.jpg" alt="">
                           <button class="gallery-item-wrap">
                            <span class="amount">15+</span>
                           </button>
                       </a>
                   </div>
               </div>
           </div>
       </div>
   </section>


            </div>
        </div>

    </div>

</div>
{{> section/sitekgram}}
{{> section/information}}

{{>layout/footer}}