{{!Портальные станки PAMA Vertiram Страница типов станков}}

{{> layout/header}}
<div class="content example-bench-page" >


    <div class="container">
        <div class="content__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Каталог</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Продольно-фрезерные станки</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link active">Поставка ПФС РАМА</a></li>
            </ul>
            <aside class="aside" id="aside">
                <div class="aside__inner">
                    <nav class="aside__nav" id="menu">
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#head" class="nav__link">Портальные станки PAMA
                                    Vertiram</a></li>
                            <li class="nav__item"><a href="#section1" class="nav__link">Станки для высокоскоростной
                                    обработки</a></li>
                            <li class="nav__item"><a href="#section2" class="nav__link">Станки для обработки тяжелых
                                    деталей с небольшими припусками</a></li>
                            <li class="nav__item"><a href="#section3" class="nav__link">Станки для тяжелой обработки с
                                    большими припусками</a></li>
                        </ul>
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#section4" class="nav__link">Возможные конфигурации
                                    станков</a></li>

                        </ul>


                    </nav>
                    <div class="aside__action">

                        <a href="#" class="btn primary-btn gray">Новые станки SITEK</a>
                        <a href="#" class="btn primary-btn yellow">Новые станки РАМА</a>
                    </div>
                </div>



            </aside>

            <div class="content__info">
                <section class="section primary-section">
                    <div class="section__inner">

                        <h2 class="section__title">Портальные станки PAMA Vertiram </h2>
                              <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>
                        <div class="section__info">
                            <div class="video-block">
                                <div class="video">
                                    <img src="../static/images/video-example.png" alt="">
                                </div>
                            </div>
                            <div class="section__info-text">
                                <p>Текстовый блок (общее описание) для SEO. Станок Vertiram идеально подходит для работы
                                    с массивными и тяжелыми деталями, чья обработка требует вертикального положения
                                    шпинделя. Всего за один установ можно совершить неограниченное число расточных,
                                    фрезерных и токарных операций.</p>

                            </div>
                            <div class="section__info-link">
                                <a href="" class="article__link">Чуть больше о РАМА и их станках здесь<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                </section>
                <section class="section secondary-section scroll" id="section1">
                    <div class="section__inner">
                        <h3 class="section__title">
                            <span class="section__number">
                                01
                            </span>
                            Станки для высокоскоростной обработки
                        </h3>
                        <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>
                        <div class="section__info">
                            <div class="section__info-left">
                                <div class="bench-info">
                                    <h4 class="bench-info__title">
                                        Особенности этой серии
                                    </h4>
                                    <div class="bench-info__text">
                                        <p>Прямой привод шпинделя - скорость шпинделя до 7.000 об/мин</p>
                                        <p>Роликовые направляющие качения - скорость подач до 40.000 мм/мин</p>
                                        <p>На этих станках вы сократите время обработки отверстий в 2 раза: Сравнение
                                            обработки отврерстий с редуктором и direct drive</p>
                                    </div>
                                    <div class="bench-info__link">
                                        <a href="" class="link">Direct Drive</a>
                                    </div>
                                </div>
                            </div>
                            <div class="section__info-right">
                                <div class="bench-img">
                                    <div class="logo">
                                        <img src="../static/images/product-pama-logo-gray.png" alt="">
                                    </div>
                                    <div class="img">
                                        <img src="../static/images/sitekgram1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Модель</th>
                                        <th scope="col" class="title">Мощность шпинделя</th>
                                        <th scope="col" class="title">Кр момент шпинделя</th>
                                        <th scope="col" class="title">Сечение ползуна</th>
                                        <th scope="col" class="title">Sitekgram</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">VERTIRAM 1000</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">800-1210</td>
                                        <td>500x500</td>
                                        <td class="td-sitekgram"><a href="#" class="sitekgram-link">Смотреть Case</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td"><a href="#">VERTIRAM 2000</a>
                                        </td>

                                        <td class="td">73-90</td>
                                        <td class="td">210-2200</td>
                                        <td>500x500</td>
                                        <td class="td-sitekgram"><a href="#" class="sitekgram-link">Смотреть Case</a>
                                        </td>
                                    </tr>



                                </tbody>

                            </table>
                        </div>
                    </div>
                </section>
                <section class="section secondary-section scroll" id="section2">
                    <div class="section__inner">
                        <h3 class="section__title">
                            <span class="section__number">
                                02
                            </span>
                            Станки для обработки тяжелых деталей с небольшими припусками
                        </h3>
                        <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>
                        <div class="section__info">
                            <div class="section__info-left">
                                <div class="bench-info">
                                    <h4 class="bench-info__title">
                                        Особенности этой серии
                                    </h4>
                                    <div class="bench-info__text">
                                        <p>Прямой привод шпинделя - скорость шпинделя до 7.000 об/мин</p>
                                        <p>Гидростатические направляющие - скорость подач до 25.000 мм/мин На этих
                                            станках вы сократите время обработки отверстий в 2 раза: Сравнение обработки
                                            отврерстий с редуктором и direct drive</p>

                                    </div>
                                    <div class="bench-info__link">
                                        <a href="" class="link">Direct Drive</a>
                                    </div>
                                </div>
                            </div>
                            <div class="section__info-right">
                                <div class="bench-img">
                                    <div class="logo">
                                        <img src="../static/images/product-pama-logo-gray.png" alt="">
                                    </div>
                                    <div class="img">
                                        <img src="../static/images/sitekgram1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Модель</th>
                                        <th scope="col" class="title">Мощность шпинделя</th>
                                        <th scope="col" class="title">Кр момент шпинделя</th>
                                        <th scope="col" class="title">Сечение ползуна</th>
                                        <th scope="col" class="title">Sitekgram</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">VERTIRAM 3000</a>
                                        </td>

                                        <td class="td">90</td>
                                        <td class="td">3000-4000</td>
                                        <td>500x500</td>
                                        <td class="td-sitekgram"><a href="#" class="sitekgram-link">Смотреть Case</a>
                                        </td>
                                    </tr>



                                </tbody>

                            </table>
                        </div>
                    </div>
                </section>
                <section class="section secondary-section scroll" id="section3">
                    <div class="section__inner">
                        <h3 class="section__title">
                            <span class="section__number">
                                03
                            </span>
                            Станки для тяжелой обработки с большими припусками
                        </h3>
                        <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>
                        <div class="section__info">
                            <div class="section__info-left">
                                <div class="bench-info">
                                    <h4 class="bench-info__title">
                                        Особенности этой серии
                                    </h4>
                                    <div class="bench-info__text">
                                        <p>Привод шпинделя через редуктор - крутящий момент шпинделя до 10.000 Нм
                                            Гидростатические направляющие - скорость подач до 25.000 мм/мин Все базовые
                                            элементы станка сделаны литыми из чугуна  На этих станках вы с легкостью
                                            снимете 2000 см3/мин, наример вот так: Режимы и расчет на примере:</p>

                                    </div>
                                    <div class="bench-info__link">
                                        <a href="" class="link">Direct Drive</a>
                                    </div>
                                </div>
                            </div>
                            <div class="section__info-right">
                                <div class="bench-img">
                                    <div class="logo">
                                        <img src="../static/images/product-pama-logo-gray.png" alt="">
                                    </div>
                                    <div class="img">
                                        <img src="../static/images/sitekgram1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Модель</th>
                                        <th scope="col" class="title">Мощность шпинделя</th>
                                        <th scope="col" class="title">Кр момент шпинделя</th>
                                        <th scope="col" class="title">Сечение ползуна</th>
                                        <th scope="col" class="title">Sitekgram</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">VERTIRAM 4000</a>
                                        </td>

                                        <td class="td">100</td>
                                        <td class="td">10000</td>
                                        <td>590x590</td>
                                        <td class="td-sitekgram"><a href="#" class="sitekgram-link">Смотреть Case</a>
                                        </td>
                                    </tr>



                                </tbody>

                            </table>
                        </div>
                        <div class="section__file">
                            <div class="file-item">
                                <a href="" class="sitekgram-link">
                                    <div class="sitekgram-link__img">
                                        <img src="../static/images/sitekgram-img1.png" alt="">
                                    </div>
                                    <div class="sitekgram-link__left blue">
                                        <svg width="20" height="27" viewBox="0 0 20 27"
                                            xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                            <path
                                                d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z" />
                                        </svg>

                                    </div>
                                </a>
                                <a href="" class="download-link" target="_blank"> <svg viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.0402 15.245L16.015 10.4434C16.474 10.0004 16.474 9.27727 16.0352 8.82774C15.5695 8.38472 14.8202 8.38472 14.3612 8.82774L11.371 11.7139V1.14011C11.371 0.820882 11.2427 0.54074 11.0267 0.332262C10.8107 0.130299 10.5137 0 10.1897 0C9.54175 0 9.0085 0.51468 9.0085 1.14011V11.7139L6.01825 8.82774C5.5525 8.38472 4.80325 8.38472 4.34425 8.82774C4.11475 9.04925 4 9.34242 4 9.63559C4 9.92876 4.11475 10.2219 4.34425 10.4434L9.319 15.245L9.346 15.271C9.52825 15.4469 9.75775 15.5577 10.0007 15.5902C10.0109 15.5902 10.021 15.5919 10.0311 15.5935C10.0412 15.5951 10.0514 15.5968 10.0615 15.5968L10.1762 15.6033C10.2167 15.6033 10.2572 15.6033 10.2977 15.5968C10.3079 15.5968 10.318 15.5951 10.3281 15.5935C10.3382 15.5919 10.3484 15.5902 10.3585 15.5902C10.5947 15.5577 10.831 15.4469 11.0132 15.271C11.0153 15.269 11.018 15.2671 11.0209 15.2649C11.0276 15.26 11.0355 15.254 11.0402 15.245ZM0.987119 18.0258C0.441948 18.0258 0 18.4677 0 19.0129C0 19.5581 0.441949 20 0.98712 20H20.0129C20.5581 20 21 19.5581 21 19.0129C21 18.4677 20.5581 18.0258 20.0129 18.0258H0.987119Z"
                                            fill="#0C4DA2" />
                                    </svg>
                                    <span class="text">Скачать краткую брошюру по станкам</span></a>
                            </div>
                            <div class="file-item">
                                <a href="" class="sitekgram-link">
                                    <div class="sitekgram-link__img">
                                        <img src="../static/images/sitekgram-img1.png" alt="">
                                    </div>
                                    <div class="sitekgram-link__left blue">
                                        <svg width="20" height="27" viewBox="0 0 20 27"
                                            xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                            <path
                                                d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z" />
                                        </svg>

                                    </div>
                                </a>
                                <a href="" class="download-link" target="_blank"> <svg viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.0402 15.245L16.015 10.4434C16.474 10.0004 16.474 9.27727 16.0352 8.82774C15.5695 8.38472 14.8202 8.38472 14.3612 8.82774L11.371 11.7139V1.14011C11.371 0.820882 11.2427 0.54074 11.0267 0.332262C10.8107 0.130299 10.5137 0 10.1897 0C9.54175 0 9.0085 0.51468 9.0085 1.14011V11.7139L6.01825 8.82774C5.5525 8.38472 4.80325 8.38472 4.34425 8.82774C4.11475 9.04925 4 9.34242 4 9.63559C4 9.92876 4.11475 10.2219 4.34425 10.4434L9.319 15.245L9.346 15.271C9.52825 15.4469 9.75775 15.5577 10.0007 15.5902C10.0109 15.5902 10.021 15.5919 10.0311 15.5935C10.0412 15.5951 10.0514 15.5968 10.0615 15.5968L10.1762 15.6033C10.2167 15.6033 10.2572 15.6033 10.2977 15.5968C10.3079 15.5968 10.318 15.5951 10.3281 15.5935C10.3382 15.5919 10.3484 15.5902 10.3585 15.5902C10.5947 15.5577 10.831 15.4469 11.0132 15.271C11.0153 15.269 11.018 15.2671 11.0209 15.2649C11.0276 15.26 11.0355 15.254 11.0402 15.245ZM0.987119 18.0258C0.441948 18.0258 0 18.4677 0 19.0129C0 19.5581 0.441949 20 0.98712 20H20.0129C20.5581 20 21 19.5581 21 19.0129C21 18.4677 20.5581 18.0258 20.0129 18.0258H0.987119Z"
                                            fill="#0C4DA2" />
                                    </svg>
                                    <span class="text">Скачать краткую брошюру по станкам</span></a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section configuration-section scroll" id="section4">
                    <div class="section__inner">
                        <h3 class="section__title">
                            Все модели могут быть сделаны в следующих конфигурациях
                        </h3>
                        <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>
                        <div class="section__slider">
                            <h4 class="slider__title">
                                Конфигурация станка
                            </h4>
                            <div class="slider configuration-bench-slider">
                                <div class="slider__inner" id="configuration-bench-slider">
                                    <div class="slider__item">
                                        <div class="slider__item-top">
                                            <h5 class="slider__item-title">
                                                Сменные паллеты
                                            </h5>
                                        </div>
                                        <div class="slider__item-bottom">
                                            <div class="bottom-left">
                                                <div class="slider__item-text">
                                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                        Pariatur eum nihil eligendi, ratione veniam sint inventore quae
                                                        quisquam optio ipsam doloribus aliquam aut magni fugiat
                                                        repudiandae numquam ipsa praesentium saepe.</p>
                                                </div>
                                            </div>
                                            <div class="bottom-right">
                                                <div class="slider__item-img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider__item">
                                        <div class="slider__item-top">
                                            <h5 class="slider__item-title">
                                                Сменные паллеты
                                            </h5>
                                        </div>
                                        <div class="slider__item-bottom">
                                            <div class="bottom-left">
                                                <div class="slider__item-text">
                                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                        Pariatur eum nihil eligendi, ratione veniam sint inventore quae
                                                        quisquam optio ipsam doloribus aliquam aut magni fugiat
                                                        repudiandae numquam ipsa praesentium saepe.</p>
                                                </div>
                                            </div>
                                            <div class="bottom-right">
                                                <div class="slider__item-img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section__table">
                            <h3 class="section__table-title">
                                Накладные фрезерные головки
                            </h3>
                            <h4 class="section__table-subtitle">
                                Изготовлены на собственном заводе по производству головок в г. Брешиа
                            </h4>
                            <div class="table-block">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="title">Модель</th>
                                            <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                               <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                  <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                     <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>




                                    </tbody>
                                    <button class="table-wrap">
                                        <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z" fill="#0C4DA2" fill-opacity="0.4"/>
</svg>

                                    </button>
                                </table>
                            </div>
                        </div>
                         <div class="section__table">
                            <h3 class="section__table-title">
                                Магазин инструментов
                            </h3>
                         
                            <div class="table-block">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="title">Модель</th>
                                            <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                               <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                  <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                     <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>




                                    </tbody>
                                    <button class="table-wrap">
                                        <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z" fill="#0C4DA2" fill-opacity="0.4"/>
</svg>

                                    </button>
                                </table>
                            </div>
                            <div class="download-block">
                                <ul class="download-list">
                                    <li>  <a href="" class="download-link" target="_blank"> <svg viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.0402 15.245L16.015 10.4434C16.474 10.0004 16.474 9.27727 16.0352 8.82774C15.5695 8.38472 14.8202 8.38472 14.3612 8.82774L11.371 11.7139V1.14011C11.371 0.820882 11.2427 0.54074 11.0267 0.332262C10.8107 0.130299 10.5137 0 10.1897 0C9.54175 0 9.0085 0.51468 9.0085 1.14011V11.7139L6.01825 8.82774C5.5525 8.38472 4.80325 8.38472 4.34425 8.82774C4.11475 9.04925 4 9.34242 4 9.63559C4 9.92876 4.11475 10.2219 4.34425 10.4434L9.319 15.245L9.346 15.271C9.52825 15.4469 9.75775 15.5577 10.0007 15.5902C10.0109 15.5902 10.021 15.5919 10.0311 15.5935C10.0412 15.5951 10.0514 15.5968 10.0615 15.5968L10.1762 15.6033C10.2167 15.6033 10.2572 15.6033 10.2977 15.5968C10.3079 15.5968 10.318 15.5951 10.3281 15.5935C10.3382 15.5919 10.3484 15.5902 10.3585 15.5902C10.5947 15.5577 10.831 15.4469 11.0132 15.271C11.0153 15.269 11.018 15.2671 11.0209 15.2649C11.0276 15.26 11.0355 15.254 11.0402 15.245ZM0.987119 18.0258C0.441948 18.0258 0 18.4677 0 19.0129C0 19.5581 0.441949 20 0.98712 20H20.0129C20.5581 20 21 19.5581 21 19.0129C21 18.4677 20.5581 18.0258 20.0129 18.0258H0.987119Z"
                                            fill="#0C4DA2" />
                                    </svg>
                                    <span class="text">Скачать список установленных станков по РФ</span></a></li>
                                    <li>  <a href="" class="download-link" target="_blank"> <svg viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.0402 15.245L16.015 10.4434C16.474 10.0004 16.474 9.27727 16.0352 8.82774C15.5695 8.38472 14.8202 8.38472 14.3612 8.82774L11.371 11.7139V1.14011C11.371 0.820882 11.2427 0.54074 11.0267 0.332262C10.8107 0.130299 10.5137 0 10.1897 0C9.54175 0 9.0085 0.51468 9.0085 1.14011V11.7139L6.01825 8.82774C5.5525 8.38472 4.80325 8.38472 4.34425 8.82774C4.11475 9.04925 4 9.34242 4 9.63559C4 9.92876 4.11475 10.2219 4.34425 10.4434L9.319 15.245L9.346 15.271C9.52825 15.4469 9.75775 15.5577 10.0007 15.5902C10.0109 15.5902 10.021 15.5919 10.0311 15.5935C10.0412 15.5951 10.0514 15.5968 10.0615 15.5968L10.1762 15.6033C10.2167 15.6033 10.2572 15.6033 10.2977 15.5968C10.3079 15.5968 10.318 15.5951 10.3281 15.5935C10.3382 15.5919 10.3484 15.5902 10.3585 15.5902C10.5947 15.5577 10.831 15.4469 11.0132 15.271C11.0153 15.269 11.018 15.2671 11.0209 15.2649C11.0276 15.26 11.0355 15.254 11.0402 15.245ZM0.987119 18.0258C0.441948 18.0258 0 18.4677 0 19.0129C0 19.5581 0.441949 20 0.98712 20H20.0129C20.5581 20 21 19.5581 21 19.0129C21 18.4677 20.5581 18.0258 20.0129 18.0258H0.987119Z"
                                            fill="#0C4DA2" />
                                    </svg>
                                    <span class="text">Скачать список установленных станков по РФ</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>

</div>
<section class="section  advantages-bench-section" id="advantages-bench-section">
    <div class="container">
        <div class="section__inner">
        <h2 class="section__title">
            Ключевые преимущества станков РАМА
        </h2>
        <div class="section__info">
            <div class="section__info-left">
               <div class="info-list">
                   <h4 class="info-list__title">
                       Ситек и ПАМА разработают под Вашу детель проект, включающий в себя:
                   </h4>
                   <ul class="list">
                       <li class="list-item">
                           <span class="number">01</span> <span class="text">Необходимый набор фрезерных головок.</span>
                       </li>
                       <li class="list-item">
                           <span class="number">02</span> <span class="text">Подбор оптимальной модели станка.</span>
                       </li>
                       <li class="list-item">
                           <span class="number">03</span> <span class="text">Разработку технологии с учетом современных технологий и тренлов отрасли.</span>
                       </li>
                       <li class="list-item">
                           <span class="number">04</span> <span class="text">Подбор приспособлений.</span>
                       </li>
                       <li class="list-item">
                           <span class="number">05</span> <span class="text">Подбор или разработка режущего инструмента.</span>
                       </li>
                   </ul>
               </div>
            </div>
            <div class="section__info-right">
                <div class="slider-block">
                    <div class="slider advantages-bench-slider ">
                        <div class="slider__inner" id="advantages-bench-slider">
                            <div class="slider__item">
                                <img src="../static/images/sitekgram1.jpg" alt="">
                            </div>
                             <div class="slider__item">
                                <img src="../static/images/sitekgram1.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{{>section/sitekgram}}
{{>section/information}}
{{>layout/footer}}