{{!История компании}}



{{> layout/header}}
<div class="content history-page" >
    <div class="container">
        <div class="content__inner">
    <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
                    <li class="breadcrumbs__item "><a href="services.html"
                            class="breadcrumbs__link ">О Ситек</a>
                    </li>
                      <li class="breadcrumbs__item "><a href="services.html"
                            class="breadcrumbs__link active">Наша история</a>
                    </li>


                </ul>

            <div class="content__info">
            
           <section class="section history-section">
               <div class="section__inner">
                   <h2 class="section__title">
                       Наша история от 1996 до 2020
                   </h2>
                  <div class="section__elems">
                       <div class="section__elem">
                       <div class="elem-left">
                           <div class="years">
                                2020
                           </div>
                       </div>
                       <div class="elem-right">
                           <div class="elem-card">
                               <div class="card-img">
                                   <img src="../static/images/history-img1.png" alt="">
                               </div>
                               <div class="card-info">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus doloribus facere recusandae temporibus quibusdam cumque sed itaque, aliquam illum soluta, consequatur ut facilis enim?
                               </div>
                           </div>
                       </div>
                   </div>
                      <div class="section__elem">
                       <div class="elem-left">
                            <div class="elem-card">
                               <div class="card-img">
                                   <img src="../static/images/history-img1.png" alt="">
                               </div>
                               <div class="card-info">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus doloribus facere recusandae temporibus quibusdam cumque sed itaque, aliquam illum soluta, consequatur ut facilis enim?
                               </div>
                           </div>
                         
                       </div>
                       <div class="elem-right">
                            <div class="years">
                                2010
                           </div>
                       </div>
                   </div>
                     <div class="section__elem">
                       <div class="elem-left">
                           <div class="years">
                              ...
                           </div>
                       </div>
                       <div class="elem-right">
                           <div class="elem-card">
                               <div class="card-img">
                                   <img src="../static/images/history-img1.png" alt="">
                               </div>
                               <div class="card-info">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus doloribus facere recusandae temporibus quibusdam cumque sed itaque, aliquam illum soluta, consequatur ut facilis enim?
                               </div>
                           </div>
                       </div>
                   </div>
                    <div class="section__elem">
                       <div class="elem-left">
                            <div class="elem-card">
                               <div class="card-img">
                                   <img src="../static/images/history-img1.png" alt="">
                               </div>
                               <div class="card-info">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellendus doloribus facere recusandae temporibus quibusdam cumque sed itaque, aliquam illum soluta, consequatur ut facilis enim?
                               </div>
                           </div>
                         
                       </div>
                       <div class="elem-right">
                            <div class="years">
                               1996
                           </div>
                       </div>
                   </div>
                   <div class="timeline">
                       <img src="../static/images/Timeline.png" alt="">
                   </div>
                   <div class="timeline tablet">
                       <img src="../static/images/Timeline_tablet.png" alt="">
                   </div>
                  </div>
               </div>
           </section>



            </div>
        </div>

    </div>

</div>

{{> section/information}}

{{>layout/footer}}