{{!Главная страница}}

{{> layout/header header-class='main-header'}}

<main class="main">
    <div class="slider">
        <div class="main__slider">
            <div class="main__slider-inner" id="main__slider">
                <div class="main__slider-item">
                    <div class="slider-img">
                        <img class="img" src="../static/images/main-slider-item.jpg"></img>
                    </div>

                    <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                </div>
                <div class="main__slider-item">
                    <div class="slider-img">
                        <img class="img" src="../static/images/main-slider-item.jpg"></img>
                    </div>
                    <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                </div>
                <div class="main__slider-item">
                    <div class="slider-img">
                        <img class="img" src="../static/images/main-slider-item.jpg"></img>
                    </div>
                    <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                </div>
                <div class="main__slider-item">
                    <div class="slider-img">
                        <img class="img" src="../static/images/main-slider-item.jpg"></img>
                    </div>
                    <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                </div>
                <div class="main__slider-item">
                    <div class="slider-img">
                        <img class="img" src="../static/images/main-slider-item.jpg"></img>
                    </div>
                    <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                </div>
                <div class="main__slider-item">
                    <div class="slider-img">
                        <img class="img" src="../static/images/main-slider-item.jpg"></img>
                    </div>
                    <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                </div>
            </div>
            <div class="slider-arrow">
                <div class="prev-arrow">
                    <svg width="20" height="40" viewBox="0 0 20 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15.6526 37.2029C15.8112 37.4186 16.0286 37.5427 16.257 37.5479C16.4853 37.5532 16.7059 37.4392 16.8702 37.231C17.0345 37.0227 17.1291 36.7374 17.1331 36.4377C17.1371 36.138 17.0502 35.8484 16.8916 35.6328L5.05695 20.0998L16.8916 4.56683C16.9895 4.47042 17.0706 4.34751 17.1292 4.20643C17.1878 4.06535 17.2226 3.90939 17.2312 3.74911C17.2399 3.58884 17.2223 3.42798 17.1795 3.27744C17.1366 3.12691 17.0697 2.9902 16.9831 2.87658C16.8966 2.76296 16.7924 2.67508 16.6777 2.6189C16.563 2.56271 16.4405 2.53953 16.3183 2.55092C16.1962 2.56231 16.0774 2.60801 15.9699 2.68492C15.8624 2.76183 15.7688 2.86816 15.6953 2.9967L3.2198 19.3147C3.06324 19.5244 2.97554 19.8062 2.97554 20.0998C2.97554 20.3934 3.06324 20.6752 3.2198 20.8849L15.6526 37.2029Z"
                            fill="white" fill-opacity="0.6" />
                        <path
                            d="M17.6971 35.0402L17.6921 35.0334L17.687 35.0267L6.31413 20.0998L17.6517 5.21929C17.8259 5.03227 17.9588 4.81604 18.0527 4.59001C18.157 4.33892 18.2153 4.07096 18.2298 3.80318C18.2443 3.5353 18.2152 3.2636 18.1413 3.00392L17.1795 3.27744L18.1413 3.00391C18.0676 2.74465 17.9478 2.49273 17.7785 2.27053C17.6091 2.04808 17.3877 1.85317 17.1176 1.72086C16.8449 1.58724 16.5386 1.52604 16.2255 1.55524C15.9134 1.58435 15.6279 1.69999 15.388 1.87167C15.1722 2.02605 14.9987 2.22129 14.8666 2.43414L2.42537 18.7074L2.42532 18.7074L2.41858 18.7164C2.11738 19.1197 1.97554 19.6182 1.97554 20.0998C1.97554 20.5815 2.11738 21.0799 2.41858 21.4832L2.41854 21.4833L2.42437 21.4909L14.8529 37.8034C15.1599 38.2165 15.6441 38.5341 16.234 38.5477C16.8298 38.5614 17.3319 38.2602 17.6553 37.8504C17.9735 37.4471 18.1265 36.9409 18.133 36.451C18.1396 35.961 18.0001 35.4521 17.6971 35.0402Z"
                            stroke="white" stroke-opacity="0.6" stroke-width="2" />
                    </svg>


                </div>
                <div class="next-arrow">
                    <svg width="19" height="40" viewBox="0 0 19 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3.87035 3.0715C3.71172 2.85585 3.49431 2.73175 3.26595 2.72649C3.0376 2.72123 2.81701 2.83525 2.65271 3.04346C2.4884 3.25167 2.39385 3.53702 2.38984 3.83674C2.38584 4.13645 2.47271 4.42597 2.63135 4.64162L14.466 20.1746L2.63135 35.7076C2.53341 35.804 2.45239 35.9269 2.39379 36.068C2.3352 36.2091 2.30038 36.365 2.2917 36.5253C2.28302 36.6856 2.30069 36.8464 2.34349 36.997C2.3863 37.1475 2.45326 37.2842 2.53982 37.3978C2.62639 37.5115 2.73055 37.5993 2.84524 37.6555C2.95994 37.7117 3.0825 37.7349 3.20461 37.7235C3.32673 37.7121 3.44555 37.6664 3.55304 37.5895C3.66053 37.5126 3.75417 37.4063 3.82763 37.2777L16.3031 20.9597C16.4597 20.75 16.5474 20.4682 16.5474 20.1746C16.5474 19.881 16.4597 19.5992 16.3031 19.3895L3.87035 3.0715Z"
                            fill="white" fill-opacity="0.6" />
                        <path
                            d="M1.82582 5.23419L1.83081 5.24097L1.83591 5.24766L13.2088 20.1746L1.87128 35.0551C1.69706 35.2421 1.56417 35.4584 1.47029 35.6844C1.36599 35.9355 1.30766 36.2034 1.29316 36.4712C1.27866 36.7391 1.30778 37.0108 1.38163 37.2705L2.34349 36.997L1.38163 37.2705C1.45536 37.5298 1.5751 37.7817 1.7444 38.0039C1.91388 38.2263 2.13524 38.4212 2.40532 38.5536C2.67809 38.6872 2.98439 38.7484 3.29749 38.7192C3.60951 38.6901 3.89503 38.5744 4.13495 38.4027C4.35072 38.2484 4.52421 38.0531 4.6563 37.8403L17.0976 21.567L17.0976 21.5671L17.1044 21.558C17.4056 21.1547 17.5474 20.6563 17.5474 20.1746C17.5474 19.693 17.4056 19.1945 17.1044 18.7912L17.1044 18.7912L17.0986 18.7835L4.67001 2.47101C4.36301 2.05796 3.87888 1.74034 3.28897 1.72676C2.69315 1.71304 2.19102 2.01425 1.86769 2.42399C1.54944 2.82729 1.39648 3.33356 1.38993 3.82337C1.38338 4.31345 1.5228 4.82227 1.82582 5.23419Z"
                            stroke="white" stroke-opacity="0.6" stroke-width="2" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
 
        <div class="main__inner">
            <section class="section catalog" id="catalog">
                <div class="container">
                    <div class="section__inner">
                        <div class="catalog__filter">
                            <form action="" class="catalog__form" method="GET" id='catalog-search'>
                                <div class="catalog__filter-inner">
                                    <div class="filter-field">
                                        <h3 class="filter-field__title">
                                            Виды работ
                                            <svg class="catalog-mobile-wrap" width="19" height="11" viewBox="0 0 19 11"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.0883 10.5122L9.49114 4.03023L2.89395 10.5122C2.73653 10.6668 2.54965 10.7895 2.34398 10.8732C2.1383 10.9569 1.91786 11 1.69524 11C1.47262 11 1.25217 10.9569 1.0465 10.8732C0.840822 10.7895 0.653938 10.6668 0.496521 10.5122C0.339104 10.3575 0.214235 10.1739 0.129042 9.97178C0.043848 9.7697 0 9.55311 0 9.33438C0 9.11565 0.043848 8.89906 0.129042 8.69697C0.214235 8.49489 0.339104 8.31127 0.496521 8.15661L8.30092 0.488557C8.45823 0.333687 8.64507 0.210818 8.85076 0.126986C9.05645 0.0431519 9.27695 0 9.49964 0C9.72233 0 9.94283 0.0431519 10.1485 0.126986C10.3542 0.210818 10.5411 0.333687 10.6984 0.488557L18.5028 8.15661C18.6604 8.31116 18.7854 8.49474 18.8708 8.69684C18.9561 8.89894 19 9.11558 19 9.33438C19 9.55317 18.9561 9.76982 18.8708 9.97192C18.7854 10.174 18.6604 10.3576 18.5028 10.5122C17.8396 11.147 16.7514 11.1637 16.0883 10.5122Z"
                                                    fill="#0C4DA2" fill-opacity="0.4" />
                                            </svg>

                                        </h3>
                                        <ul class="filter-field__list">

                                            <li class="list-item">
                                                {{> ui/checkbox id=3  label='Модернизация станков' }} <div
                                                    class="count-field"> <span class="count">8</span></div>
                                            </li>
                                            <li class="list-item">
                                                {{> ui/checkbox id=4  label='Производство станков'}} <div
                                                    class="count-field"> <span class="count">8</span></div>
                                            </li>
                                            <li class="list-item">
                                                {{> ui/checkbox id=24  label='Поставка станков'}} <div
                                                    class="count-field"> <span class="count">8</span></div>
                                            </li>
                                            <li class="list-item">
                                                {{> ui/checkbox id=28  label='Поставка станков б/у'}} <div
                                                    class="count-field"> <span class="count">8</span></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="filter-field ">
                                        <h3 class="filter-field__title">
                                            Типы станков
                                            <svg class="catalog-mobile-wrap" width="19" height="11" viewBox="0 0 19 11"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.0883 10.5122L9.49114 4.03023L2.89395 10.5122C2.73653 10.6668 2.54965 10.7895 2.34398 10.8732C2.1383 10.9569 1.91786 11 1.69524 11C1.47262 11 1.25217 10.9569 1.0465 10.8732C0.840822 10.7895 0.653938 10.6668 0.496521 10.5122C0.339104 10.3575 0.214235 10.1739 0.129042 9.97178C0.043848 9.7697 0 9.55311 0 9.33438C0 9.11565 0.043848 8.89906 0.129042 8.69697C0.214235 8.49489 0.339104 8.31127 0.496521 8.15661L8.30092 0.488557C8.45823 0.333687 8.64507 0.210818 8.85076 0.126986C9.05645 0.0431519 9.27695 0 9.49964 0C9.72233 0 9.94283 0.0431519 10.1485 0.126986C10.3542 0.210818 10.5411 0.333687 10.6984 0.488557L18.5028 8.15661C18.6604 8.31116 18.7854 8.49474 18.8708 8.69684C18.9561 8.89894 19 9.11558 19 9.33438C19 9.55317 18.9561 9.76982 18.8708 9.97192C18.7854 10.174 18.6604 10.3576 18.5028 10.5122C17.8396 11.147 16.7514 11.1637 16.0883 10.5122Z"
                                                    fill="#0C4DA2" fill-opacity="0.4" />
                                            </svg>

                                        </h3>
                                        <ul class="filter-field__list">

                                            <li class="list-item">
                                                {{> ui/checkbox id=5  label='Горизонтально-расточные'}}
                                                <div class="count-field"> <span class="count">8</span></div>
                                            </li>
                                            <li class="list-item"> {{> ui/checkbox id=6  label='Продольно-фрезерные'}}
                                                <div class="count-field"> <span class="count">8</span></div>
                                            </li>

                                            <li class="list-item"> {{> ui/checkbox id=7  label='Протяжные' }}
                                                <div class="count-field"> <span class="count">8</span></div>
                                            </li>
                                            <li class="list-item"> {{> ui/checkbox id=8  label='Абразивно-отрезные'}}
                                                <div class="count-field"> <span class="count">8</span></div>
                                            </li>
                                        </ul>



                                    </div>
                                    <div class="filter-field">
                                        <h3 class="filter-field__title">
                                            <span>Отрасль</span>
                                            <svg class="catalog-mobile-wrap" width="19" height="11" viewBox="0 0 19 11"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.0883 10.5122L9.49114 4.03023L2.89395 10.5122C2.73653 10.6668 2.54965 10.7895 2.34398 10.8732C2.1383 10.9569 1.91786 11 1.69524 11C1.47262 11 1.25217 10.9569 1.0465 10.8732C0.840822 10.7895 0.653938 10.6668 0.496521 10.5122C0.339104 10.3575 0.214235 10.1739 0.129042 9.97178C0.043848 9.7697 0 9.55311 0 9.33438C0 9.11565 0.043848 8.89906 0.129042 8.69697C0.214235 8.49489 0.339104 8.31127 0.496521 8.15661L8.30092 0.488557C8.45823 0.333687 8.64507 0.210818 8.85076 0.126986C9.05645 0.0431519 9.27695 0 9.49964 0C9.72233 0 9.94283 0.0431519 10.1485 0.126986C10.3542 0.210818 10.5411 0.333687 10.6984 0.488557L18.5028 8.15661C18.6604 8.31116 18.7854 8.49474 18.8708 8.69684C18.9561 8.89894 19 9.11558 19 9.33438C19 9.55317 18.9561 9.76982 18.8708 9.97192C18.7854 10.174 18.6604 10.3576 18.5028 10.5122C17.8396 11.147 16.7514 11.1637 16.0883 10.5122Z"
                                                    fill="#0C4DA2" fill-opacity="0.4" />
                                            </svg>


                                        </h3>
                                        <ul class="filter-field__list">

                                            <li class="list-item">
                                                {{> ui/checkbox id=9  label='Авиастроение' }} <div class="count-field">
                                                    <span class="count">8</span></div>
                                            </li>
                                            <li class="list-item">
                                                {{> ui/checkbox id=10  label='Авиадвигателестроение'}}
                                                <div class="count-field"> <span class="count">8</span></div>
                                            </li>
                                            <li class="list-item">
                                                {{> ui/checkbox id=11  label='Железнодорожное машиностроение'}} <div
                                                    class="count-field"> <span class="count">8</span></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="catalog__filter-search">
                                    <input type="search" placeholder="Поиск" class="form-input" name="titles"><button
                                        class="btn search-btn" type="submit"></button><button
                                        class="btn btn-reset-filter" type="reset"><span>Очистить
                                            фильтр</span> </button>
                                </div>
                            </form>

                        </div>
                        <div class="result">Показано 3 из 8</div>
                        <div class="catalog__list">

                            <div class="row catalog__list-row ">

                                <div class="col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog1.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog2.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="col__link-left green">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog3.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog4.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Производство новых продольно-фрезерных станков с узлами РАМА
                                            </h3>
                                            <div class="col__link-left yellow">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                         
                             
                                     <div class=" col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog5.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog6.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Продольно-фрезерные станки
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog7.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Протяжные станки
                                            </h3>
                                            <div class="col__link-left yellow">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog8.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Абразивно-отрезные станки
                                            </h3>
                                            <div class="col__link-left yellow">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog4.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Токарные станки
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog9.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Токарно-карусельные станки
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog10.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Продольно-фрезерный станок СИ620Ф4
                                            </h3>
                                            <div class="col__link-left yellow">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog11.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Продольно-фрезерный станок СИ620Ф4
                                            </h3>
                                            <div class="col__link-left yellow">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog12.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                SITEK и Авиастроение
                                            </h3>
                                            <div class="col__link-left light-blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog3.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                SITEK и авиадвигателестроение
                                            </h3>
                                            <div class="col__link-left light-blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class="col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog9.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                SITEK и железнодорожное машиностроение
                                            </h3>
                                            <div class="col__link-left light-blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">

                                            </div>
                                        </a>


                                    </div>

                                </div>
                              

                            </div>
                        </div>
                        <form action="" class="catalog-search-form">
                            <input type="search" placeholder="Поиск" class="form-input" name="titles"><button
                                        class="btn search-btn" type="submit">
                        </form>
                    </div>

                </div>
        </div>
      


   
    </div>

</main>



{{> section/information}}
<section class="section sitekgram">
    <div class="container">
        <div class="section__inner">
            <div class="section__info">
               <h2 class="section__title">Группа компаний «Ситек»</h2>
               <div class="section__info-bottom">
                   <div class="bottom-left">
                       <p>Компания СИТЕК специализируется на ремонте и модернизации станков с числовым программным управлением и выполняет ремонт сложных и уникальных станков.</p>
                       <p>В портфеле компании есть проекты по ремонту и модернизации обрабатывающих центров и станков отечественного и импортного производства различных технологических групп.</p>
                         <a href="" class="bottom-left__link">Подробнее <svg width="6" height="12" viewBox="0 0 6 12"  fill='none'
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                   </div>
                   <div class="bottom-right">
                    <div class="col-lg-3 col-md-6">
                          <a href="" class="sitekgram-link"> 
                        <div class="sitekgram-link__img">
                            <img src="../static/images/sitekgram-img1.png" alt="">
                        </div>
                        <div class="sitekgram-link__left blue">
                             <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        />
                                                </svg>
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-bot">
<path d="M11.4286 9.48714L13.03 7.88714C13.2992 7.62672 13.66 7.48247 14.0346 7.48546C14.4092 7.48844 14.7676 7.63843 15.0326 7.90311C15.2977 8.1678 15.4482 8.526 15.4517 8.90057C15.4552 9.27514 15.3115 9.6361 15.0514 9.90571L11.01 13.9471C10.8776 14.0803 10.7203 14.1859 10.5469 14.258C10.3736 14.3301 10.1877 14.3672 10 14.3672C9.81227 14.3672 9.6264 14.3301 9.45307 14.258C9.27973 14.1859 9.12236 14.0803 8.99 13.9471L4.94857 9.90571C4.81594 9.77289 4.71076 9.61525 4.63905 9.44178C4.56734 9.26831 4.5305 9.08241 4.53063 8.8947C4.5309 8.51561 4.68175 8.15215 4.95 7.88429C5.21825 7.61642 5.58192 7.46608 5.96101 7.46635C6.3401 7.46662 6.70356 7.61747 6.97143 7.88572L8.57143 9.48714V1.42857C8.57143 1.04969 8.72194 0.686328 8.98985 0.418419C9.25776 0.15051 9.62112 0 10 0C10.3789 0 10.7422 0.15051 11.0102 0.418419C11.2781 0.686328 11.4286 1.04969 11.4286 1.42857V9.48714ZM1.42857 17.1429H18.5714C18.9503 17.1429 19.3137 17.2934 19.5816 17.5613C19.8495 17.8292 20 18.1925 20 18.5714C20 18.9503 19.8495 19.3137 19.5816 19.5816C19.3137 19.8495 18.9503 20 18.5714 20H1.42857C1.04969 20 0.686328 19.8495 0.418419 19.5816C0.15051 19.3137 0 18.9503 0 18.5714C0 18.1925 0.15051 17.8292 0.418419 17.5613C0.686328 17.2934 1.04969 17.1429 1.42857 17.1429Z" fill="white" fill-opacity="0.8"/>
</svg>
                        </div>
                      </a>
                      <div class="sitekgram-link__text">
                          О “Ситек”
                      </div>
                    </div>
                      <div class="col-lg-3 col-md-6">
                          <a href="" class="sitekgram-link"> 
                        <div class="sitekgram-link__img">
                            <img src="../static/images/sitekgram-img1.png" alt="">
                        </div>
                        <div class="sitekgram-link__left blue">
                             <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        />
                                                </svg>
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-bot">
<path d="M11.4286 9.48714L13.03 7.88714C13.2992 7.62672 13.66 7.48247 14.0346 7.48546C14.4092 7.48844 14.7676 7.63843 15.0326 7.90311C15.2977 8.1678 15.4482 8.526 15.4517 8.90057C15.4552 9.27514 15.3115 9.6361 15.0514 9.90571L11.01 13.9471C10.8776 14.0803 10.7203 14.1859 10.5469 14.258C10.3736 14.3301 10.1877 14.3672 10 14.3672C9.81227 14.3672 9.6264 14.3301 9.45307 14.258C9.27973 14.1859 9.12236 14.0803 8.99 13.9471L4.94857 9.90571C4.81594 9.77289 4.71076 9.61525 4.63905 9.44178C4.56734 9.26831 4.5305 9.08241 4.53063 8.8947C4.5309 8.51561 4.68175 8.15215 4.95 7.88429C5.21825 7.61642 5.58192 7.46608 5.96101 7.46635C6.3401 7.46662 6.70356 7.61747 6.97143 7.88572L8.57143 9.48714V1.42857C8.57143 1.04969 8.72194 0.686328 8.98985 0.418419C9.25776 0.15051 9.62112 0 10 0C10.3789 0 10.7422 0.15051 11.0102 0.418419C11.2781 0.686328 11.4286 1.04969 11.4286 1.42857V9.48714ZM1.42857 17.1429H18.5714C18.9503 17.1429 19.3137 17.2934 19.5816 17.5613C19.8495 17.8292 20 18.1925 20 18.5714C20 18.9503 19.8495 19.3137 19.5816 19.5816C19.3137 19.8495 18.9503 20 18.5714 20H1.42857C1.04969 20 0.686328 19.8495 0.418419 19.5816C0.15051 19.3137 0 18.9503 0 18.5714C0 18.1925 0.15051 17.8292 0.418419 17.5613C0.686328 17.2934 1.04969 17.1429 1.42857 17.1429Z" fill="white" fill-opacity="0.8"/>
</svg>
                        </div>
                      </a>
                      <div class="sitekgram-link__text">
                         Модернизация
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                          <a href="" class="sitekgram-link"> 
                        <div class="sitekgram-link__img">
                            <img src="../static/images/sitekgram-img3.png" alt="">
                        </div>
                        <div class="sitekgram-link__left yellow">
                             <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        />
                                                </svg>
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-bot">
<path d="M11.4286 9.48714L13.03 7.88714C13.2992 7.62672 13.66 7.48247 14.0346 7.48546C14.4092 7.48844 14.7676 7.63843 15.0326 7.90311C15.2977 8.1678 15.4482 8.526 15.4517 8.90057C15.4552 9.27514 15.3115 9.6361 15.0514 9.90571L11.01 13.9471C10.8776 14.0803 10.7203 14.1859 10.5469 14.258C10.3736 14.3301 10.1877 14.3672 10 14.3672C9.81227 14.3672 9.6264 14.3301 9.45307 14.258C9.27973 14.1859 9.12236 14.0803 8.99 13.9471L4.94857 9.90571C4.81594 9.77289 4.71076 9.61525 4.63905 9.44178C4.56734 9.26831 4.5305 9.08241 4.53063 8.8947C4.5309 8.51561 4.68175 8.15215 4.95 7.88429C5.21825 7.61642 5.58192 7.46608 5.96101 7.46635C6.3401 7.46662 6.70356 7.61747 6.97143 7.88572L8.57143 9.48714V1.42857C8.57143 1.04969 8.72194 0.686328 8.98985 0.418419C9.25776 0.15051 9.62112 0 10 0C10.3789 0 10.7422 0.15051 11.0102 0.418419C11.2781 0.686328 11.4286 1.04969 11.4286 1.42857V9.48714ZM1.42857 17.1429H18.5714C18.9503 17.1429 19.3137 17.2934 19.5816 17.5613C19.8495 17.8292 20 18.1925 20 18.5714C20 18.9503 19.8495 19.3137 19.5816 19.5816C19.3137 19.8495 18.9503 20 18.5714 20H1.42857C1.04969 20 0.686328 19.8495 0.418419 19.5816C0.15051 19.3137 0 18.9503 0 18.5714C0 18.1925 0.15051 17.8292 0.418419 17.5613C0.686328 17.2934 1.04969 17.1429 1.42857 17.1429Z" fill="white" fill-opacity="0.8"/>
</svg>
                        </div>
                      </a>
                      <div class="sitekgram-link__text">
                        Производство
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                          <a href="" class="sitekgram-link"> 
                        <div class="sitekgram-link__img">
                            <img src="../static/images/sitekgram-img4.png" alt="">
                        </div>
                        <div class="sitekgram-link__left light-blue">
                             <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        />
                                                </svg>
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-bot">
<path d="M11.4286 9.48714L13.03 7.88714C13.2992 7.62672 13.66 7.48247 14.0346 7.48546C14.4092 7.48844 14.7676 7.63843 15.0326 7.90311C15.2977 8.1678 15.4482 8.526 15.4517 8.90057C15.4552 9.27514 15.3115 9.6361 15.0514 9.90571L11.01 13.9471C10.8776 14.0803 10.7203 14.1859 10.5469 14.258C10.3736 14.3301 10.1877 14.3672 10 14.3672C9.81227 14.3672 9.6264 14.3301 9.45307 14.258C9.27973 14.1859 9.12236 14.0803 8.99 13.9471L4.94857 9.90571C4.81594 9.77289 4.71076 9.61525 4.63905 9.44178C4.56734 9.26831 4.5305 9.08241 4.53063 8.8947C4.5309 8.51561 4.68175 8.15215 4.95 7.88429C5.21825 7.61642 5.58192 7.46608 5.96101 7.46635C6.3401 7.46662 6.70356 7.61747 6.97143 7.88572L8.57143 9.48714V1.42857C8.57143 1.04969 8.72194 0.686328 8.98985 0.418419C9.25776 0.15051 9.62112 0 10 0C10.3789 0 10.7422 0.15051 11.0102 0.418419C11.2781 0.686328 11.4286 1.04969 11.4286 1.42857V9.48714ZM1.42857 17.1429H18.5714C18.9503 17.1429 19.3137 17.2934 19.5816 17.5613C19.8495 17.8292 20 18.1925 20 18.5714C20 18.9503 19.8495 19.3137 19.5816 19.5816C19.3137 19.8495 18.9503 20 18.5714 20H1.42857C1.04969 20 0.686328 19.8495 0.418419 19.5816C0.15051 19.3137 0 18.9503 0 18.5714C0 18.1925 0.15051 17.8292 0.418419 17.5613C0.686328 17.2934 1.04969 17.1429 1.42857 17.1429Z" fill="white" fill-opacity="0.8"/>
</svg>
                        </div>
                      </a>
                      <div class="sitekgram-link__text">
                         Поставка
                      </div>
                    </div>
                   </div>
               </div>
            </div>
            <div class="section__top">
                <h2 class="section__title">Sitekgram</h2>
                <h3 class="section__subtitle">Все публикации о группе компаний «Ситек», деятельности и станках, видео,
                    посты в социальных сетях. Просматривайте интересующие вас материалы по выбранным в начале страницы
                    параметрам.</h3>
                <div class="section__link">
                    <a href="">Смотреть все 100 записей <svg width="6" height="12" viewBox="0 0 6 12"  fill='none'
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
                <form class="sitekgram__filter">

                    <div class="sitekgram__filter-left">
                        <div class="filter-field">
                            <ul class="filter-field__list">
                                <li class="list-item"> {{> ui/checkbox id=12 name='news' value='Видео' label='Видео'}}
                                    <div class="count-field"> <span class="count">8</span></div>
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=13 name='news'  value='Twitter'      label='Twitter'}}<div
                                        class="count-field"> <span class="count">8</span></div>
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=14  name='news'   value='Пресса'    label='Пресса'}}<div
                                        class="count-field"> <span class="count">8</span></div>
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=15  name='news'  value='Instagram'        label='Instagram'}}<div
                                        class="count-field"> <span class="count">8</span></div>
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=16  name='news'  value='Новости компании' label='Новости компании'}}
                                    <div class="count-field"> <span class="count">8</span></div>
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=17 name='news'  value='Linkedin' label='Linkedin'}}<div
                                        class="count-field"> <span class="count">8</span></div>
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=18 name='news' value='Документы' label='Документы'}}<div
                                        class="count-field"> <span class="count">8</span></div>
                                </li>
                                <li class="list-item">
                                    {{> ui/checkbox id=19  name='news' value='Facebook' label='Facebook'}}<div
                                        class="count-field"> <span class="count">8</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sitekgram__filter-right">
                        <div class="filter-field">
                            <ul class="filter-field__list category">
                                <div class="category__row">
                                    <li class="category__item"><a href="">Модернизация</a></li>
                                    <li class="category__item"><a href="">Машиностроение</a></li>
                                </div>
                                <div class="category__row">
                                    <li class="category__item"><a href="">Продольно-фрезерные</a></li>
                                    <li class="category__item"><a href="">Продольно-строгальные</a></li>
                                </div>

                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-reset-filter" type="reset"><span>Очистить фильтр</span></button>

                </form>
            </div>
            <div class="sitekgram__result-field">
                <div class="result">Показано 3 из <span>27</span></div>
                <div class="sitekgram-list">
                    <div class="row sitekgram">
                        <div class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                        <div class="label">Видео</div>
                                    </div>
                                </a>

                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                    </h3>
                                    <div class="info-text">
                                        Друзья, рады поделиться видео с предварительной приемки нашего специального
                                        ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                        <div class="label">Пресса</div>
                                    </div>
                                </a>
                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                    </h3>
                                    <div class="info-text">
                                        Рады поделиться новостью с приемки нашего специального продольно-фрезерного
                                        станка с ЧПУ ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#">Модернизация</a> </li>
                                        <li class="category__item"><a href="#">Машиностроение</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div href="" class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram3.jpg" alt="" class="img">
                                        <div class="label">Новости</div>
                                    </div>
                                </a>
                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Абразивно-отрезной станок СИ400-30Л</a>
                                    </h3>
                                    <div class="info-text">
                                        Абразивно-отрезной станок СИ400-30Л предназначен для резки абразивным кругом
                                        диаметром до ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#"> Машиностроение</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a href="#" class="sitekgram__list-expand"><span>Показать больше</span>
                        <div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                    fill="#0C4DA2" fill-opacity="0.4" />
                            </svg></div>
                    </a>
                </div>
                <div class="sitekgram-sublist">
                    <div class="row sitekgram">
                        <div class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                        <div class="label">Видео</div>
                                    </div>
                                </a>

                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                    </h3>
                                    <div class="info-text">
                                        Друзья, рады поделиться видео с предварительной приемки нашего специального
                                        ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                        <div class="label">Пресса</div>
                                    </div>
                                </a>
                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                    </h3>
                                    <div class="info-text">
                                        Рады поделиться новостью с приемки нашего специального продольно-фрезерного
                                        станка с ЧПУ ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#">Модернизация</a> </li>
                                        <li class="category__item"><a href="#">Машиностроение</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram3.jpg" alt="" class="img">
                                        <div class="label">Новости</div>
                                    </div>
                                </a>
                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Абразивно-отрезной станок СИ400-30Л</a>
                                    </h3>
                                    <div class="info-text">
                                        Абразивно-отрезной станок СИ400-30Л предназначен для резки абразивным кругом
                                        диаметром до ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#"> Машиностроение</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{> layout/footer}}