{{!Модернизация протяжных станков}}

{{> layout/header}}
<div class="content modernization-lingering-bench-page">


    <div class="container">
        <div class="content__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Каталог</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Продольно-фрезерные станки</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link active">Поставка ПФС РАМА</a></li>
            </ul>
            <aside class="aside" id="aside">
                <div class="aside__inner">
                    <nav class="aside__nav" id="menu">
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#head" class="nav__link">Портальные станки PAMA
                                    Vertiram</a></li>
                            <li class="nav__item"><a href="#section1" class="nav__link">Станки для высокоскоростной
                                    обработки</a></li>
                            <li class="nav__item"><a href="#section2" class="nav__link">Станки для обработки тяжелых
                                    деталей с небольшими припусками</a></li>
                            <li class="nav__item"><a href="#section3" class="nav__link">Станки для тяжелой обработки с
                                    большими припусками</a></li>
                        </ul>
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#section4" class="nav__link">Возможные конфигурации
                                    станков</a></li>

                        </ul>


                    </nav>
                    <div class="aside__action">

                        <a href="#" class="btn primary-btn gray">Новые станки SITEK</a>
                        <a href="#" class="btn primary-btn yellow">Новые станки РАМА</a>
                    </div>
                </div>



            </aside>

            <div class="content__info">
                <section class="section primary-section">
                    <div class="section__inner">

                        <h2 class="section__title">Модернизация протяжных станков </h2>
                        <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>

                        <div class="section__slider">

                            <div class="slider-primary" id="section-slider">
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
                                <div class="slider__text">
                                 Перевод на электромеханический привод
                                </div>

                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
     <div class="slider__text">
                                    Перевод на электромеханический привод
                                </div>
                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
     <div class="slider__text">
                                   Перевод на электромеханический привод
                                </div>
                                </div>


                            </div>
                            
                        </div>
                    <div class="section__info">
                        <h3 class="section__info-title">
                              <span class="number">
                                   01
                               </span>
                               <span class="text">
                                модернизация с переводом на электро-механический привод
                               </span>
                        </h3>
                         <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>
                        <div class="section__info-top">
                         <div class="section__elem">
                        
                        <div class="elem__top">
                        <div class="elem__top-left">
                            <p>
                                Краткое описание сценария
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus exercitationem nulla alias consequatur numquam quidem, sequi maxime soluta fugit!</p>
                               
                        </div>
                        <div class="elem__top-right">
                            <img src="../static/images/sitekgram1.jpg" alt="">
                              <a href="" class="download-link" target="_blank"> <svg viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.0402 15.245L16.015 10.4434C16.474 10.0004 16.474 9.27727 16.0352 8.82774C15.5695 8.38472 14.8202 8.38472 14.3612 8.82774L11.371 11.7139V1.14011C11.371 0.820882 11.2427 0.54074 11.0267 0.332262C10.8107 0.130299 10.5137 0 10.1897 0C9.54175 0 9.0085 0.51468 9.0085 1.14011V11.7139L6.01825 8.82774C5.5525 8.38472 4.80325 8.38472 4.34425 8.82774C4.11475 9.04925 4 9.34242 4 9.63559C4 9.92876 4.11475 10.2219 4.34425 10.4434L9.319 15.245L9.346 15.271C9.52825 15.4469 9.75775 15.5577 10.0007 15.5902C10.0109 15.5902 10.021 15.5919 10.0311 15.5935C10.0412 15.5951 10.0514 15.5968 10.0615 15.5968L10.1762 15.6033C10.2167 15.6033 10.2572 15.6033 10.2977 15.5968C10.3079 15.5968 10.318 15.5951 10.3281 15.5935C10.3382 15.5919 10.3484 15.5902 10.3585 15.5902C10.5947 15.5577 10.831 15.4469 11.0132 15.271C11.0153 15.269 11.018 15.2671 11.0209 15.2649C11.0276 15.26 11.0355 15.254 11.0402 15.245ZM0.987119 18.0258C0.441948 18.0258 0 18.4677 0 19.0129C0 19.5581 0.441949 20 0.98712 20H20.0129C20.5581 20 21 19.5581 21 19.0129C21 18.4677 20.5581 18.0258 20.0129 18.0258H0.987119Z"
                                            fill="#0C4DA2" />
                                    </svg>
                                    <span class="text">Скачать брошюру</span></a>
                        </div>
                        </div>
                     
                       </div>
                    </div>

                    </div>
</section>
<section class="section advantages-section">
    <div class="section__inner">
        <div class="section-block">
            <h3 class="section-block__title">
                ПРЕИМУЩЕСТВА ЭЛЕКТРОМЕХАНИЧЕСКИХ ПРОТЯЖНЫХ СТАНКОВ
            </h3>
            <ul class="advantages-list">
                <li class="list-item">
                    <div class="list-item__title">
                        Стабильное протягивание на низких подачах
                    </div>
                    <div class="list-item__info">
                        <p>Оперативная корректировка параметров протягивания</p>
                    </div>
                      <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки </p>
                    </div>
                </li>
                 <li class="list-item">
                    <div class="list-item__title">
                        Стабильное протягивание на низких подачах
                    </div>
                    <div class="list-item__info">
                        <p>Оперативная корректировка параметров протягивания</p>
                    </div>
                      <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки </p>
                    </div>
                </li>

                  <li class="list-item">
                    <div class="list-item__title">
                        Компактные размеры
                    </div>
                    <div class="list-item__info">
                        <p>Отсутствие гидростанции</p>
                    </div>
                      <div class="list-item__info">
                        <p> Отсутствие теплообненника охлаждения масла </p>
                    </div>
                    <div class="list-item__info">
                        <p>Отсутствуют агрегаты высокого давления </p>
                    </div>
                </li>
                 <li class="list-item">
                    <div class="list-item__title">
                         Лучшее качество протягиваемых деталей
                    </div>
                    <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки</p>
                    </div>
                      <div class="list-item__info">
                        <p>Контроль заточки и поломки протяжного инструмента </p>
                    </div>
                     <div class="list-item__info">
                        <p>Меньше вибраций</p>
                    </div>
                </li>
               
            </ul>
        </div>
   <div class="section-block slider">
          <div class="slider-primary" id="section-slider">
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
                                <div class="slider__text">
                                Видео испытания станка прошедшего модернизацию с переводом на электромеханический привод
                                </div>

                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
     <div class="slider__text">
                                   Видео испытания станка прошедшего модернизацию с переводом на электромеханический привод
                                </div>
                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
     <div class="slider__text">
                                   Видео испытания станка прошедшего модернизацию с переводом на электромеханический привод
                                </div>
                                </div>


                            </div>
        
        </div>
     <div class="section-block">
            <div class="section-block__title">
              Номенклатура проятжных станков переводимых на электро-механический привод
            </div>
            <div class="section-block__table">
                   <div class="table-title">
                    С горизонтальной компановкой
                </div>
                 <div class="table-wrapper">
                      <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Хар-ка 1</th>
                                        <th scope="col" class="title">Хар-ка 2</th>
                                        <th scope="col" class="title">Хар-ка 3</th>
                                        <th scope="col" class="title">Хар-ка 4</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                     <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
                 </div>
            </div>

            <div class="section-block__table">
                <div class="table-title">
                    С вертикальной компановкой
                </div>
                <div class="table-wrapper">
                      <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Хар-ка 1</th>
                                        <th scope="col" class="title">Хар-ка 2</th>
                                        <th scope="col" class="title">Хар-ка 3</th>
                                        <th scope="col" class="title">Хар-ка 4</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                     <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section projects-section">
    <div class="section__inner">
        <h3 class="section__title">
            Примеры реализованных проектов
        </h3>
        <ul class="projects-list">
            <div class="list-item">
                <div class="list-item__left">
                    <div class="left-title">
                        Проект №1
                    </div>
                    <div class="left-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos amet vero eligendi praesentium adipisci porro perspiciatis impedit similique officiis, possimus temporibus quod atque. Aliquam fuga expedita fugiat architecto maxime repellat.

                        </p>
                    </div>
                    <div class="left-link">
               <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                    </div>
                </div>
                <div class="list-item__right">
                    <img src="../static/images/details23.jpg" alt="">
                </div>
            </div>
               <div class="list-item">
                <div class="list-item__left">
                    <div class="left-title">
                        Проект №1
                    </div>
                    <div class="left-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos amet vero eligendi praesentium adipisci porro perspiciatis impedit similique officiis, possimus temporibus quod atque. Aliquam fuga expedita fugiat architecto maxime repellat.

                        </p>
                    </div>
                    <div class="left-link">
               <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                    </div>
                </div>
                <div class="list-item__right">
                    <img src="../static/images/details23.jpg" alt="">
                </div>
            </div>
               <div class="list-item">
                <div class="list-item__left">
                    <div class="left-title">
                        Проект №1
                    </div>
                    <div class="left-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos amet vero eligendi praesentium adipisci porro perspiciatis impedit similique officiis, possimus temporibus quod atque. Aliquam fuga expedita fugiat architecto maxime repellat.

                        </p>
                    </div>
                    <div class="left-link">
               <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                    </div>
                </div>
                <div class="list-item__right">
                    <img src="../static/images/details23.jpg" alt="">
                </div>
            </div>
        </ul>
    </div>
</section>
                <section class="section primary-section padding">
                    <div class="section__inner">
                    <div class="section__info">
                        <h3 class="section__info-title">
                              <span class="number">
                                   02
                               </span>
                               <span class="text">
                                модернизация с переводом на электро-механический привод
                               </span>
                        </h3>
                         <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>
                        <div class="section__info-top">
                         <div class="section__elem">
                        
                        <div class="elem__top">
                        <div class="elem__top-left">
                            <p>
                                Краткое описание сценария
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus exercitationem nulla alias consequatur numquam quidem, sequi maxime soluta fugit!</p>
                               
                        </div>
                        <div class="elem__top-right">
                            <img src="../static/images/sitekgram1.jpg" alt="">
                              <a href="" class="download-link" target="_blank"> <svg viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.0402 15.245L16.015 10.4434C16.474 10.0004 16.474 9.27727 16.0352 8.82774C15.5695 8.38472 14.8202 8.38472 14.3612 8.82774L11.371 11.7139V1.14011C11.371 0.820882 11.2427 0.54074 11.0267 0.332262C10.8107 0.130299 10.5137 0 10.1897 0C9.54175 0 9.0085 0.51468 9.0085 1.14011V11.7139L6.01825 8.82774C5.5525 8.38472 4.80325 8.38472 4.34425 8.82774C4.11475 9.04925 4 9.34242 4 9.63559C4 9.92876 4.11475 10.2219 4.34425 10.4434L9.319 15.245L9.346 15.271C9.52825 15.4469 9.75775 15.5577 10.0007 15.5902C10.0109 15.5902 10.021 15.5919 10.0311 15.5935C10.0412 15.5951 10.0514 15.5968 10.0615 15.5968L10.1762 15.6033C10.2167 15.6033 10.2572 15.6033 10.2977 15.5968C10.3079 15.5968 10.318 15.5951 10.3281 15.5935C10.3382 15.5919 10.3484 15.5902 10.3585 15.5902C10.5947 15.5577 10.831 15.4469 11.0132 15.271C11.0153 15.269 11.018 15.2671 11.0209 15.2649C11.0276 15.26 11.0355 15.254 11.0402 15.245ZM0.987119 18.0258C0.441948 18.0258 0 18.4677 0 19.0129C0 19.5581 0.441949 20 0.98712 20H20.0129C20.5581 20 21 19.5581 21 19.0129C21 18.4677 20.5581 18.0258 20.0129 18.0258H0.987119Z"
                                            fill="#0C4DA2" />
                                    </svg>
                                    <span class="text">Скачать брошюру</span></a>
                        </div>
                        </div>
                     
                       </div>
                    </div>

                    </div>
</section>
<section class="section advantages-section">
    <div class="section__inner">
        <div class="section-block">
            <h3 class="section-block__title">
                ПРЕИМУЩЕСТВА ЭЛЕКТРОМЕХАНИЧЕСКИХ ПРОТЯЖНЫХ СТАНКОВ
            </h3>
            <ul class="advantages-list">
                <li class="list-item">
                    <div class="list-item__title">
                        Стабильное протягивание на низких подачах
                    </div>
                    <div class="list-item__info">
                        <p>Оперативная корректировка параметров протягивания</p>
                    </div>
                      <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки </p>
                    </div>
                </li>
                 <li class="list-item">
                    <div class="list-item__title">
                        Стабильное протягивание на низких подачах
                    </div>
                    <div class="list-item__info">
                        <p>Оперативная корректировка параметров протягивания</p>
                    </div>
                      <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки </p>
                    </div>
                </li>

                  <li class="list-item">
                    <div class="list-item__title">
                        Компактные размеры
                    </div>
                    <div class="list-item__info">
                        <p>Отсутствие гидростанции</p>
                    </div>
                      <div class="list-item__info">
                        <p> Отсутствие теплообненника охлаждения масла </p>
                    </div>
                    <div class="list-item__info">
                        <p>Отсутствуют агрегаты высокого давления </p>
                    </div>
                </li>
                 <li class="list-item">
                    <div class="list-item__title">
                         Лучшее качество протягиваемых деталей
                    </div>
                    <div class="list-item__info">
                        <p>Возможность программного обеспечения постоянного схода стружки</p>
                    </div>
                      <div class="list-item__info">
                        <p>Контроль заточки и поломки протяжного инструмента </p>
                    </div>
                     <div class="list-item__info">
                        <p>Меньше вибраций</p>
                    </div>
                </li>
               
            </ul>
        </div>
   <div class="section-block slider">
          <div class="slider-primary" id="section-slider">
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
                                <div class="slider__text">
                                Видео испытания станка прошедшего модернизацию с переводом на электромеханический привод
                                </div>

                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
     <div class="slider__text">
                                   Видео испытания станка прошедшего модернизацию с переводом на электромеханический привод
                                </div>
                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>
     <div class="slider__text">
                                   Видео испытания станка прошедшего модернизацию с переводом на электромеханический привод
                                </div>
                                </div>


                            </div>
        
        </div>
     <div class="section-block">
            <div class="section-block__title">
              Номенклатура проятжных станков переводимых на электро-механический привод
            </div>
            <div class="section-block__table">
                   <div class="table-title">
                    С горизонтальной компановкой
                </div>
                  <div class="table-wrapper">
                      <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Хар-ка 1</th>
                                        <th scope="col" class="title">Хар-ка 2</th>
                                        <th scope="col" class="title">Хар-ка 3</th>
                                        <th scope="col" class="title">Хар-ка 4</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                     <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
                  </div>
            </div>

            <div class="section-block__table">
                <div class="table-title">
                    С вертикальной компановкой
                </div>
                 <div class="table-wrapper">
                      <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Хар-ка 1</th>
                                        <th scope="col" class="title">Хар-ка 2</th>
                                        <th scope="col" class="title">Хар-ка 3</th>
                                        <th scope="col" class="title">Хар-ка 4</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                     <tr>
                                        <td class="td"><a href="#">СИ777</a>
                                        </td>

                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td class="td">45-73</td>
                                        <td >45-73
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
                 </div>
            </div>
        </div>
        <div class="section-block">
              <div class="section-block__slider">
                  <div class="slider configuration-bench-slider">
                                <div class="slider__inner configuration-bench-slider-created" >
                                    <div class="slider__item">
                                        <div class="slider__item-bottom">
                                            <div class="bottom-left">
                                                <div class="slider__item-text">
                                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                        Pariatur eum nihil eligendi, ratione veniam sint inventore quae
                                                        quisquam optio ipsam doloribus aliquam aut magni fugiat
                                                        repudiandae numquam ipsa praesentium saepe.</p>
                                                           <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                                                </div>
                                            </div>
                                            <div class="bottom-right">
                                                <div class="slider__item-img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider__item">
                                    
                                        <div class="slider__item-bottom">
                                            <div class="bottom-left">
                                                <div class="slider__item-text">
                                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                        Pariatur eum nihil eligendi, ratione veniam sint inventore quae
                                                        quisquam optio ipsam doloribus aliquam aut magni fugiat
                                                        repudiandae numquam ipsa praesentium saepe.</p>
                                                           <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                                                </div>
                                            </div>
                                            <div class="bottom-right">
                                                <div class="slider__item-img">
                                                    <img src="../static/images/sitekgram1.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>
    </div>
</section>
<section class="section projects-section">
    <div class="section__inner">
        <h3 class="section__title">
            Примеры реализованных проектов
        </h3>
        <ul class="projects-list">
            <div class="list-item">
                <div class="list-item__left">
                    <div class="left-title">
                        Проект №1
                    </div>
                    <div class="left-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos amet vero eligendi praesentium adipisci porro perspiciatis impedit similique officiis, possimus temporibus quod atque. Aliquam fuga expedita fugiat architecto maxime repellat.

                        </p>
                    </div>
                    <div class="left-link">
               <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                    </div>
                </div>
                <div class="list-item__right">
                    <img src="../static/images/details23.jpg" alt="">
                </div>
            </div>
               <div class="list-item">
                <div class="list-item__left">
                    <div class="left-title">
                        Проект №1
                    </div>
                    <div class="left-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos amet vero eligendi praesentium adipisci porro perspiciatis impedit similique officiis, possimus temporibus quod atque. Aliquam fuga expedita fugiat architecto maxime repellat.

                        </p>
                    </div>
                    <div class="left-link">
               <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                    </div>
                </div>
                <div class="list-item__right">
                    <img src="../static/images/details23.jpg" alt="">
                </div>
            </div>
               <div class="list-item">
                <div class="list-item__left">
                    <div class="left-title">
                        Проект №1
                    </div>
                    <div class="left-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos amet vero eligendi praesentium adipisci porro perspiciatis impedit similique officiis, possimus temporibus quod atque. Aliquam fuga expedita fugiat architecto maxime repellat.

                        </p>
                    </div>
                    <div class="left-link">
               <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                    </div>
                </div>
                <div class="list-item__right">
                    <img src="../static/images/details23.jpg" alt="">
                </div>
            </div>
        </ul>
    </div>
</section>


            </div>
        </div>

    </div>

</div>

<section class="section reference-section">
  <div class="container">
        <div class="section__inner">
        <h3 class="section__title">
            Референц-лист по модернизации протяжных стакнов
        </h3>
        <div class="section__info">
            <a href="" class="btn secondary-btn">sitekgram doc</a>
        </div>
    </div>
  </div>
</section>


<section class="section client-section">
  <div class="container">
        <div class="section__inner">
        <h3 class="section__title">
           НАши заказчики
        </h3>
        <div class="section__info">
           <div class="slider clients-slider">
               <div class="slider__item">
                   <div class="slider__item-left">
                       <img src="../static/images/client1.png" alt="">
                   </div>
                   <div class="slider__item-right">
                       <div class="item-title">
                            ПАО «Корпорация ВСМПО-АВИСМА
                       </div>
                       <div class="item-info">
                           Российская металлургическая компания, производящая титан и изделия из него. Крупнейший в мире производитель титана. Глубоко интегрирована в мировую авиакосмическую индустрию.
                       </div>
                   </div>
               </div>
                <div class="slider__item">
                   <div class="slider__item-left">
                       <img src="../static/images/client1.png" alt="">
                   </div>
                   <div class="slider__item-right">
                       <div class="item-title">
                            ПАО «Корпорация ВСМПО-АВИСМА
                       </div>
                       <div class="item-info">
                           Российская металлургическая компания, производящая титан и изделия из него. Крупнейший в мире производитель титана. Глубоко интегрирована в мировую авиакосмическую индустрию.
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
  </div>
</section>

{{>section/sitekgram}}
{{>section/information}}
{{>layout/footer}}