{{!Модернизация горизонтально-расточных станков с узлами РАМА}}

{{> layout/header}}
<div class="content example-modernization-page">


    <div class="container">
        <div class="content__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Каталог</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Продольно-фрезерные станки</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link active">Поставка ПФС РАМА</a></li>
            </ul>
            <aside class="aside" id="aside">
                <div class="aside__inner">
                    <nav class="aside__nav" id="menu">
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#head" class="nav__link">Портальные станки PAMA
                                    Vertiram</a></li>
                            <li class="nav__item"><a href="#section1" class="nav__link">Станки для высокоскоростной
                                    обработки</a></li>
                            <li class="nav__item"><a href="#section2" class="nav__link">Станки для обработки тяжелых
                                    деталей с небольшими припусками</a></li>
                            <li class="nav__item"><a href="#section3" class="nav__link">Станки для тяжелой обработки с
                                    большими припусками</a></li>
                        </ul>
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#section4" class="nav__link">Возможные конфигурации
                                    станков</a></li>

                        </ul>


                    </nav>
                    <div class="aside__action">

                        <a href="#" class="btn primary-btn gray">Новые станки SITEK</a>
                        <a href="#" class="btn primary-btn yellow">Новые станки РАМА</a>
                    </div>
                </div>



            </aside>

            <div class="content__info">
                <section class="section primary-section">
                    <div class="section__inner">

                        <h2 class="section__title">Модернизация горизонтально-расточных станков с узлами РАМА</h2>
                        <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>

                        <div class="section__slider">

                            <div class="slider-primary" id="section-slider">
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>


                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>

                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>

                                </div>


                            </div>

                        </div>


                    </div>
                </section>
                <section class="section scenario-section scroll" id="section1">
                    <div class="section__inner">
                        <h3 class="section__title">
                        
                          Сценарий выполнения модернизации
                        </h3>
                  
                        <div class="section__info">
                        <div class="slider scenario-slider" >
                            <div class="slider__inner" id="scenario-slider">
                                <div class="slider__item">
                                    <div class="slider__item-top">
                                        <h4 class="slider__item-title">
                                            Замена стойки и шпиндельной бабки
                                        </h4>
                                    </div>
                                    <div class="slider__item-bottom">
                                        <div class="bottom-left">
                                            <p>Шпиндель - основной узел передней бабки (шпиндельной бабки). Передний конец шпинделя имеет внутреннюю коническую расточку с конусом Морзе № 5, в которую вставляется передний центр и различные приспособления для закрепления заготовок. На переднем конце шпинделя имеется посадочный конус, по которому устанавливаются патроны для закрепления заготовок.</p>
                                        </div>
                                        <div class="bottom-right">
                                            <img src="../static/images/scenario-img.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                 <div class="slider__item">
                                    <div class="slider__item-top">
                                        <h4 class="slider__item-title">
                                            Замена стойки и шпиндельной бабки
                                        </h4>
                                    </div>
                                    <div class="slider__item-bottom">
                                        <div class="bottom-left">
                                            <p>Шпиндель - основной узел передней бабки (шпиндельной бабки). Передний конец шпинделя имеет внутреннюю коническую расточку с конусом Морзе № 5, в которую вставляется передний центр и различные приспособления для закрепления заготовок. На переднем конце шпинделя имеется посадочный конус, по которому устанавливаются патроны для закрепления заготовок.</p>
                                        </div>
                                        <div class="bottom-right">
                                            <img src="../static/images/scenario-img.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                       
                    </div>
                </section>

                <section class="section advantages-section">
                    <div class="section__inner">
                        <h3 class="section__title">
                            Преимущества
                        </h3>
                        <div class="section__info">
                            <p>Ситек и ПАМА разработают под Вашу детель проект, включающий в себя:</p>
                            <ul class="section__info-list">
                                <li class="list-item">
                                    <span class="number">
                                        01
                                    </span>
                                    <span class="text">
                                        Необходимый набор фрезерных головок.
                                    </span>
                                </li>
                                  <li class="list-item">
                                    <span class="number">
                                        02
                                    </span>
                                    <span class="text">
                                        Подбор оптимальной модели станка.
                                    </span>
                                </li>
                                  <li class="list-item">
                                    <span class="number">
                                        03
                                    </span>
                                    <span class="text">
                                       Разработку технологии с учетом современныхтехнологий и тренлов отрасли.
                                    </span>
                                </li>
                                  <li class="list-item">
                                    <span class="number">
                                        04
                                    </span>
                                    <span class="text">
                                        Подбор приспособлений.
                                    </span>
                                </li>
                                  <li class="list-item">
                                    <span class="number">
                                        05
                                    </span>
                                    <span class="text">
                                        Подбор или разработка режущего инструмента.
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="section example-modernization-section">
                    <div class="section__inner">
                        <h3 class="section__title">
                            Пример модернизации станка SKODA W200
                        </h3>
                        <div class="section__table">
                             <table class="table min">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="title">Показатель</th>
                                            <th scope="col" class="title">До модернизации</th>
                                               <th scope="col" class="title">После модернизации</th>
                                                
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                            <td>Скорость обработки 
                                            </td>

                                            <td>100</td>
                                            <td>100</td>
                                         
                                        </tr>
                                               <tr>
                                            <td>Макс размер
                                            </td>

                                            <td>100</td>
                                            <td>100</td>
                                            
                                        </tr>
                                  




                                    </tbody>
                              
                                </table>
                        </div>
                        <div class="section__link">
                               <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                        </div>
                       <div class="section__table">
                            <h3 class="section__table-title">
                                Накладные фрезерные головки
                            </h3>
                            <h4 class="section__table-subtitle">
                                Изготовлены на собственном заводе по производству головок в г. Брешиа
                            </h4>
                            <div class="table-block">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="title">Модель</th>
                                            <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                               <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                  <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                     <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>




                                    </tbody>
                                    <button class="table-wrap">
                                        <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z" fill="#0C4DA2" fill-opacity="0.4"/>
</svg>

                                    </button>
                                </table>
                            </div>
                        </div>
                        <div class="section__table ">
                            <h3 class="section__table-title">
                                Оценка выигрыша в производительности
                            </h3>
                            <div class="section__table-bottom">
                                <div class="bottom-left">
                                    <img src="../static/images/Rectangle 82.jpg" alt="">
                                </div>
                                <div class="bottom-center">
                                     <table class="table min">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="title">Показатель</th>
                                            <th scope="col" class="title">До модернизации</th>
                                               <th scope="col" class="title">После модернизации</th>
                                                
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                            <td>Скорость обработки 
                                            </td>

                                            <td>100</td>
                                            <td>100</td>
                                         
                                        </tr>
                                               <tr>
                                            <td>Макс размер
                                            </td>

                                            <td>100</td>
                                            <td>100</td>
                                            
                                        </tr>
                                  




                                    </tbody>
                              
                                </table>
                                </div>
                                <div class="bottom-right">
                                    <img src="../static/images/Rectangle 83.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="section__block conclusions">
                            <div class="section__block-left">
                                <h4 class="left-title">Выводы</h4>
                                <ul class="left-list">
                                    <li class="list-item">
                                        <span class="number">01</span><span class="text">Необходимый набор фрезерных головок.</span>
                                        
                                    </li>
                                       <li class="list-item">
                                   <span class="number">02</span><span class="text">Подбор оптимальной модели станка.</span>
                                        
                                    </li>
                                       <li class="list-item">
                                        
                                                <span class="number">03</span><span class="text">Разработку технологии с учетом современных технологий и трендов отрасли.</span>
                                        
                                    </li>
                                       <li class="list-item">
                                        <span class="number">04</span><span class="text">Подбор приспособлений.</span>
                                        
                                    </li>
                                       <li class="list-item">
                                         <span class="number">05</span><span class="text">Подбор или разработка режущего инструмента.</span>
                                        
                                    </li>
                                </ul>
   
                                                   
                                                       
                            </div>
                            <div class="section__block-right"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>

</div>
<section class="section  advantages-bench-section" id="advantages-bench-section">
    <div class="container">
        <div class="section__inner">
            <h2 class="section__title">
                Ключевые преимущества станков РАМА
            </h2>
            <div class="section__info">
                <div class="section__info-left">
                    <div class="info-list">
                        <h4 class="info-list__title">
                            Ситек и ПАМА разработают под Вашу детель проект, включающий в себя:
                        </h4>
                        <ul class="list">
                            <li class="list-item">
                                <span class="number">01</span> <span class="text">Необходимый набор фрезерных
                                    головок.</span>
                            </li>
                            <li class="list-item">
                                <span class="number">02</span> <span class="text">Подбор оптимальной модели
                                    станка.</span>
                            </li>
                            <li class="list-item">
                                <span class="number">03</span> <span class="text">Разработку технологии с учетом
                                    современных технологий и тренлов отрасли.</span>
                            </li>
                            <li class="list-item">
                                <span class="number">04</span> <span class="text">Подбор приспособлений.</span>
                            </li>
                            <li class="list-item">
                                <span class="number">05</span> <span class="text">Подбор или разработка режущего
                                    инструмента.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section__info-right">
                    <div class="slider-block">
                        <div class="slider advantages-bench-slider ">
                            <div class="slider__inner" id="advantages-bench-slider">
                                <div class="slider__item">
                                    <img src="../static/images/sitekgram1.jpg" alt="">
                                </div>
                                <div class="slider__item">
                                    <img src="../static/images/sitekgram1.jpg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>section/sitekgram}}
{{>section/information}}
{{>layout/footer}}