{{!Модернизация горизонтально-расточных станков}}

{{> layout/header}}
<div class="content modernization-bench-page">


    <div class="container">
        <div class="content__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Каталог</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Продольно-фрезерные станки</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link active">Поставка ПФС РАМА</a></li>
            </ul>
            <aside class="aside" id="aside">
                <div class="aside__inner">
                    <nav class="aside__nav" id="menu">
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#head" class="nav__link">Портальные станки PAMA
                                    Vertiram</a></li>
                            <li class="nav__item"><a href="#section1" class="nav__link">Станки для высокоскоростной
                                    обработки</a></li>
                            <li class="nav__item"><a href="#section2" class="nav__link">Станки для обработки тяжелых
                                    деталей с небольшими припусками</a></li>
                            <li class="nav__item"><a href="#section3" class="nav__link">Станки для тяжелой обработки с
                                    большими припусками</a></li>
                        </ul>
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#section4" class="nav__link">Возможные конфигурации
                                    станков</a></li>

                        </ul>


                    </nav>
                    <div class="aside__action">

                        <a href="#" class="btn primary-btn gray">Новые станки SITEK</a>
                        <a href="#" class="btn primary-btn yellow">Новые станки РАМА</a>
                    </div>
                </div>



            </aside>

            <div class="content__info">
                <section class="section primary-section">
                    <div class="section__inner">

                        <h2 class="section__title">Модернизация горизонтально-расточных станков</h2>
                        <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>

                       <div class="video-block">
                                <div class="video">
                                    <img src="../static/images/video-example.png" alt="">
                                </div>
                            </div>
                        <div class="section__info">
                       <p>
                            Текстовый блок (общее описание) для SEO. Станок SPEEDRAM идеально подходит для работы с массивными и тяжелыми деталями, чья обработка требует вертикального положения шпинделя. Всего за один установ можно совершить неограниченное число расточных, фрезерных и токарных операций.
                       </p>
                        </div>


                    </div>
                </section>
                <section class="section scenario-section">
                    <div class="section__inner">
                        <h3 class="section__title">
                            СЦЕНАРИИ МОДЕРНИЗАЦИИ
                       </h3>
                       <div class="section__elem">
                           <h3 class="elem__title">
                               <span class="number">
                                   01
                               </span>
                               <span class="text">
                                   Сценарий 1:электрика
                               </span>
                           </h3>
                        <div class="elem__top">
                        <div class="elem__top-left">
                            <p>
                                Краткое описание сценария
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus exercitationem nulla alias consequatur numquam quidem, sequi maxime soluta fugit!</p>
                        </div>
                        <div class="elem__top-right">
                            <img src="../static/images/sitekgram1.jpg" alt="">
                                 <a href="" class="article__link">Смотреть ТЗ в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                        </div>
                        </div>
                        <div class="elem__bottom">
                            <h4 class="title">
                                Референции
                            </h4>
                            <div class="bottom-block">
                                <div class="bottom-left">
                                    <div class="bottom-left__title">
                                        CAMOZZI
                                    </div>
                                    <div class="bottom-left__img">
                                        <img src="../static/images/model1.png" alt="">
                                    </div>
                                </div>
                                <div class="bottom-right">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Проект</th>
                                        <th scope="col" class="title">Описание</th>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Кол-во</th>
                                        <th scope="col" class="title">Sitekgram</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">09742-00</a>
                                        </td>

                                        <td class="td center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam porttitor cras tincidunt sed duis. Sed ipsum ipsum, sed interdum eget viverra semper. Felis enim amet, at et ac scelerisque sit aliquet. Morbi faucibus aliquet sit ut.</td>
                                        <td class="td">CU555</td>
                                        <td>7</td>
                                        <td class="td-sitekgram"><a href="#" class="sitekgram-link">Смотреть Case</a>
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
                                </div>
                            </div>
                        </div>
                       </div>
                    
                          <div class="section__elem">
                           <h3 class="elem__title">
                               <span class="number">
                                   02
                               </span>
                               <span class="text">
                                  Сценарий 2:электрика + гидравлика
                               </span>
                           </h3>
                        <div class="elem__top">
                        <div class="elem__top-left">
                            <p>
                                Краткое описание сценария
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus exercitationem nulla alias consequatur numquam quidem, sequi maxime soluta fugit!</p>
                        </div>
                        <div class="elem__top-right">
                            <img src="../static/images/sitekgram1.jpg" alt="">
                                 <a href="" class="article__link">Смотреть ТЗ в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                        </div>
                        </div>
                        <div class="elem__bottom">
                            <h4 class="title">
                                Референции
                            </h4>
                            <div class="bottom-block">
                                <div class="bottom-left">
                                    <div class="bottom-left__title">
                                        CAMOZZI
                                    </div>
                                    <div class="bottom-left__img">
                                        <img src="../static/images/model1.png" alt="">
                                    </div>
                                </div>
                                <div class="bottom-right">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Проект</th>
                                        <th scope="col" class="title">Описание</th>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Кол-во</th>
                                        <th scope="col" class="title">Sitekgram</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">09742-00</a>
                                        </td>

                                        <td class="td center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam porttitor cras tincidunt sed duis. Sed ipsum ipsum, sed interdum eget viverra semper. Felis enim amet, at et ac scelerisque sit aliquet. Morbi faucibus aliquet sit ut.</td>
                                        <td class="td">CU555</td>
                                        <td>7</td>
                                        <td class="td-sitekgram"><a href="#" class="sitekgram-link">Смотреть Case</a>
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
                                </div>
                            </div>
                        </div>
                       </div>
                          <div class="section__elem">
                           <h3 class="elem__title">
                               <span class="number">
                                   03
                               </span>
                               <span class="text">
                                  Сценарий 3:электрика + гидравлика + механика
                               </span>
                           </h3>
                        <div class="elem__top">
                        <div class="elem__top-left">
                            <p>
                                Краткое описание сценария
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus exercitationem nulla alias consequatur numquam quidem, sequi maxime soluta fugit!</p>
                        </div>
                        <div class="elem__top-right">
                            <img src="../static/images/sitekgram1.jpg" alt="">
                                 <a href="" class="article__link">Смотреть ТЗ в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                        </div>
                        </div>
                        <div class="elem__bottom">
                            <h4 class="title">
                                Референции
                            </h4>
                            <div class="bottom-block">
                                <div class="bottom-left">
                                    <div class="bottom-left__title">
                                        CAMOZZI
                                    </div>
                                    <div class="bottom-left__img">
                                        <img src="../static/images/model1.png" alt="">
                                    </div>
                                </div>
                                <div class="bottom-right">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Проект</th>
                                        <th scope="col" class="title">Описание</th>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Кол-во</th>
                                        <th scope="col" class="title">Sitekgram</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">09742-00</a>
                                        </td>

                                        <td class="td center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam porttitor cras tincidunt sed duis. Sed ipsum ipsum, sed interdum eget viverra semper. Felis enim amet, at et ac scelerisque sit aliquet. Morbi faucibus aliquet sit ut.</td>
                                        <td class="td">CU555</td>
                                        <td>7</td>
                                        <td class="td-sitekgram"><a href="#" class="sitekgram-link">Смотреть Case</a>
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
                                </div>
                            </div>
                        </div>
                       </div>
                          <div class="section__elem">
                           <h3 class="elem__title">
                               <span class="number">
                                   04
                               </span>
                               <span class="text">
                                   Сценарий 4:глубокая модернизация (замена узлов)
                               </span>
                           </h3>
                        <div class="elem__top">
                        <div class="elem__top-left">
                            <p>
                                Краткое описание сценария
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus exercitationem nulla alias consequatur numquam quidem, sequi maxime soluta fugit!</p>
                        </div>
                        <div class="elem__top-right">
                            <img src="../static/images/sitekgram1.jpg" alt="">
                                 <a href="" class="article__link">Смотреть ТЗ в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                        </div>
                        </div>
                        <div class="elem__bottom">
                            <h4 class="title">
                                Референции
                            </h4>
                            <div class="bottom-block">
                                <div class="bottom-left">
                                    <div class="bottom-left__title">
                                        CAMOZZI
                                    </div>
                                    <div class="bottom-left__img">
                                        <img src="../static/images/model1.png" alt="">
                                    </div>
                                </div>
                                <div class="bottom-right">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Проект</th>
                                        <th scope="col" class="title">Описание</th>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Кол-во</th>
                                        <th scope="col" class="title">Sitekgram</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">09742-00</a>
                                        </td>

                                        <td class="td center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam porttitor cras tincidunt sed duis. Sed ipsum ipsum, sed interdum eget viverra semper. Felis enim amet, at et ac scelerisque sit aliquet. Morbi faucibus aliquet sit ut.</td>
                                        <td class="td">CU555</td>
                                        <td>7</td>
                                        <td class="td-sitekgram"><a href="#" class="sitekgram-link">Смотреть Case</a>
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
                                </div>
                            </div>
                        </div>
                       </div>
                           <div class="section__elem">
                           <h3 class="elem__title">
                               <span class="number">
                                   05
                               </span>
                               <span class="text">
                                  Сценарий 5:модернизация с узлами РАМА
                               </span>
                           </h3>
                        <div class="elem__top">
                        <div class="elem__top-left">
                            <p>
                                Краткое описание сценария
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus exercitationem nulla alias consequatur numquam quidem, sequi maxime soluta fugit!</p>
                        </div>
                        <div class="elem__top-right">
                            <img src="../static/images/sitekgram1.jpg" alt="">
                                 <a href="" class="article__link">Смотреть ТЗ в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                        </div>
                        </div>
                        <div class="elem__bottom">
                            <h4 class="title">
                                Референции
                            </h4>
                            <div class="bottom-block">
                                <div class="bottom-left">
                                    <div class="bottom-left__title">
                                        CAMOZZI
                                    </div>
                                    <div class="bottom-left__img">
                                        <img src="../static/images/model1.png" alt="">
                                    </div>
                                </div>
                                <div class="bottom-right">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="title">Проект</th>
                                        <th scope="col" class="title">Описание</th>
                                        <th scope="col" class="title">Станок</th>
                                        <th scope="col" class="title">Кол-во</th>
                                        <th scope="col" class="title">Sitekgram</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    <tr>
                                        <td class="td"><a href="#">09742-00</a>
                                        </td>

                                        <td class="td center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam porttitor cras tincidunt sed duis. Sed ipsum ipsum, sed interdum eget viverra semper. Felis enim amet, at et ac scelerisque sit aliquet. Morbi faucibus aliquet sit ut.</td>
                                        <td class="td">CU555</td>
                                        <td>7</td>
                                        <td class="td-sitekgram"><a href="#" class="sitekgram-link">Смотреть Case</a>
                                        </td>
                                    </tr>
                                   



                                </tbody>

                            </table>
                                </div>
                            </div>
                        </div>
                       </div>
                    </div>
                </section>
       
            </div>

        </div>

    </div>

<section class="section other-section" id="other-asideScroll">
    <div class="container">
        <div class="section__inner padding">
            <h3 class="section__title">
         Алтернатива от Sitek
            </h3>
            <div class="section__info">
   <div class="row catalog__list-row ">

                                <div class="col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog1.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                               
   </div>
            </div>
        </div>
    </div>
</section>
<section class="section other-section" id="other-asideScroll">
    <div class="container">
        <div class="section__inner padding">
            <h3 class="section__title">
          Также мы модернизируем
            </h3>
            <div class="section__info">
   <div class="row catalog__list-row ">

                                <div class="col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog1.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog2.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="col__link-left green">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog3.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
   </div>
            </div>
        </div>
    </div>
</section>
    {{>section/sitekgram}}
    {{>section/information}}
    {{>layout/footer}}