{{!Модернизация горизонтально-расточных станков с узлами РАМА}}

{{> layout/header}}
<div class="content example-modernization-page">


    <div class="container">
        <div class="content__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Каталог</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link">Продольно-фрезерные станки</a></li>
                <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link active">Поставка ПФС РАМА</a></li>
            </ul>
            <aside class="aside" id="aside">
                <div class="aside__inner">
                    <nav class="aside__nav" id="menu">
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#head" class="nav__link">Портальные станки PAMA
                                    Vertiram</a></li>
                            <li class="nav__item"><a href="#section1" class="nav__link">Станки для высокоскоростной
                                    обработки</a></li>
                            <li class="nav__item"><a href="#section2" class="nav__link">Станки для обработки тяжелых
                                    деталей с небольшими припусками</a></li>
                            <li class="nav__item"><a href="#section3" class="nav__link">Станки для тяжелой обработки с
                                    большими припусками</a></li>
                        </ul>
                        <ul class="nav__list">
                            <li class="nav__item-title"><a href="#section4" class="nav__link">Возможные конфигурации
                                    станков</a></li>

                        </ul>


                    </nav>
                    <div class="aside__action">

                        <a href="#" class="btn primary-btn gray">Новые станки SITEK</a>
                        <a href="#" class="btn primary-btn yellow">Новые станки РАМА</a>
                    </div>
                </div>



            </aside>

            <div class="content__info">
                <section class="section primary-section">
                    <div class="section__inner">

                        <h2 class="section__title">Модернизация горизонтально-расточных станков с узлами РАМА</h2>
                        <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z"
                                    fill="#0C4DA2" />
                            </svg>
                            Добавить в мой файл
                        </span>

                        <div class="section__slider">

                            <div class="slider-primary" id="section-slider">
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>


                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>

                                </div>
                                <div class="slider-item">
                                    <div class="video">
                                        <img src="../static/images/video-example.png" alt="">
                                    </div>

                                </div>


                            </div>

                        </div>


                    </div>
                </section>
                <section class="section discomfort-section">
                    <div class="section__inner">
                        <h3 class="section__title">
                            Болевые точки
                        </h3>
                        <div class="section__list">
                            <div class="list-item">
                                <div class="list-item__left">
                                        <div class="img">
                                            <img src="../static/images/discomfort.png.png" alt="">
                                        </div>
                                        <div class="text">
                                            Болевая точка 1
                                        </div>
                                </div>
                                <div class="list-item__right">
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis inventore dolorem maiores perferendis ex. Recusandae beatae dignissimos id reiciendis perferendis!
                                    </p>
                                </div>
                            </div>
                             <div class="list-item">
                                <div class="list-item__left">
                                        <div class="img">
                                            <img src="../static/images/discomfort.png.png" alt="">
                                        </div>
                                        <div class="text">
                                            Болевая точка 1
                                        </div>
                                </div>
                                <div class="list-item__right">
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis inventore dolorem maiores perferendis ex. Recusandae beatae dignissimos id reiciendis perferendis!
                                    </p>
                                </div>
                            </div>
                             <div class="list-item">
                                <div class="list-item__left">
                                        <div class="img">
                                            <img src="../static/images/discomfort.png.png" alt="">
                                        </div>
                                        <div class="text">
                                            Болевая точка 1
                                        </div>
                                </div>
                                <div class="list-item__right">
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis inventore dolorem maiores perferendis ex. Recusandae beatae dignissimos id reiciendis perferendis!
                                    </p>
                                </div>
                            </div>
                             <div class="list-item">
                                <div class="list-item__left">
                                        <div class="img">
                                            <img src="../static/images/discomfort.png.png" alt="">
                                        </div>
                                        <div class="text">
                                            Болевая точка 1
                                        </div>
                                </div>
                                <div class="list-item__right">
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis inventore dolorem maiores perferendis ex. Recusandae beatae dignissimos id reiciendis perferendis!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section scenario-section scroll" id="section1">
                    <div class="section__inner">
                        <h3 class="section__title">
                        
                          Сценарий выполнения модернизации
                        </h3>
                  
                        <div class="section__info">
                        <div class="slider scenario-slider" >
                            <div class="slider__inner" id="scenario-slider">
                                <div class="slider__item">
                                    <div class="slider__item-top">
                                        <h4 class="slider__item-title">
                                            Замена стойки и шпиндельной бабки
                                        </h4>
                                    </div>
                                    <div class="slider__item-bottom">
                                        <div class="bottom-left">
                                            <p>Шпиндель - основной узел передней бабки (шпиндельной бабки). Передний конец шпинделя имеет внутреннюю коническую расточку с конусом Морзе № 5, в которую вставляется передний центр и различные приспособления для закрепления заготовок. На переднем конце шпинделя имеется посадочный конус, по которому устанавливаются патроны для закрепления заготовок.</p>
                                        </div>
                                        <div class="bottom-right">
                                            <img src="../static/images/scenario-img.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                 <div class="slider__item">
                                    <div class="slider__item-top">
                                        <h4 class="slider__item-title">
                                            Замена стойки и шпиндельной бабки
                                        </h4>
                                    </div>
                                    <div class="slider__item-bottom">
                                        <div class="bottom-left">
                                            <p>Шпиндель - основной узел передней бабки (шпиндельной бабки). Передний конец шпинделя имеет внутреннюю коническую расточку с конусом Морзе № 5, в которую вставляется передний центр и различные приспособления для закрепления заготовок. На переднем конце шпинделя имеется посадочный конус, по которому устанавливаются патроны для закрепления заготовок.</p>
                                        </div>
                                        <div class="bottom-right">
                                            <img src="../static/images/scenario-img.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                       
                    </div>
                </section>

                <section class="section advantages-section">
                    <div class="section__inner">
                        <h3 class="section__title">
                            Преимущества
                        </h3>
                        <div class="section__info">
                            <p>Ситек и ПАМА разработают под Вашу детель проект, включающий в себя:</p>
                            <ul class="section__info-list">
                                <li class="list-item">
                                    <span class="number">
                                        01
                                    </span>
                                    <span class="text">
                                        Необходимый набор фрезерных головок.
                                    </span>
                                </li>
                                  <li class="list-item">
                                    <span class="number">
                                        02
                                    </span>
                                    <span class="text">
                                        Подбор оптимальной модели станка.
                                    </span>
                                </li>
                                  <li class="list-item">
                                    <span class="number">
                                        03
                                    </span>
                                    <span class="text">
                                       Разработку технологии с учетом современныхтехнологий и тренлов отрасли.
                                    </span>
                                </li>
                                  <li class="list-item">
                                    <span class="number">
                                        04
                                    </span>
                                    <span class="text">
                                        Подбор приспособлений.
                                    </span>
                                </li>
                                  <li class="list-item">
                                    <span class="number">
                                        05
                                    </span>
                                    <span class="text">
                                        Подбор или разработка режущего инструмента.
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="section example-modernization-section">
                    <div class="section__inner">
                        <h3 class="section__title">
                            Пример модернизации станка SKODA W200
                        </h3>
                        <div class="section__table">
                            <div class="table-wrapper">
                                 <table class="table min">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="title">Показатель</th>
                                            <th scope="col" class="title">До модернизации</th>
                                               <th scope="col" class="title">После модернизации</th>
                                                
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                            <td>Скорость обработки 
                                            </td>

                                            <td>100</td>
                                            <td>100</td>
                                         
                                        </tr>
                                               <tr>
                                            <td>Макс размер
                                            </td>

                                            <td>100</td>
                                            <td>100</td>
                                            
                                        </tr>
                                  




                                    </tbody>
                              
                                </table>
                            </div>
                        </div>
                        <div class="section__link">
                               <a href="" class="article__link">подробнее в sitekgram<svg width="6"
                                        height="12" viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                        </div>
                       <div class="section__table">
                            <h3 class="section__table-title">
                                Накладные фрезерные головки
                            </h3>
                            <h4 class="section__table-subtitle">
                                Изготовлены на собственном заводе по производству головок в г. Брешиа
                            </h4>
                            <div class="table-block">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="title">Модель</th>
                                            <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                               <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                  <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                                     <th scope="col" class="title"><img src="../static/images/sitekgram1.jpg" alt=""><span>Название головки</span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>
                                               <tr>
                                            <td><a href="#">ТТХ1</a>
                                            </td>

                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>
                                                ...
                                            </td>
                                        </tr>




                                    </tbody>
                                    <button class="table-wrap">
                                        <svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z" fill="#0C4DA2" fill-opacity="0.4"/>
</svg>

                                    </button>
                                </table>
                            </div>
                        </div>
                        <div class="section__table tablet ">
                            <h3 class="section__table-title">
                                Оценка выигрыша в производительности
                            </h3>
                            <div class="section__table-bottom">
                                <div class="bottom-left">
                                    <img src="../static/images/Rectangle 82.jpg" alt="">
                                </div>
                                <div class="bottom-center">
                                  <div class="table-wrapper">
                                         <table class="table min">
                                    <thead>
                                        <tr>
                                           
                                            <th scope="col" class="title">До модернизации</th>
                                               <th scope="col" class="title">После модернизации</th>
                                                
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                           
                                           

                                            <td>100</td>
                                            <td>100</td>
                                         
                                        </tr>
                                               <tr>
                                         

                                            <td>100</td>
                                            <td>100</td>
                                            
                                        </tr>
                                  




                                    </tbody>
                              
                                </table>
                                  </div>
                                </div>
                                <div class="bottom-right">
                                    <img src="../static/images/Rectangle 83.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="section__block conclusions">
                            <div class="section__block-left">
                                <h4 class="left-title">Выводы</h4>
                                <ul class="left-list">
                                    <li class="list-item">
                                        <span class="number">01</span><span class="text">Необходимый набор фрезерных головок.</span>
                                        
                                    </li>
                                       <li class="list-item">
                                   <span class="number">02</span><span class="text">Подбор оптимальной модели станка.</span>
                                        
                                    </li>
                                       <li class="list-item">
                                        
                                                <span class="number">03</span><span class="text">Разработку технологии с учетом современных технологий и трендов отрасли.</span>
                                        
                                    </li>
                                       <li class="list-item">
                                        <span class="number">04</span><span class="text">Подбор приспособлений.</span>
                                        
                                    </li>
                                       <li class="list-item">
                                         <span class="number">05</span><span class="text">Подбор или разработка режущего инструмента.</span>
                                        
                                    </li>
                                </ul>
   
                                                   
                                                       
                            </div>
                            <div class="section__block-right">
                                   <a href="" class="download-link" target="_blank"> <svg viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.0402 15.245L16.015 10.4434C16.474 10.0004 16.474 9.27727 16.0352 8.82774C15.5695 8.38472 14.8202 8.38472 14.3612 8.82774L11.371 11.7139V1.14011C11.371 0.820882 11.2427 0.54074 11.0267 0.332262C10.8107 0.130299 10.5137 0 10.1897 0C9.54175 0 9.0085 0.51468 9.0085 1.14011V11.7139L6.01825 8.82774C5.5525 8.38472 4.80325 8.38472 4.34425 8.82774C4.11475 9.04925 4 9.34242 4 9.63559C4 9.92876 4.11475 10.2219 4.34425 10.4434L9.319 15.245L9.346 15.271C9.52825 15.4469 9.75775 15.5577 10.0007 15.5902C10.0109 15.5902 10.021 15.5919 10.0311 15.5935C10.0412 15.5951 10.0514 15.5968 10.0615 15.5968L10.1762 15.6033C10.2167 15.6033 10.2572 15.6033 10.2977 15.5968C10.3079 15.5968 10.318 15.5951 10.3281 15.5935C10.3382 15.5919 10.3484 15.5902 10.3585 15.5902C10.5947 15.5577 10.831 15.4469 11.0132 15.271C11.0153 15.269 11.018 15.2671 11.0209 15.2649C11.0276 15.26 11.0355 15.254 11.0402 15.245ZM0.987119 18.0258C0.441948 18.0258 0 18.4677 0 19.0129C0 19.5581 0.441949 20 0.98712 20H20.0129C20.5581 20 21 19.5581 21 19.0129C21 18.4677 20.5581 18.0258 20.0129 18.0258H0.987119Z"
                                            fill="#0C4DA2" />
                                    </svg>
                                    <span class="text">Скачать презентацию</span></a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section model-bench-section">
    <div class="section__inner">
        <h3 class="section__title">
            Модели станков к ремонту
        </h3>
        <div class="section__info">
            <ul class="model-list">
                <li class="list-item">
                   <div class="list-item__img">
                    <img src="../static/images/model1.png" alt="">
                   </div>
                   <div class="list-item__info">
                       <p>CAMOZZI</p>
                   </div>
                </li>
                  <li class="list-item">
                   <div class="list-item__img">
                    <img src="../static/images/model2.png" alt="">
                   </div>
                   <div class="list-item__info">
                       <p>SCHIESS</p>
                   </div>
                </li>
                  <li class="list-item">
                   <div class="list-item__img">
                    <img src="../static/images/model3.png" alt="">
                   </div>
                   <div class="list-item__info">
                       <p>SKODA</p>
                   </div>
                </li>
                  <li class="list-item">
                   <div class="list-item__img">
                    <img src="../static/images/model4.png" alt="">
                   </div>
                   <div class="list-item__info">
                       <p>TOSHIBA</p>
                   </div>
                </li>
            </ul>
              <span class="button-wrap">Показать больше<div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                    fill="#0C4DA2" fill-opacity="0.4" />
                            </svg></div></span>
        </div>
    </div>
</section>
<section class="section reason-section">
    <div class="section__inner">
        <h3 class="section__title">
            Почему SITEK и как SITEK это будет делать
        </h3>
        <div class="section__info list">
            <div class="section__info-left">
                <h4 class="info-title">PAMA</h4>
                <div class="model-list">
                    <div class="model-list__info">
                        Информация о бренде:
                    </div>
                    <ul class="list">
                        <div class="list-item"><span class="number">1.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">2.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">3.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">4.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">5.</span><span class="text"></span></div>
                    </ul>
                       <div class="model-list__info">
                        Специализация:
                    </div>
                </div>
            </div>
            <div class="section__info-right">
   <h4 class="info-title">Sitek</h4>
                <div class="model-list">
                    <div class="model-list__info">
                        Информация о бренде:
                    </div>
                    <ul class="list">
                        <div class="list-item"><span class="number">1.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">2.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">3.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">4.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">5.</span><span class="text"></span></div>
                    </ul>
                       <div class="model-list__info">
                        Специализация:
                    </div>
                </div>
            </div>
        </div>
           <span class="button-wrap">Показать больше<div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                    fill="#0C4DA2" fill-opacity="0.4" />
                            </svg></div></span>
                            <div class="section__info description">
                               <div class="section__info-top">
                                   <div class="top-left">
                                       <img src="../static/images/human1.jpg" alt="">
                                   </div>
                                   <div class="top-center">
                                       <div class="title">Вместе</div>
                                       <div class="text">
                                           <p>
                                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, natus iure architecto fugit, culpa doloribus, voluptates illo hic facilis nostrum totam? Libero tempore ex accusamus, exercitationem corrupti ducimus nesciunt alias.
                                           </p>
                                       </div>
                                   </div>
                                   <div class="top-right">
                                       <img src="../static/images/human2.jpg" alt="">
                                   </div>
                               </div>
                               <div class="section__info-bottom">
                                   <div class="bottom-left">
                                       <div class="title">
                                           Продукты
                                       </div>
                                   </div>
                                   <div class="bottom-right">
                                       <ul class="list">
                                           <div class="list-item">
                                               <span class="number">1.</span>
                                               <span class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                                           </div>
                                            <div class="list-item">
                                               <span class="number">2.</span>
                                               <span class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                                           </div>
                                            <div class="list-item">
                                               <span class="number">3.</span>
                                               <span class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                                           </div>
                                            <div class="list-item">
                                               <span class="number">4.</span>
                                               <span class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                                           </div>
                                            <div class="list-item">
                                               <span class="number">5.</span>
                                               <span class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                                           </div>
                                       </ul>
                                   </div>
                               </div>
                            </div>
                              <div class="section__info sublist">
                                  <div class="section__info-top">
                                      <h4 class="section__info-title">
                                          УЧАСТИЕ СТОРОН В ПРОЕКТЕ МОДЕРНИЗАЦИИ
                                      </h4>
                                  </div>
         <div class="section__info-bottom">
                <div class="section__info-left">
                <h4 class="info-title">PAMA</h4>
                <div class="model-list">
                    <div class="model-list__info">
                        Информация о бренде:
                    </div>
                    <ul class="list">
                        <div class="list-item"><span class="number">1.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">2.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">3.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">4.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">5.</span><span class="text"></span></div>
                    </ul>
                       <div class="model-list__info">
                        Специализация:
                    </div>
                </div>
            </div>
            <div class="section__info-right">
   <h4 class="info-title">Sitek</h4>
                <div class="model-list">
                    <div class="model-list__info">
                        Информация о бренде:
                    </div>
                    <ul class="list">
                        <div class="list-item"><span class="number">1.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">2.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">3.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">4.</span><span class="text"></span></div>
                        <div class="list-item"><span class="number">5.</span><span class="text"></span></div>
                    </ul>
                       <div class="model-list__info">
                        Специализация:
                    </div>
                </div>
            </div>
         </div>
        </div>
    </div>
</section>
            </div>
        </div>

    </div>

</div>

<section class="section other-section" id="other-asideScroll">
    <div class="container">
        <div class="section__inner">
            <h3 class="section__title">
          Также мы модернизируем
            </h3>
            <div class="section__info">
   <div class="row catalog__list-row ">

                                <div class="col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog1.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog2.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="col__link-left green">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog3.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
   </div>
            </div>
        </div>
    </div>
</section>

{{>section/sitekgram}}
{{>section/information}}
{{>layout/footer}}