{{!Новости}}

{{!Разновидность станков}}

{{> layout/header}}
<div class="content news">
    <div class="container">
        <div class="content__inner">
       <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
                    <li class="breadcrumbs__item "><a href="services.html" class="breadcrumbs__link">Sitekgram</a>
                    </li>
                    <li class="breadcrumbs__item "><a href="services.html" class="breadcrumbs__link">Новости</a>
                    </li>
                    <li class="breadcrumbs__item "><a href="services.html"
                            class="breadcrumbs__link active">Абразивно-отрезной станок СИ400-30Л</a>
                    </li>

                </ul>

            <div class="content__info">
         
                <section class="section primary-section">
                    <h2 class="section__title">Абразивно-отрезной станок СИ400-30Л</h2>
                     <div class="section__info">
                      <div class="section__info-text">
                          <p>Новый абразивно-отрезной станок СИ400-30Л производства СИТЕК</p>
                          <p>Не так давно один из наших Заказчиков поставил перед нами непростую задачу - исходя из специфики его производства, ему был срочно нужен специальный абразивно-отрезной станок для резки деталей литниково-питающей системы и шихты.</p>
                          <p>Наши специалисты в короткий срок спроектировали и изготовили совершенно новый абразивно-отрезной станок СИ400-30Л для резки таких деталей с абразивным кругом диаметром до 400 мм и применением СОЖ.</p>
                          <div class="img">
                              <img src="../static/images/image 3.png" alt="">
                          </div>
                          <p>СИ400-30Л оснащен ручным электро-гидравлическим управлением с джойстиками и регуляторами скорости и лазерным указателем реза, что значительно упрощает процесс работы со станком.</p>
                          <p>Вы также можете ознакомится с работой станка на следующем видео:</p>
                      </div>
                      <div class="video">
                          <img src="../static/images/video.png" alt="">
                      </div>
                     </div>
                </section>



            </div>
        </div>

    </div>

</div>
<section class="section sitekgram news">
    <div class="container">
        <div class="section__inner">
            <div class="section__top">
                <h2 class="section__title">Последние новости</h2>
            <div class="sitekgram__result-field">
                <div class="result">Показано 3 из <span>27</span></div>
                <div class="sitekgram-list">
                    <div class="row sitekgram">
                        <div class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                        <div class="label">Видео</div>
                                    </div>
                                </a>

                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                    </h3>
                                    <div class="info-text">
                                        Друзья, рады поделиться видео с предварительной приемки нашего специального
                                        ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                        <div class="label">Пресса</div>
                                    </div>
                                </a>
                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                    </h3>
                                    <div class="info-text">
                                        Рады поделиться новостью с приемки нашего специального продольно-фрезерного
                                        станка с ЧПУ ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#">Модернизация</a> </li>
                                        <li class="category__item"><a href="#">Машиностроение</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div href="" class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram3.jpg" alt="" class="img">
                                        <div class="label">Новости</div>
                                    </div>
                                </a>
                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Абразивно-отрезной станок СИ400-30Л</a>
                                    </h3>
                                    <div class="info-text">
                                        Абразивно-отрезной станок СИ400-30Л предназначен для резки абразивным кругом
                                        диаметром до ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#"> Машиностроение</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a href="#" class="sitekgram__list-expand"><span>Показать больше</span>
                        <div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                    fill="#0C4DA2" fill-opacity="0.4" />
                            </svg></div>
                    </a>
                </div>
                <div class="sitekgram-sublist">
                    <div class="row sitekgram">
                        <div class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram1.jpg" alt="" class="img">
                                        <div class="label">Видео</div>
                                    </div>
                                </a>

                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Продольно-фрезерный станок СИ620Ф4</a>
                                    </h3>
                                    <div class="info-text">
                                        Друзья, рады поделиться видео с предварительной приемки нашего специального
                                        ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#">Продольно-фрезерный</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram2.jpg" alt="" class="img">
                                        <div class="label">Пресса</div>
                                    </div>
                                </a>
                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Ситек Инжиринг – резидент Парка высоких технологий</a>
                                    </h3>
                                    <div class="info-text">
                                        Рады поделиться новостью с приемки нашего специального продольно-фрезерного
                                        станка с ЧПУ ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#">Модернизация</a> </li>
                                        <li class="category__item"><a href="#">Машиностроение</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sitekgram__col">
                            <div class="col__inner">
                                <a href="">
                                    <div class="col__img">
                                        <img src="../static/images/sitekgram3.jpg" alt="" class="img">
                                        <div class="label">Новости</div>
                                    </div>
                                </a>
                                <div class="col__info">
                                    <h3 class="info-title">
                                        <a href="">Абразивно-отрезной станок СИ400-30Л</a>
                                    </h3>
                                    <div class="info-text">
                                        Абразивно-отрезной станок СИ400-30Л предназначен для резки абразивным кругом
                                        диаметром до ...
                                    </div>

                                    <ul class="category">
                                        <li class="category__item"><a href="#"> Машиностроение</a> </li>
                                        <li class="category__item"><a href="#">...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>

            <div>

            </div>
        </div>
    </div>
</section>

</div>

{{> layout/footer}}


