{{!Ситек и авиастроение}}

{{> layout/header}}
<div class="content sitek-scope-page">
    <div class="container">
        <div class="content__inner">

            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Каталог</a></li>
                <li class="breadcrumbs__item "><a href="#" class="breadcrumbs__link active">Ситек и авиастроение</a>
                </li>


            </ul>



        </div>
    </div>

    <div class="content__info">

        <section class="section sitek-scope-section">
            <div class="section__inner">
                <h2 class="section__title">
                    SITEK И АВИАСТРОЕНИЕ
                </h2>
                <div class="slider">
                    <div class="main__slider">
                        <div class="main__slider-inner" id="main__slider">
                            <div class="main__slider-item">
                                <div class="slider-img">
                                    <img class="img" src="../static/images/main-slider-item.jpg"></img>
                                </div>

                                <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                            </div>
                            <div class="main__slider-item">
                                <div class="slider-img">
                                    <img class="img" src="../static/images/main-slider-item.jpg"></img>
                                </div>
                                <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                            </div>
                            <div class="main__slider-item">
                                <div class="slider-img">
                                    <img class="img" src="../static/images/main-slider-item.jpg"></img>
                                </div>
                                <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                            </div>
                            <div class="main__slider-item">
                                <div class="slider-img">
                                    <img class="img" src="../static/images/main-slider-item.jpg"></img>
                                </div>
                                <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                            </div>
                            <div class="main__slider-item">
                                <div class="slider-img">
                                    <img class="img" src="../static/images/main-slider-item.jpg"></img>
                                </div>
                                <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                            </div>
                            <div class="main__slider-item">
                                <div class="slider-img">
                                    <img class="img" src="../static/images/main-slider-item.jpg"></img>
                                </div>
                                <div class="slider-text">Инжиринговая группа компаний в области станкостроения</div>
                            </div>
                        </div>
                        <div class="slider-arrow">
                            <div class="prev-arrow">
                                <svg width="20" height="40" viewBox="0 0 20 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.6526 37.2029C15.8112 37.4186 16.0286 37.5427 16.257 37.5479C16.4853 37.5532 16.7059 37.4392 16.8702 37.231C17.0345 37.0227 17.1291 36.7374 17.1331 36.4377C17.1371 36.138 17.0502 35.8484 16.8916 35.6328L5.05695 20.0998L16.8916 4.56683C16.9895 4.47042 17.0706 4.34751 17.1292 4.20643C17.1878 4.06535 17.2226 3.90939 17.2312 3.74911C17.2399 3.58884 17.2223 3.42798 17.1795 3.27744C17.1366 3.12691 17.0697 2.9902 16.9831 2.87658C16.8966 2.76296 16.7924 2.67508 16.6777 2.6189C16.563 2.56271 16.4405 2.53953 16.3183 2.55092C16.1962 2.56231 16.0774 2.60801 15.9699 2.68492C15.8624 2.76183 15.7688 2.86816 15.6953 2.9967L3.2198 19.3147C3.06324 19.5244 2.97554 19.8062 2.97554 20.0998C2.97554 20.3934 3.06324 20.6752 3.2198 20.8849L15.6526 37.2029Z"
                                        fill="white" fill-opacity="0.6" />
                                    <path
                                        d="M17.6971 35.0402L17.6921 35.0334L17.687 35.0267L6.31413 20.0998L17.6517 5.21929C17.8259 5.03227 17.9588 4.81604 18.0527 4.59001C18.157 4.33892 18.2153 4.07096 18.2298 3.80318C18.2443 3.5353 18.2152 3.2636 18.1413 3.00392L17.1795 3.27744L18.1413 3.00391C18.0676 2.74465 17.9478 2.49273 17.7785 2.27053C17.6091 2.04808 17.3877 1.85317 17.1176 1.72086C16.8449 1.58724 16.5386 1.52604 16.2255 1.55524C15.9134 1.58435 15.6279 1.69999 15.388 1.87167C15.1722 2.02605 14.9987 2.22129 14.8666 2.43414L2.42537 18.7074L2.42532 18.7074L2.41858 18.7164C2.11738 19.1197 1.97554 19.6182 1.97554 20.0998C1.97554 20.5815 2.11738 21.0799 2.41858 21.4832L2.41854 21.4833L2.42437 21.4909L14.8529 37.8034C15.1599 38.2165 15.6441 38.5341 16.234 38.5477C16.8298 38.5614 17.3319 38.2602 17.6553 37.8504C17.9735 37.4471 18.1265 36.9409 18.133 36.451C18.1396 35.961 18.0001 35.4521 17.6971 35.0402Z"
                                        stroke="white" stroke-opacity="0.6" stroke-width="2" />
                                </svg>


                            </div>
                            <div class="next-arrow">
                                <svg width="19" height="40" viewBox="0 0 19 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.87035 3.0715C3.71172 2.85585 3.49431 2.73175 3.26595 2.72649C3.0376 2.72123 2.81701 2.83525 2.65271 3.04346C2.4884 3.25167 2.39385 3.53702 2.38984 3.83674C2.38584 4.13645 2.47271 4.42597 2.63135 4.64162L14.466 20.1746L2.63135 35.7076C2.53341 35.804 2.45239 35.9269 2.39379 36.068C2.3352 36.2091 2.30038 36.365 2.2917 36.5253C2.28302 36.6856 2.30069 36.8464 2.34349 36.997C2.3863 37.1475 2.45326 37.2842 2.53982 37.3978C2.62639 37.5115 2.73055 37.5993 2.84524 37.6555C2.95994 37.7117 3.0825 37.7349 3.20461 37.7235C3.32673 37.7121 3.44555 37.6664 3.55304 37.5895C3.66053 37.5126 3.75417 37.4063 3.82763 37.2777L16.3031 20.9597C16.4597 20.75 16.5474 20.4682 16.5474 20.1746C16.5474 19.881 16.4597 19.5992 16.3031 19.3895L3.87035 3.0715Z"
                                        fill="white" fill-opacity="0.6" />
                                    <path
                                        d="M1.82582 5.23419L1.83081 5.24097L1.83591 5.24766L13.2088 20.1746L1.87128 35.0551C1.69706 35.2421 1.56417 35.4584 1.47029 35.6844C1.36599 35.9355 1.30766 36.2034 1.29316 36.4712C1.27866 36.7391 1.30778 37.0108 1.38163 37.2705L2.34349 36.997L1.38163 37.2705C1.45536 37.5298 1.5751 37.7817 1.7444 38.0039C1.91388 38.2263 2.13524 38.4212 2.40532 38.5536C2.67809 38.6872 2.98439 38.7484 3.29749 38.7192C3.60951 38.6901 3.89503 38.5744 4.13495 38.4027C4.35072 38.2484 4.52421 38.0531 4.6563 37.8403L17.0976 21.567L17.0976 21.5671L17.1044 21.558C17.4056 21.1547 17.5474 20.6563 17.5474 20.1746C17.5474 19.693 17.4056 19.1945 17.1044 18.7912L17.1044 18.7912L17.0986 18.7835L4.67001 2.47101C4.36301 2.05796 3.87888 1.74034 3.28897 1.72676C2.69315 1.71304 2.19102 2.01425 1.86769 2.42399C1.54944 2.82729 1.39648 3.33356 1.38993 3.82337C1.38338 4.31345 1.5228 4.82227 1.82582 5.23419Z"
                                        stroke="white" stroke-opacity="0.6" stroke-width="2" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="section__info">
                        <div class="article">
                            <div class="article__left">
                                <h3 class="article__title">
                                    Заголовок статьи
                                </h3>
                                <div class="article__text">
                                    <p>Текст статьи о деятельности, станках, опыте компании СЕТЕК в области
                                        Авиастроения. Текст статьи о деятельности, станках, опыте компании СЕТЕК в
                                        области Авиастроения. Текст статьи о деятельности, станках, опыте компании СЕТЕК
                                        в области Авиастроения.Текст статьи о деятельности, станках, опыте компании
                                        СЕТЕК в области Авиастроения.</p>
                                </div>

                                <a href="" class="article__link">Читать подробнее <svg width="6" height="12"
                                        viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>

                            </div>
                            <div class="article__right">
                                <div class="article__link">

                                    <a href="" class="sitekgram-link">
                                        <div class="sitekgram-link__img">
                                            <img src="../static/images/sitekgram-img1.png" alt="">
                                        </div>
                                        <div class="sitekgram-link__left blue">
                                            <svg width="20" height="27" viewBox="0 0 20 27"
                                                xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                <path
                                                    d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z" />
                                            </svg>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg" class="icon-bot">
                                                <path
                                                    d="M11.4286 9.48714L13.03 7.88714C13.2992 7.62672 13.66 7.48247 14.0346 7.48546C14.4092 7.48844 14.7676 7.63843 15.0326 7.90311C15.2977 8.1678 15.4482 8.526 15.4517 8.90057C15.4552 9.27514 15.3115 9.6361 15.0514 9.90571L11.01 13.9471C10.8776 14.0803 10.7203 14.1859 10.5469 14.258C10.3736 14.3301 10.1877 14.3672 10 14.3672C9.81227 14.3672 9.6264 14.3301 9.45307 14.258C9.27973 14.1859 9.12236 14.0803 8.99 13.9471L4.94857 9.90571C4.81594 9.77289 4.71076 9.61525 4.63905 9.44178C4.56734 9.26831 4.5305 9.08241 4.53063 8.8947C4.5309 8.51561 4.68175 8.15215 4.95 7.88429C5.21825 7.61642 5.58192 7.46608 5.96101 7.46635C6.3401 7.46662 6.70356 7.61747 6.97143 7.88572L8.57143 9.48714V1.42857C8.57143 1.04969 8.72194 0.686328 8.98985 0.418419C9.25776 0.15051 9.62112 0 10 0C10.3789 0 10.7422 0.15051 11.0102 0.418419C11.2781 0.686328 11.4286 1.04969 11.4286 1.42857V9.48714ZM1.42857 17.1429H18.5714C18.9503 17.1429 19.3137 17.2934 19.5816 17.5613C19.8495 17.8292 20 18.1925 20 18.5714C20 18.9503 19.8495 19.3137 19.5816 19.5816C19.3137 19.8495 18.9503 20 18.5714 20H1.42857C1.04969 20 0.686328 19.8495 0.418419 19.5816C0.15051 19.3137 0 18.9503 0 18.5714C0 18.1925 0.15051 17.8292 0.418419 17.5613C0.686328 17.2934 1.04969 17.1429 1.42857 17.1429Z"
                                                    fill="white" fill-opacity="0.8" />
                                            </svg>
                                        </div>
                                    </a>
                                    <div class="sitekgram-link__text">
                                        О “Ситек”
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </section>
        <div class="container">
            <section class="section reference-section">
                <div class="section__inner">
                    <h2 class="section__title">
                        Референции по модернизации станков
                    </h2>
     <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z" fill="#0C4DA2"/>
</svg>
Добавить в мой файл
</span>  
                    <div class="section__bottom">
                        <div class="section__info">
                            <div class="section__info-left">
                                <h3 class="title">
                                    ПАО “Корпорация ВСМПАО-АВИСМА”
                                </h3>
                                <div class="logo">
                                    <img src="../static/images/referense-logo.png" alt="">
                                </div>
                                <div class="text">
                                    <p>Российская металлургическая компания, призводящая титан и изделия из него.
                                        Крупнейший в мире призволитель титана.</p>
                                </div>
                            </div>
                            <div class="section__info-right">
                                <div class="section__info-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="title">Рабочий диапазон</th>
                                                <th scope="col" class="title">Количество</th>
                                                <th scope="col" class="title">Проект</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            <tr>
                                                <td class="left"><a href="#">Токарно карусельный станок мод, 1512</a>
                                                </td>
                                                <td class="right">1</td>
                                                <td class="right">09742-00</td>
                                            </tr>
                                            <tr>
                                                <td class="left"><a href="#">Токарно карусельный станок мод. 1512</a>
                                                </td>
                                                <td class="right">4</td>
                                                <td class="right">07391-00</td>
                                            </tr>
                                            <tr>
                                                <td class="left">...</td>
                                                <td class="right">...</td>
                                                <td class="right">...</td>
                                            </tr>
                                            <tr>
                                                <td class="left">...</td>
                                                <td class="right">...</td>
                                                <td class="right">...</td>
                                            </tr>

                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="section__info">
                            <div class="section__info-left">
                                <h3 class="title">
                                    ООО “Авиастроение”
                                </h3>
                                <div class="logo">
                                    <img src="../static/images/sikorsky.png" alt="">
                                </div>
                                <div class="text">
                                    <p>Российская металлургическая компания, призводящая титан и изделия из него.
                                        Крупнейший в мире призволитель титана.</p>
                                </div>
                            </div>
                            <div class="section__info-right">
                                <div class="section__info-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="title">Станок</th>
                                                <th scope="col" class="title">Количество</th>
                                                <th scope="col" class="title">Проект</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            <tr>
                                                <td class="left"><a href="#">Токарный станок 1А660</a></td>
                                                <td class="right">1</td>
                                                <td class="right">09742-00</td>


                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="section__info">
                            <div class="section__info-left">
                                <h3 class="title">
                                    Референции с NDA
                                </h3>
                            </div>
                            <div class="section__info-right">
                                <div class="section__info-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="title">Станок</th>
                                                <th scope="col" class="title">Количество</th>

                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            <tr>
                                                <td class="left"><a href="#">Токарный станок 1А660</a></td>
                                                <td class="right">1</td>



                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section referense-newsbench-section">
                <div class="section__inner">
                    <h3 class="section__title">
                        Референции по поставке новых станков
                    </h3>
                         <span class="add-field"><svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.13636e-06 26L-6.24412e-09 0.142865L19.8802 -5.23544e-09L20 26L9.94012 19.2857L-1.13636e-06 26Z" fill="#0C4DA2"/>
</svg>
Добавить в мой файл
</span>  
                 <div class="section__info">
                        <div class="section__table">
                         <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="title">Рабочий диапазон</th>
                                                <th scope="col" class="title">Количество</th>
                                                <th scope="col" class="title">Проект</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            <tr>
                                                <td class="left"><a href="#">Токарно карусельный станок мод, 1512</a>
                                                </td>
                                                <td class="right">1</td>
                                                <td class="right">09742-00</td>
                                            </tr>
                                            <tr>
                                                <td class="left"><a href="#">Токарно карусельный станок мод. 1512</a>
                                                </td>
                                                <td class="right">4</td>
                                                <td class="right">07391-00</td>
                                            </tr>
                                            <tr>
                                                <td class="left">...</td>
                                                <td class="right">...</td>
                                                <td class="right">...</td>
                                            </tr>
                                            <tr>
                                                <td class="left">...</td>
                                                <td class="right">...</td>
                                                <td class="right">...</td>
                                            </tr>

                                        </tbody>

                                    </table>
                    </div>
                 </div>
                </div>
            </section>
            <section class="section nomenclature-section">
                <div class="section__inner">
                    <h3 class="section__title">
                        Номенклатура обрабатываемых деталей
                    </h3>
                    <ul class="details-list">
                        <li class="list-item"><a href="#" class="list-link">
                            <div class="left">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.1365e-06 26L-6.24486e-09 0.142865L19.8802 -5.23482e-09L20 26L9.94012 19.2857L-1.1365e-06 26Z" fill="white" fill-opacity="0.8"/>
</svg>

                            </div>
                            <div class="list-link__img">
                                <img src="../static/images/nomenklatyr-detail.png" alt="">
                            </div>
                            <div class="list-link__text">
                                <div class="text-top">
                                   <p> обработка детали 1</p>
                                </div>
                                <div class="text-bottom">

                                </div>
                            </div>
                        </a></li>
                           <li class="list-item"><a href="#" class="list-link">
                            <div class="left">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.1365e-06 26L-6.24486e-09 0.142865L19.8802 -5.23482e-09L20 26L9.94012 19.2857L-1.1365e-06 26Z" fill="white" fill-opacity="0.8"/>
</svg>

                            </div>
                            <div class="list-link__img">
                                <img src="../static/images/nomenklatyr-detail.png" alt="">
                            </div>
                            <div class="list-link__text">
                                <div class="text-top">
                                   <p> обработка детали 1</p>
                                </div>
                                <div class="text-bottom">

                                </div>
                            </div>
                        </a></li>
                           <li class="list-item"><a href="#" class="list-link">
                            <div class="left">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1.1365e-06 26L-6.24486e-09 0.142865L19.8802 -5.23482e-09L20 26L9.94012 19.2857L-1.1365e-06 26Z" fill="white" fill-opacity="0.8"/>
</svg>

                            </div>
                            <div class="list-link__img">
                                <img src="../static/images/nomenklatyr-detail.png" alt="">
                            </div>
                            <div class="list-link__text">
                                <div class="text-top">
                                   <p> обработка детали 1</p>
                                </div>
                                <div class="text-bottom">

                                </div>
                            </div>
                        </a></li>
                    </ul>
                </div>
            </section>
            <section class="section desc-section">
                <div class="section__inner">
                    <div class="section__left">
                           <h3 class="section__left-title">
                                    Заголовок статьи
                                </h3>
                                <div class="section__left-text">
                                    <p>Текст статьи о деятельности, станках, опыте компании СЕТЕК в области
                                        Авиастроения. Текст статьи о деятельности, станках, опыте компании СЕТЕК в
                                        области Авиастроения. Текст статьи о деятельности, станках, опыте компании СЕТЕК
                                        в области Авиастроения.Текст статьи о деятельности, станках, опыте компании
                                        СЕТЕК в области Авиастроения.</p>
                                </div>

                                <a href="" class="section__left-link">Читать подробнее <svg width="6" height="12"
                                        viewBox="0 0 6 12" fill='none' xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 11L5 6L1 1" stroke="#003896" stroke-opacity="0.5" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                    </div>
                    <div class="section__right">
                        <div class="slider slider-scope-min">
                            <div class="slider__inner " id="slider-scope-min">
                                <div class="slider__item">
                                    <img src="../static/images/sinumerik.jpg" alt="">
                                </div>
                                   <div class="slider__item">
                                    <img src="../static/images/sinumerik.jpg" alt="">
                                </div>
                            </div>
                        
                        </div>

                    </div>
                </div>
            </section>
        </div>

    </div>

</div>




{{> section/sitekgram}}
<div class="container">
    <section class="section subtext-scope-section">
    <div class="section__inner">
        <h2 class="section__title">SITEK И АВИАСТРОЕНИЕ</h2>
        <div class="section__info">
                <p>Текст для продвижения. Самолътостроение является одной из наиболее прибыльных и в то же время наиболее капиталоёмких отраслей машиностроения. Немногие страны мира, из числа наиболее развитых государств, обладают полным циклом (макротехнологии) создания авиационной техники – такую промышленность имеют 5–6 государств, обладающие высокими технологиями.</p>
        </div>
    </div>
</section>
</div>
{{>layout/footer}}