{{!Разновидность станков}}

{{> layout/header}}
<div class="content">
    <div class="container">
        <div class="content__inner">
            <aside class="aside" id="aside">
                <div class="aside__inner">
                    <nav class="aside__nav" id="menu">
                        <li class="nav__item"><a href="#head" class="nav__link">Станки</a></li>
                        <li class="nav__item"><a href="#hardware" class="nav__link">Hardware</a></li>
                        <li class="nav__item"><a href="#software" class="nav__link">Software</a></li>
                        <li class="nav__item"><a href="#execution" class="nav__link">Исполнение</a></li>

                    </nav>
                    <div class="aside__action">
                        <a href="#" class="btn primary-btn">Каталог</a>
                        <a href="#" class="btn primary-btn gray">Sitekgram</a>
                        <a href="#" class="btn primary-btn gray">ШЕСТЬ способов связаться с нами</a>
                    </div>
                </div>



            </aside>

            <div class="content__info">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
                    <li class="breadcrumbs__item "><a href="services.html" class="breadcrumbs__link active ">Фрезерные
                            станки</a>
                    </li>

                </ul>
                <section class="section primary-section">
                    <h2 class="section__title">Фрезерные станки</h2>
                    <h3 class="section__subtitle">Комплекты для модернизации станков с ЧПУ </h3>
                    <div class="main__slider">
                        <div class="main__slider-item">
                            <div class="slider-img">
                                <img class="img" src="../static/images/main-slider-item.jpg"></img>
                            </div>

                            <div class="slider-text">Мы с 2012 года поставили... на сумму...</div>
                            <div class="slider-text--top">Классические станки СССР</div>
                        </div>
                        <div class="main__slider-item">
                            <div class="slider-img">
                                <img class="img" src="../static/images/main-slider-item.jpg"></img>
                            </div>
                            <div class="slider-text">Мы с 2012 года поставили... на сумму...</div>
                            <div class="slider-text--top">Классические станки СССР</div>
                        </div>
                        <div class="main__slider-item">
                            <div class="slider-img">
                                <img class="img" src="../static/images/main-slider-item.jpg"></img>
                            </div>
                            <div class="slider-text">Мы с 2012 года поставили... на сумму...</div>
                            <div class="slider-text--top">Классические станки СССР</div>
                        </div>
                        <div class="main__slider-item">
                            <div class="slider-img">
                                <img class="img" src="../static/images/main-slider-item.jpg"></img>
                            </div>
                            <div class="slider-text">Мы с 2012 года поставили... на сумму...</div>
                            <div class="slider-text--top">Классические станки СССР</div>
                        </div>
                        <div class="main__slider-item">
                            <div class="slider-img">
                                <img class="img" src="../static/images/main-slider-item.jpg"></img>
                            </div>
                            <div class="slider-text">Мы с 2012 года поставили... на сумму...</div>
                            <div class="slider-text--top">Классические станки СССР</div>
                        </div>
                        <div class="main__slider-item">
                            <div class="slider-img">
                                <img class="img" src="../static/images/main-slider-item.jpg"></img>
                            </div>
                            <div class="slider-text">Мы с 2012 года поставили... на сумму...</div>
                            <div class="slider-text--top">Классические станки СССР</div>
                        </div>


                </section>


                <section class="section main-section">
                    <div class="section__block-wrap">
                        <h3 class="section__block-subtitle">
                            Ретрофит-комплекты – это собранные электрошкаф и пульт с HARDWARE SIEMENS и SOFTWARE
                            SITEK
                        </h3>
                        <div class="section__block-item available-kits">
                            <div class="item-left">
                                <div class="text">
                                    В настоящий момент ретрофит-комплекты <b>доступны</b> для следующих моделей
                                </div>
                                <ul class="model-list">
                                    <li class="model-list__item"><a href="" class="model-list__link">2171ФЗС3</a></li>
                                    <li class="model-list__item"><a href="" class="model-list__link">2171ФЗС5</a></li>
                                    <li class="model-list__item"><a href="" class="model-list__link">2171ФЗС6</a></li>
                                    <li class="model-list__item"><a href="" class="model-list__link">2171ФЗС3</a></li>
                                    <li class="model-list__item"><a href="" class="model-list__link">2171ФЗС5</a></li>
                                </ul>
                            </div>
                            <div class="item-right">
                                <div class="text">
                                    Скоро будут доступны
                                </div>
                                <ul class="model-list">
                                    <li class="model-list__item"><a href="" class="model-list__link disabled">Ма-655</a>
                                    </li>
                                    <li class="model-list__item"><a href="" class="model-list__link disabled">6P13</a>
                                    </li>
                                    <li class="model-list__item"><a href="" class="model-list__link disabled">Ма-655</a>
                                    </li>
                                    <li class="model-list__item"><a href="" class="model-list__link disabled">Ма-655</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="section__block-item scroll" id='hardware'>
                            <div class="item-label">
                                <img src="../static/images/siemens-logo.png" alt="">
                            </div>
                            <div class="item-label mobile">
                                <img src="../static/images/siemens-mobile-logo.png" alt="">
                            </div>
                            <div class="number"><img src="../static/images/01.png" alt=""></div>
                            <h2 class="item-title">hardware</h2>
                            <h3 class="item-subtitle">Оборудование SIEMENS</h3>
                            <div class="row item-row">
                                <div class="col-md-4 col-12 item-col">
                                    <div class="item-col__img">
                                        <img src="../static/images/hardware1.png" alt="">
                                    </div>
                                    <div class="item-col__name">Счпу</div>
                                    <div class="item-col__desc">Sinumerik 808D Advanced</div>
                                </div>
                                <div class="col-md-4 col-12 item-col">
                                    <div class="item-col__img">
                                        <img src="../static/images/hardware2.png" alt="">
                                    </div>
                                    <div class="item-col__name">привод подач</div>
                                    <div class="item-col__desc">Sinamics V70</div>
                                </div>
                                <div class="col-md-4 col-12 item-col">
                                    <div class="item-col__img">
                                        <img src="../static/images/hardware3.png" alt="">
                                    </div>
                                    <div class="item-col__name">привод шпинделя</div>
                                    <div class="item-col__desc">Sinamics</div>
                                </div>
                            </div>
                            <div class="item-desc">Выбирайте подходящие характеристики приводов подач и главного
                                движения</div>

                        </div>
                        <div class="section__block-item scroll" id='software'>
                            <div class="item-label">
                                <img src="../static/images/index_logo2.png" alt="">
                            </div>
                            <div class="item-label mobile">
                                <img src="../static/images/sitek-mobile-logo.png" alt="">
                            </div>
                            <div class="number"><img src="../static/images/02.png" alt=""></div>
                            <h2 class="item-title">software</h2>
                            <h3 class="item-subtitle">Документация и программное обеспечение SITEK</h3>
                            <div class="row item-row">
                                <div class="col-md-3 col-12 item-col">
                                    <div class="item-col__img">
                                        <img src="../static/images/software1.png" alt="">
                                    </div>
                                    <div class="item-col__name">электросхема</div>

                                </div>
                                <div class="col-md-3 col-12 item-col">
                                    <div class="item-col__img">
                                        <img src="../static/images/software2.png" alt="">
                                    </div>
                                    <div class="item-col__name">программа PLC</div>

                                </div>
                                <div class="col-md-3 col-12 item-col">
                                    <div class="item-col__img">
                                        <img src="../static/images/software3.png" alt="">
                                    </div>
                                    <div class="item-col__name">инструкция оператора</div>

                                </div>
                                <div class="col-md-3 col-12 item-col">
                                    <div class="item-col__img">
                                        <img src="../static/images/software3.png" alt="">
                                    </div>
                                    <div class="item-col__name">инструкция по вводу в эксплуатацию</div>

                                </div>
                            </div>
                            <div class="item-desc">Покупая Ретрофит-комплекты вы получаете проверенную программу
                                электроавтоматики - PLC и техническую поддержку</div>

                        </div>

                        <div class="section__block-item scroll" id='execution'>
                            <div class="item-label">
                                <img src="../static/images/index_logo2.png" alt="">
                            </div>
                            <div class="item-label mobile">
                                <img src="../static/images/sitek-mobile-logo.png" alt="">
                            </div>
                            <div class="number"><img src="../static/images/03.png" alt=""></div>
                            <h2 class="item-title">исполнение</h2>
                            <h3 class="item-subtitle">Собрано SITEK</h3>
                            <div class="main__slider min">
                                <div class="main__slider-item">
                                    <div class="slider-img">
                                        <img class="img" src="../static/images/main-slider-item.jpg"></img>
                                    </div>

                                    <div class="slider-text">Шкаф + Пульт</div>
                                </div>
                                <div class="main__slider-item">
                                    <div class="slider-img">
                                        <img class="img" src="../static/images/main-slider-item.jpg"></img>
                                    </div>
                                    <div class="slider-text">Шкаф + Пульт</div>
                                </div>
                                <div class="main__slider-item">
                                    <div class="slider-img">
                                        <img class="img" src="../static/images/main-slider-item.jpg"></img>
                                    </div>
                                    <div class="slider-text">Шкаф + Пульт</div>
                                </div>


                            </div>
                            <div class="item-desc">Выбирайте подходящий вариант исполнения</div>

                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>

</div>

{{> section/catalog}}

{{> section/information}}
{{> section/sitekgram}}
</div>

{{> layout/footer}}