{{!Тип станка}}

{{> layout/header}}
<div class="content type-bench-page">
    <div class="container">
        <div class="content__inner">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Главная</a></li>
                <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Каталог</a></li>
                <li class="breadcrumbs__item "><a href="#" class="breadcrumbs__link active">Горизонтально-расточные станки</a>
                </li>


            </ul>

            <div class="content__info">

                <section class="section type-bench-section">
                    <div class="section__inner">
                        <h2 class="section__title">
                            Горизонтально-расточные станки
                        </h2>
                    <div class="section__info">
                        <div class="section__info-left">
                          <div class="text">
                              <p>
                                  В горизонтально-расточных станках шпиндель располагается горизонтально. Движения, необходимые для выполнения технологического цикла, сообщаются различным узлам станка. Главным движением V станка является вращательно-поступательное движение шпинделя относительно его оси. Движение подачи сообщается либо инструменту, закрепленному в шпинделе, либо заготовке, установленной на столе или приспособлении, которое установлено на столе и. т.п., либо оператору с помощью специальной подвижной подножки, в зависимости от типа обработки.
                              </p>
                              <p>Вспомогательными движениями в этих станках являются: установочные перемещения шпиндельной бабки в вертикальном направлении, установочные перемещения стола по двум координатам, установочное движение в горизонтальной плоскости оператора, установочное перемещение задней стойки с люнетом, установочное перемещение люнета на задней стойке, переключение скоростей и подач и т. д</p>
                          </div>
                             <span class="button-wrap" id="">Развернуть<div class="arrow-down"><svg width="19" height="11" viewBox="0 0 19 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.5607 0.43934C19.1464 1.02513 19.1464 1.97487 18.5607 2.56066L10.5607 10.5607C9.97487 11.1464 9.02513 11.1464 8.43934 10.5607L0.43934 2.56066C-0.146446 1.97487 -0.146446 1.02513 0.439341 0.439339C1.02513 -0.146447 1.97487 -0.146447 2.56066 0.439339L9.5 7.37868L16.4393 0.43934C17.0251 -0.146447 17.9749 -0.146447 18.5607 0.43934Z"
                                    fill="#0C4DA2" fill-opacity="0.4" />
                            </svg></div></span>
                        </div>
                        <div class="section__info-right">
                            <img src="../static/images/type-bench.jpg" alt="">
                        </div>
                    </div>

<div class="section__projects">
     <div class="row catalog__list-row ">

                                <div class="col-md-6 col-lg-4   catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog1.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
                                <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog2.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Продольно-фрезерные станки РАМА
                                            </h3>
                                            <div class="col__link-left green">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
   <div class=" col-md-6 col-lg-4  catalog__list-col ">
                                    <div class="col__inner">
                                        <a href="" class="col__link">
                                            <div class="col__img">
                                                <img src="../static/images/catalog3.jpg" alt="" class="img">
                                            </div>
                                            <h3 class="col__info">
                                                Горизонтально-расточные станки РАМА
                                            </h3>
                                            <div class="col__link-left blue">
                                                <svg width="20" height="27" viewBox="0 0 20 27"
                                                    xmlns="http://www.w3.org/2000/svg" class="icon-top">
                                                    <path
                                                        d="M0.248778 26.4623L0.248779 0.708092L19.135 0.565796L19.2488 26.4623L9.6919 19.7747L0.248778 26.4623Z"
                                                        fill="white" />
                                                </svg>
                                            </div>
                                            <div class="col__subtext">
                                                <h3 class="subtext-title">
                                                    Модернизация горизонтально-расточных станков на базе узлов РАМА
                                                </h3>
                                                <div class="subtext-info">
                                                    Потребность российского рынка в самолётах МС-21 оценивается в 860
                                                    единиц, заявил журналистам...
                                                </div>
                                            </div>
                                            <div class="col__link-icon">
                                                <img src="../static/images/product-pama-logo_lg.png" alt="">
                                            </div>
                                        </a>


                                    </div>

                                </div>
     </div>
                    </div>
                </section>


            </div>
        </div>

    </div>

</div>

{{> section/information}}

{{>layout/footer}}